@charset "euc-kr";
@import url(png.css);
@import url(board.css);
@import url(faq.css);
@import url(etc.css);
@import url(mypage.css);
@import url(button.css);
/* 공통 스타일 */
*{margin:0; padding:0; font-size:12px; font-family: Dotum, Tahoma, Sans-serif; color:#666666}
html,body{}
caption{display:none}
img { border:0; vertical-align:middle; }
input,select {vertical-align:middle}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
ul, ol, li { list-style:none; }
h1, h2, h3, h4, h5, h6, h7 { font-size:100%; font-weight:normal; }
html:first-child select{padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */ 
a:link { color:#666666; text-decoration: none; }
a:visited { color:#666666; text-decoration: none; }
a:active { color:#666666; text-decoration: none; }
a:hover { color:#333333; text-decoration:none; }

.blind {visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
hr{display:none}
fieldset{ border:0; position:relative; clear:both;}
fieldset:after{ content:""; display:block; float:none; clear:both;}
legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}

.aLeft{ text-align:left !important}
.aCenter{ text-align:center !important}
.aRight{ text-align:right !important}
.nobor{ border:none !important}
.size11,
.size11 *{ font-size:11px; !important}
.size12{ font-size:12px; !important}
.size14{ font-size:14px; !important}
.bold{font-weight:bold !important}
.normal{font-weight:normal !important}
.under{ text-decoration:underline !important}

.tcOrange,
.tcOrange *,
.tcOrange a{color:#d2340f}
.tcBlue,
.tcBlue *,
.tcBlue a{color:#1568b6}
.tcBlack,
.tcBlack *,
.tcBlack a{color:#2d2d2d}



#wrap{ width:936px; margin:auto}
#header{ height:100px; position:relative}
#header .logo{ position:absolute; left:0; top:25px;}
#header .globalTop{ position:absolute; right:0; top:25px;}
#header .menu{ position:absolute; left:0; top:59px; height:41px; width:936px; background:url(/work/eyaCs/images/main/menuBg.gif)}
#header .menu .mainMenu{ position:absolute; left:19px; top:7px;}
#header .menu .mainMenu li{ float:left; margin-right:5px;}
#header .menu .mainMenu2{ position:absolute; left:556px; top:7px;}
#header .menu .mainMenu2 li{ float:left; margin-right:12px;}
#header .menu .btnLinkGame01{position:absolute; right:16px; top:7px;}


#container{}
#container .contents{ float:left; width:665px; overflow:hidden}
#container .aside{float:right; width:255px; padding:9px 0 0 0}

#footer{ height:143px; position:relative; padding:20px 0 0 0}
#footer .link{ padding:5px 0; border-bottom:#e1e1e1 solid 1px;height:18px;}
#footer .link ul{ margin-left:85px;}
#footer .link li{ float:left; }
#footer .logo{ position:absolute; left:11px; top:62px}
#footer .comInfo{ position:absolute; left:83px; top:66px; line-height:16px;}
#footer .comInfo .info{ color:#a8a8a8; font-size:11px;}
#footer .comInfo .copyRight{ color:#616161; font-size:11px;}
#footer .comInfo .copyRight strong{ color:#eb471e}

.mainList{ background:url(/work/eyaCs/images/main/mainListBg.gif) no-repeat; height:271px; margin-bottom:20px; position:relative}
.mainList .list{ position:absolute; left:21px; top:18px;}
.mainList .list li{ float:left}
.mainList .sch{ position:absolute; left:21px; top:198px;}
.mainList .sch select{ width:100px;}
.mainList .sch .keyword{ border:#cdcdcd solid 1px; padding:1px; width:370px; margin-right:5px;}
.mainList .sch .schWord{ padding:12px 0 0 0; text-align:center}
.mainList .sch .schWord strong{ color:#d63c00; font-weight:normal}

.mainFaq{ float:left; border-bottom:#e1e1e1 solid 2px; margin-bottom:24px; width:322px;}
.mainFaq h3{ margin-bottom:10px;}
.mainFaq ol { margin-bottom:10px;}
.mainFaq ol li{ line-height:18px; margin-bottom:1px; _height:18px;}
.mainFaq ol li img{ margin:0 4px 1px 0;}

.mainSch{ float:right; border-bottom:#e1e1e1 solid 2px; margin-bottom:24px; width:322px;}
.mainSch h3{ margin-bottom:10px;}
.mainSch ol { margin-bottom:10px;}
.mainSch ol li{ line-height:18px; margin-bottom:1px; _height:18px;}
.mainSch ol li img{ margin-right:4px;}

.botBanner{ width:665px; overflow:hidden; }
.botBanner ul{ margin-bottom:20px; width:680px; height:108px;}
.botBanner li{ float:left; margin-right:11px;}


#container .aside .top{background:url(/work/eyaCs/images/main/rightTop.gif) no-repeat; height:16px; font-size:0px; line-height:0px;}
#container .aside .ctn{background:url(/work/eyaCs/images/main/rightBg.gif) repeat-y; padding:0 14px;}
#container .aside .bot{background:url(/work/eyaCs/images/main/rightBot.gif) no-repeat; height:16px; font-size:0px; line-height:0px;}

.loginBox{ position:relative; background:url(/work/eyaCs/images/main/loginBoxBg.gif); height:189px; margin-bottom:20px;}
.loginBox .id{ position:absolute; left:22px; top:22px;}
.loginBox .id strong{ font-weight:normal; font:11px Dotum; width:50px; display:inline-block}
.loginBox .id input{ border:#dcdcdc solid 1px; background:#ffffff; padding:2px 2px 1px 2px; height:15px; width:118px;}
.loginBox .id input:hover{}
.loginBox .pw{ position:absolute; left:22px; top:45px;}
.loginBox .pw strong{ font-weight:normal; font:11px Dotum; width:50px; display:inline-block}
.loginBox .pw input{ border:#dcdcdc solid 1px; background:#ffffff; padding:2px 2px 1px 2px; height:15px; width:118px;}
.loginBox .secLogin{ width:100px; margin:auto; position:absolute; left:76px; top:80px; }
.loginBox .secLogin input{ width:13px; height:13px; font-size:11px;}
.loginBox .btnLogin{ width:107px; margin:auto; position:absolute; left:60px; top:104px;}
.loginBox  ul{ position:absolute; left:16px; top:157px; width:200px}
.loginBox  li { float:left;}
.loginBox  li a{ font:11px Dotum;}
.loginBox  li strong{ font:11px Dotum; font-weight:bold}

.logoutBox{ position:relative; background:url(/work/eyaCs/images/main/loginBoxBg.gif); padding:6px 7px; height:177px; margin-bottom:20px;}
.logoutBox .name{ background:#f4f4f2; text-align:center; padding:10px 0;}
.logoutBox .cash{ background:url(/work/eyaCs/images/main/loginDot.gif) repeat-x bottom; height:29px; position:relative; margin-bottom:3px;}
.logoutBox .cash .won{ position:absolute; left:5px; top:8px;}
.logoutBox .cash .btn{ position:absolute; right:0px; top:4px;}

.logoutBox .mList{ float:left}
.logoutBox .mList li{ border-bottom:#e5e5e4 solid 1px; padding:6px 5px 6px 5px ; font-weight:bold; width:70px; background:url(/work/eyaCs/images/main/bulArrow.gif) no-repeat 70px 9px;}
.logoutBox .mList li.on{ background:url(/work/eyaCs/images/main/bulArrowOn.gif) no-repeat 70px 9px;}
.logoutBox .mList li.on a{ color:#ed5835}

.logoutBox .infoList { float:right; border:#e5e5e4 solid 1px; height:102px; margin-top:3px; padding:1px 0}
.logoutBox .infoList li a{ width:110px; padding:3px 8px 2px 8px ; display:inline-block; font-size:11px; line-height:12px;}
.logoutBox .infoList li a:hover{ background:#f4f4f2}



.mainNotice{ margin-bottom:20px;}
.mainNotice .list{ border:#e1e1e0 solid 1px; border-left:none; border-right:none; padding:10px 0 5px 0; background:#f7f7f5; margin-bottom:10px;}
.mainNotice .list li{ background:url(/work/eyaCs/images/main/bul01.gif) no-repeat 8px 7px; line-height:18px; height:18px;  padding:0px 0px 0px 15px ;}
.mainNotice .list li a{ font-size:11px;}

.mainGameHelp{ margin-bottom:70px;}
.mainGameHelp h3{ margin-bottom:10px; border-bottom:#e1e1e0 solid 1px;}
.mainGameHelp .list{margin-bottom:6px;}
.mainGameHelp li{ margin-bottom:3px;}

.gamePolLink{}
.gamePolLink a{ font-size:11px;}
.gamePolLink .sel{ border:#CCCCCC solid 1px; width:219px; padding:3px; background:url(/work/eyaCs/images/main/gamePolicyBtn.gif) no-repeat right top #fcfcfb}

.gamePolLink .list{ border:#CCCCCC solid 1px; width:225px; padding:0px; border-top:none; background:#fcfcfb}
.gamePolLink .list li{margin:0}
.gamePolLink .list li a{ width:221px; display:inline-block; padding:2px; margin:0}
.gamePolLink .list li a:hover{ background:#eaeaea}




.tabCate {position:relative; z-index:1}
.tabCate .depth2{ margin-bottom:0px; position:relative; z-index:9}
.tabCate .depth2 ul{ height:25px;}
.tabCate .depth2 li{ float:left; color:#e1e1e0; height:22px;}
.tabCate .depth2 li a{ padding:1px 10px; color:#6c6c6c}
.tabCate .depth2 .on a{ color:#f24927}
.tabCate .depth2 .on{}

.tabCate .depth3{ height:20px; padding:8px 0 0 5px; background:url(/work/eyaCs/images/main/d3Bg.gif) repeat-x;margin-bottom:10px; position:relative; z-index:8}
.tabCate .depth3 .left{ background:url(/work/eyaCs/images/main/d3Left.gif) no-repeat; height:28px; width:6px; position:absolute; left:0; top:0}
.tabCate .depth3 .right{ background:url(/work/eyaCs/images/main/d3Right.gif) no-repeat; height:28px; width:6px; position:absolute; right:0; top:0}
.tabCate .depth3 .arr{ background:url(/work/eyaCs/images/board/tabDepth3Arrow.gif) no-repeat; width:10px; height:10px; font-size:0px; line-height:0px; position:absolute; top:-9px; }
.tabCate .depth3 .s21{ left:30px}
.tabCate .depth3 .s22{ left:105px}
.tabCate .depth3 ul{}
.tabCate .depth3 li{ float:left; color:#e1e1e0}
.tabCate .depth3 li a{ padding:1px 10px; color:#6c6c6c; font-size:11px;}
.tabCate .depth3 .on a{ color:#f24927}


.tableForm{ border:none; margin-bottom:20px; border-top:#e1e1e0 solid 2px;}
.tableForm td{ border:none; padding:9px 0px 9px 20px; border-bottom:#e1e1e0 solid 1px; font-size:11px !important; line-height:18px;}
.tableForm th{ border:none; padding:9px 10px 9px 20px; border-bottom:#e1e1e0 solid 1px; width:115px; text-align:left; background:#f4f4f2; font-size:12px;}
.tableForm input{ border:#c2c2c2 solid 1px; padding:1px;}
.tableForm textarea{ border:#c2c2c2 solid 1px; padding:2px; overflow:auto}
.tableForm td,
.tableForm td p,
.tableForm td select,
.tableForm td label,
.tableForm td div { font-size:11px;}
.tableForm .textB{ font-size:12px; font-weight:bold; color:#ff7e00}
.tableForm .tLi{ padding:3px 0; line-height:16px;}
.tableForm .ipSelect{ border:#c2c2c2 solid 1px; padding:1px; height:158px; width:368px;}
.tableForm .textRed{ color:#ff3000}
.tableForm .textRed strong{ color:#ff3000}
.tableForm .helpList{ background:#f4f4f2; padding:10px 20px 10px}
.tableForm .helpList a{ font-size:11px;}
.tableForm .helpList .it{ float:left; list-style:decimal; width:190px; font-size:11px; margin-right:30px; margin-bottom:5px;}
.tableForm .fileList{ border:#c2c2c2 solid 1px; padding:1px;}
.bul03{ background:url(/work/eyaCs/images/main/bul02.gif) no-repeat 0 3px; padding:1px 1px 1px 16px }







.myCenterList{ background:#f4f4f2; border-top:#e1e1e1 solid 2px; border-bottom:#e1e1e1 solid 1px; padding:10px; margin-bottom:15px; text-align:right}
.myCenterList a:link{ text-decoration:underline; font-size:11px;}

.titCenter1{ background:url(/work/eyaCs/images/main/bul05.gif) no-repeat 1px 11px; padding:4px 1px 4px 8px; line-height:18px; font-weight:bold}

.centerCom{ position:relative; background:url(/work/eyaCs/consult/images/consultComIMG1.gif) no-repeat; height:236px}
.centerCom p{ position:absolute; left:214px; top:90px; width:335px; font-size:11px; line-height:18px}
.centerCom .btnList{ position:absolute; left:214px; top:160px; width:335px; text-align:left}


.safBox{ padding:40px 0; border-top:#e0e0de solid 2px; border-bottom:#e0e0de solid 1px;}
.certifiListBox{ position:relative; margin-bottom:10px;}
.certifiListBox .btn{ position:absolute;}

.keyNum{ position:absolute; left:200px; top:0px; background:url(/mypage/images/knumBg.gif) no-repeat; width:120px; height:132px;}
.keyNum ul{ width:93px; position:absolute; left:17px; top:8px;}
.keyNum li{ float:left; margin:0 4px 4px 0 }



.dTable1{ border:none; margin-bottom:20px; border-top:#e1e1e0 solid 2px;}
.dTable1 td{ border:none; padding:9px 9px 9px 9px; border-bottom:#ececec solid 1px; font-size:11px !important; line-height:18px;}
.dTable1 th{ border:none; padding:9px 9px 9px 9px; border-bottom:#ececec solid 1px; width:115px; text-align:left; background:#f9f9f9; font-size:12px;}
.dTable1 input{ border:#c2c2c2 solid 1px; padding:1px;}
.dTable1 textarea{ border:#c2c2c2 solid 1px; padding:2px; overflow:auto}

.dTable3 { border:none; margin-bottom:20px;  }
.dTable3 th { border:none; padding:5px;  text-align:left; background:#fafafa; background:url(/work/eyaCs/member/images/bul04.gif) no-repeat 0 9px;}
.dTable3 strong{ width:90px; display:inline-block; font-size:12px;}
.dTable3 td { border:none; padding:5px }
.dTable3 input { border:#c2c2c2 solid 1px; padding:2px; }
.dTable3 textarea { border:#c2c2c2 solid 1px; padding:2px; overflow:auto }
.dTable3 .text1{ background:url(/work/eyaCs/member/images/bul03.gif) no-repeat 0 3px; padding:0 0 0 7px; font-size:11px; color:#fa5200; margin-right:5px;}
.dTable3 label{ margin-right:10px;}


.policyBox{ border:#e4e4e4 solid 1px; padding:20px 0 20px 30px; min-height:200px; margin-bottom:20px;}
.policyBox ul{ float:left; margin:0 40px 0 0}
.policyBox ul li{ background:url(/work/eyaCs/images/main/bul07.gif) no-repeat 0 7px; padding:1px 1px 1px 10px; line-height:18px;}







.popWarp{ line-height:18px;}
.popWarp p{ margin-bottom:5px;}
.popWarp .headTit{ background:url(/work/eyaCs/popUp/images/popTitBg.gif) repeat-x; height: 41px;}
.popWarp .ctn{ padding:28px; background:url(/work/eyaCs/popUp/images/popCtnBg.gif) repeat-x;}
























































