/* CSS Document */
#wrapEtc { width:100%}
#headerEtc{ height:59px; width:936px; margin:auto; position:relative}
#headerEtc .logo{ position:absolute; left:0; top:25px;}
#headerEtc .globalTop{ position:absolute; right:0; top:25px;}

#wrapEtc #footer{ padding:5px 0 0 0}
#wrapEtc #footer .link ul{ width:450px; margin:auto; height:20px; }
#wrapEtc #footer .link ul li{ text-align:center}
#wrapEtc .wrapCopy { width:700px; height:100px; position:relative; margin:auto;}
#wrapEtc .wrapCopy .logo{ top:10px;}
#wrapEtc .wrapCopy .comInfo{ top:13px;}

#etcCenter{ padding:100px 0; border:#dddddd solid 1px; border-left:none; border-right:none; background:url(/etc/images/etcBg.gif) repeat-x}
.cWrap{ width:623px; margin:auto;}

.erMenu{ height:113px; margin-bottom:15px;}
.erMenu li{ float:left}


.loginBoxEtc{ width:322px}
.loginBoxEtc .id{ position:absolute; left:0px; top:0px;}
.loginBoxEtc .id strong{ font-weight:normal; font:11px Dotum; width:50px; display:inline-block; background:url(/work/eyaCs/images/main/bul06.gif) no-repeat 0 3px; padding:0 0 0 8px;}
.loginBoxEtc .id input{ border:#dcdcdc solid 1px; background:#ffffff; padding:2px 2px 1px 2px; height:15px; width:171px;}
.loginBoxEtc .id input:hover{}
.loginBoxEtc .pw{ position:absolute; left:0px; top:24px;}
.loginBoxEtc .pw strong{ font-weight:normal; font:11px Dotum; width:50px; display:inline-block; background:url(/work/eyaCs/images/main/bul06.gif) no-repeat 0 3px; padding:0 0 0 8px;}
.loginBoxEtc .pw input{ border:#dcdcdc solid 1px; background:#ffffff; padding:2px 2px 1px 2px; height:15px; width:171px;}
.loginBoxEtc .secLogin{ width:100px; margin:auto; position:absolute; left:63px; top:53px; }
.loginBoxEtc .secLogin input{ width:13px; height:13px; font-size:11px;}
.loginBoxEtc .btnLogin{ width:77px; margin:auto; position:absolute; right:0px; top:0px;}
.loginBoxEtc  ul{ position:absolute;left:63px; top:83px; width:200px}
.loginBoxEtc  li { float:left;}
.loginBoxEtc  li a{ font:11px Dotum;}
.loginBoxEtc  li strong{ font:11px Dotum; font-weight:bold}


.erInfo{ margin-bottom:10px;}
.erInfo li{ background:url(/work/eyaCs/images/main/bul05.gif) no-repeat 0 7px; padding:0 0 0 8px; line-height:18px; color:#6c6c6c}