/* CSS Document */

.qaView {}
.qaView .head{ background:#f4f4f2; height:30px; border-top:#e1e1e0 solid 2px; position:relative}
.qaView .head img{ margin-bottom:1px;}
.qaView .head .tit{ position:absolute; left:10px; top:5px; line-height:18px;}
.qaView .head .ico{ position:absolute; right:10px; top:5px;}
.qaView .date{ text-align:right; font-size:11px; padding:5px}
.qaView .memo { padding:10px 20px 30px 20px ; line-height:18px; border-bottom:#e1e1e0 solid 1px; margin-bottom:20px;}
.qaView .cate{ background:url(/mypage/images/cateBg.gif) no-repeat 0 0; height:16px; color:#ee4319; display:inline-block; width:52px; text-align:center; padding:4px 0 0 0; line-height:12px;}

.asBox{ background:url(/mypage/images/asBoxBg.gif) no-repeat; width:558px; height:155px; margin:30px 0 0 30px; position:relative}
.asBox .title{ height:30px; position:absolute; left:182px; top:26px; width:330px;}
.asBox .title .tit{ background:url(/mypage/images/myQaImg01.gif) no-repeat 0 2px; padding:1px 1px 1px 17px; font-weight:bold; position:absolute; left:0px; top:1px; }
.asBox .title .btn{ position:absolute; right:0px; top:0px;}
.asBox .sel{ position:absolute; left:254px; top:78px;}
.asBox .sel input{ width:13px; height:13px;}
.asBox .sel label{ margin-right:26px;}

.myCashCharge{ background:url(/mypage/images/myCashBg.gif) no-repeat; width:665px; height:104px; position:relative; margin-bottom:20px;}
.myCashCharge .list{ position:absolute; left:69px; top:42px; margin-bottom:20px; }

.bul05{ background:url(/mypage/images/bul05.gif) no-repeat 0 1px; padding:1px 1px 1px 17px ; margin-bottom:3px;}

























