/* CSS Document */
@import url("//fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

html,body{  font-size:12px;  }
a{ text-decoration:none; color:#666}
body,div,td,th,textarea,input,button{margin:0; padding:0;  letter-spacing:-0.8px; font-family:"Nanum Gothic","맑은 고딕","Malgun Gothic","AppleGothic","helvetica","sans-serif"; -webkit-text-size-adjust:none;outline:none; }
p{   margin:0; padding:0;}
img { border:0; vertical-align:middle; }
ul, ol, li ,dl , dt , dd { list-style:none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, h7 ,form { font-size:100%; font-weight:normal;  margin:0; padding:0 }
textarea{ overflow:auto; outline:none;}
fieldset{margin:0; padding:0; border:none;}
caption{ position:absolute; top:-9999%; height:0px; overflow:hidden; line-height:0;}
strong{ font-weight:bold;}
legend{ position:absolute; top:-9999%; height:0px; overflow:hidden; line-height:0;}
em,i{ font-style:normal;}



input[type="text"],
input[type="email"],
input[type="password"]{ font-size:12px; border:#dbdbdb solid 1px; line-height:16px; padding:3px 4px 5px 4px;  height:16px; vertical-align:middle; zoom:1;  border-radius:2px;transition: all .0s ease .0s;}



/* 탭메뉴 B */
.uiTabMenuB{ height:29px; padding-left:1px; zoom:1; border-bottom:#000000 solid 1px;}
.uiTabMenuB>li{ float:left; position:relative;}
.uiTabMenuB>li>a{height:28px; line-height:27px;margin-left:-1px;  min-width:110px; text-align:center; border:#000 solid 1px; border-radius:2px 2px 0 0; border-bottom-width:0px; background-color:#2C2C2C; padding:0 5px; display:block; color:#cccccc; position:relative; zoom:1; z-index:5;}
.uiTabMenuB>li>a.active{ border-color:#000; *margin-right:1px; background:#353535; z-index:10; color:#fff; height:29px; font-weight:bold; }
.uiTabMenuB>li>a:hover{ color:#eee;}


/* 리스트 */
.bbsList{ border:none; margin:0 0 0px 0; width:100%; border-collapse:collapse; table-layout:fixed;  border-left:#000000 solid 1px;   border-top:#000000 solid 1px; }
.bbsList thead tr th{ background:#2c2c2c; color:#ccc;  border-right:#000000 solid 1px; border-bottom:#000 solid 1px; padding:5px 0; text-align:center; line-height:22px;}

.bbsList tbody tr td{ background-color:#212121; border-bottom:#000000 solid 1px; border-right:#000000 solid 1px; color:#CCC; line-height:22px; text-align:center; padding:5px 0; font-weight:normal;}
.bbsList tbody tr:nth-child(even) td{ background-color:#282828;}
.bbsList tbody tr td.last{}
.bbsList tbody tr td.tit{ text-align:left; padding-left:10px;}
.bbsList tbody tr td.tit a{ color:#ccc;}
.bbsList tbody tr td .cate{ color:#F60}
.bbsList tbody tr.success td{ background:#555555;}



img.lvIco{ width:20px; height:20px;}



/* 페이징 */
.paging{ text-align:center; padding:20px 0;}
.paging .list{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; border-right:#000 solid 1px;}
.paging a{ float:left; min-width:17px; background-color:transparent; color:#FFF; font-size:14px; font-weight:bold; padding:0 7px; height:29px; line-height:29px;border:#000 solid 1px; border-right-width:0px; background-color:transparent}
.paging a:hover{}
.paging a.active{ color:#eb584c; }
.paging .btnPrev{ width:29px; height:29px; background:url(/Img/common/btnPrev.png) ;line-height:100px; overflow:hidden; padding:0; }
.paging .btnPrevEnd{ width:29px; height:29px; background:url(/Img/common/btnPrevEnd.png) ;line-height:100px; overflow:hidden; padding:0; }
.paging .btnNext{ width:29px; height:29px; background:url(/Img/common/btnNext.png) ;line-height:100px; overflow:hidden; padding:0; }
.paging .btnNextEnd{ width:29px; height:29px; background:url(/Img/common/btnNextEnd.png) ;line-height:100px; overflow:hidden; padding:0; }

.paging .btnPrev,
.paging .btnPrevEnd,
.paging .btnNext,
.paging .btnNextEnd{}





/* 스크롤바 */
.mCSB_scrollTools .mCSB_draggerRail{ background:#cccccc;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background:#aaaaaa;}
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:#999999;}

.mCSB_vertical.mCSB_inside>.mCSB_container{ margin-right:10px;}
.mCSB_scrollTools.mCSB_scrollTools_vertical{ width:10px; }
.mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar{}
.mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_draggerRail{ }
.mCSB_scrollTools.mCSB_scrollTools_horizontal{ height:10px;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{ }
.ie67 .mCSB_scrollTools .mCSB_draggerRail{ display:none;}



.temp{ width:460px; box-sizing:border-box; margin:auto; position:absolute; right:0px; top:0px;}
.temp>li{ font-size:14px; border:#999 solid 1px; margin:7px 0; padding:6px 6px; vertical-align:middle; letter-spacing:0px; border-radius:2px; padding-left:100px; position:relative; background-color:#111;}
.temp>li>a,
.temp>li>button{ padding:4px 5px; margin:2px 0; display:inline-block; vertical-align:middle; color:#CCC; position:relative; line-height:15px; background:#222222; border:#999999 solid  1px; border-radius:2px;}
.temp>li>em{ padding:5px; display:inline-block; vertical-align:middle; color:#CCC; font-weight:bold; color:#fff; min-width:80px; border:#333 solid 1px; text-align:center; margin-right:5px; position:absolute; left:3px; top:3px;}

/* 탭형식 박스 */
.uiTabBox{}
.uiTabBox .ctn{ display:none;}
.uiTabBox .ctn.active{ display:block;}

































