@charset "utf-8";

 
body{}

.eWrap{}

.eHead{ position:fixed; width:100%; height:86px; z-index:100;  box-shadow:#000 0 0 9px; background-image: linear-gradient(to bottom, #393939 0%, #232323 100%); left:0px; top:0px;}
.eHead .logo{ display:block; width:130px; height:86px; text-indent:-9999px; overflow:hidden; background:url(/Event/20160607/img/logo.png) no-repeat;}
.eHead .uInfo{ position:absolute; right:20px; top:22px; font-size:22px; color:#FFF;}
.eHead .uInfo .name{ margin-right:10px; display:inline-block; vertical-align:middle; line-height:38px; color:#00aeff}
.eHead .uInfo .name strong{ font-size:24px;}
.eHead .uInfo .btn{ border:#ffffff solid 2px; color:#ffffff; font-weight:bold; border-radius:30px; height:33px; line-height:33px; font-size:20px; display:inline-block; vertical-align:middle; padding:0px 15px;}
.eHead .uInfo .btn:hover{ background-color:#ffffff; color:#00aeff}
.eHead .link{ position:absolute; left:348px; top:0px; border-left:#212125 solid 1px;}
.eHead .link>li{ float:left; border-left:#3f3f3f solid 1px;}
.eHead .link>li:last-child{ border-right:#3f3f3f solid 1px;}
.eHead .link>li>a{ display:block; border-right:#212125 solid 1px; height:86px; line-height:86px; padding:0px 30px; font-size:20px; color:#6a6a6a; text-shadow:#000 0 0 3px; font-weight:bold;}
.eHead .link>li>a:hover{ color:#0096dc}

.eWrap .menu{ position:fixed; right:10px; top:50%; margin-top:-300px;  width:146px;z-index:70; }
.eWrap .menu a.top{ display:block; width:146px; height:140px; text-indent:-9999px; overflow:hidden; background:url(/Event/20160607/img/menu0.png) no-repeat;}
.eWrap .menu .list{}
.eWrap .menu .list>li{ margin-bottom:10px;}
.eWrap .menu .list>li>a{ display:block; width:146px; height:140px; text-indent:-9999px; overflow:hidden; background-repeat:no-repeat;}
.eWrap .menu .list>li.m0>a{ background-image:url(/Event/20160607/img/menu0.png)}
.eWrap .menu .list>li.m1>a{ background-image:url(/Event/20160607/img/menu1.png)}
.eWrap .menu .list>li.m2>a{ background-image:url(/Event/20160607/img/menu2.png)}
.eWrap .menu .list>li>a:hover,
.eWrap .menu .list>li.active>a{ background-position:-170px 0;}
.eWrap .menu .list>li.mb{ background:url(/Event/20160607/img/menu_top.png) no-repeat; height:29px; margin-top:20px; text-indent:-999px; overflow:hidden;}


.eWrap .anc{ display:block; height:0px; line-height:0px; overflow:hidden;}

#anchor1{/*  margin-top:1048px; */}



.eWrap .section{ overflow:hidden;  background:#022451; width:100%; position:relative; z-index:10;}
.eWrap .section .in{ width:1900px; margin:auto; position:relative; left:50%; margin-left:-950px;overflow:hidden;}

.eWrap .section .btns{ display:block; width:382px; height:92px; position:absolute; left:850px; top:10px; text-indent:-9999px; overflow:hidden; z-index:10; background:url(/Event/20160607/img/blank.png) }

.section.c0{}
.section.c1{}
.section.c2{  padding-bottom:500px;}


.section.c1 .btn{position:absolute; left:355px; top:825px; z-index:10;}
.section.c1 .btn>li{ float:left; margin-right:10px;}
.section.c1 .btn>li>a{ width:190px; height:55px; display:block; background-image:url(/Event/20160607/img/blank.png); line-height:200px; overflow:hidden;}


.section.c2 .btn{position:absolute;left:202px;top:650px;z-index:10;}
.section.c2 .btn>li{float:left;margin-right: 21px;}
.section.c2 .btn>li>a{width:340px;height: 69px;display:block;background:url(/Event/20160607/img/blank.png);line-height:200px;overflow:hidden;}



.popLayer{ width:984px;  position:fixed; top:50%;  z-index:10000; background:#000; box-shadow:none;}
.popLayer .popHead{ height:0px;}
.popLayer .popHead .btnClose{ z-index:100;}

.popLayer1{ background:url(/Event/20160607/img/pop1.jpg) no-repeat; padding:1px;}

.mdScreen{ background:#000; opacity:.73;}

.mobile{}
.mobile .eWrap .section.c0{ position:relative;}
.mobile #anchor1{ margin-top:0px;}


.mobile .eWrap .section:last-child{ padding-bottom:1000px; }

iframe.dice{ width:1210px; height:1080px; position:absolute; left:356px; top:242px; box-shadow:#333 2px 5px 10px}











