/* CSS Document */
.tRed{ color:#e95f32 !important;}
.tYellow{ color:#b2a21b !important;}
.tOrange{ color:#eab638 !important;}
.tBlue{ color:#6a93c3 !important;}
.tGreen{ color:#049a2b !important;}
.tGray{ color:#d9d6d6 !important;}


.contents .ctnBox.itemMall{ padding:0px !important; color:#918b8b; width:632px; min-height:650px; *height:650px; margin-left:-7px;}
.itemMall *{ color:#918b8b; font-size:11px;}

.itemTop{ background:url(/work/edda/itemMall/images/itemTopBg.gif) no-repeat; width:616px; height:130px; padding:8px; margin-bottom:10px;}
.itemTop .list{ background:#18191a; border:#151719 solid 1px; width:316px; padding:6px 0; float:left;}
.itemTop .list .trOn:hover{ background:#242526}
.itemTop .list table{ border:none; width:100%;}
.itemTop .list table td,
.itemTop .list table th{ border:none; padding:4px 1px 3px; line-height:16px; font-size:11px; }
.itemTop .list table .bTit{ padding-left:15px;}
.itemTop .list table .bTit a{ color:#c2bdbd; font-size:11px;}
.itemTop .list table .bIco{ width:30px;}
.itemTop .list table .bCash{ color:#918b8b; font-family:Tahoma; text-align:right; padding-right:10px; width:60px;}
.itemTop .rollBanner{ float:right;}


.indexCenter .itemTop{ background:url(/work/edda/images/main/mainItem.gif) no-repeat; width:678px; height:130px; padding:8px; margin-bottom:10px;}
.indexCenter .itemTop .list{ background:#2c2121; border:#403333 solid 1px; width:377px; padding:6px 0; float:left;}
.indexCenter .itemTop .list .trOn:hover{ background:#453939}
.indexCenter .itemTop .list table{ border:none; width:100%;}
.indexCenter .itemTop .list table td,
.indexCenter .itemTop .list table th{ border:none; padding:4px 1px 3px; line-height:16px; font-size:11px; }
.indexCenter .itemTop .list table .bTit{ padding-left:15px;}
.indexCenter .itemTop .list table .bTit a{ color:#a99c9c; font-size:11px;}
.indexCenter .itemTop .list table .bCash{ color:#918b8b; font-family:Tahoma; text-align:right; padding-right:10px;}
.indexCenter .itemTop .rollBanner{ float:right;}




.itemSch{ background:url(/work/edda/itemMall/images/schBg.gif) no-repeat; height:38px; position:relative; margin-bottom:10px; clear:both;}
.itemSch .totalPost{ position:absolute; left:20px; top:12px; font-size:11px;}
.itemSch .totalPost .num{ color:#FFFFFF}
.itemSch .totalPost strong{ font-size:12px;}
.itemSch .sch{ position:absolute; right:10px; top:8px;}
.itemSch .sch .keyword{ border:#505050 solid 1px; background:#373737; padding:2px; width:80px;}

.itemList{ width:632px; height:390px; overflow:hidden; position:relative; margin-bottom:0px; *margin-bottom:3px; _margin-bottom:0px;}
.itemList ul { width:640px;}
.itemList ul .itBox{ background:#1f2023; border:#2b2c32 solid 1px; padding:10px; width:292px; height:104px; float:left; margin:0 4px 4px 0;}

.itemList .item{ float:left; width:80px; margin-right:6px; position:relative;}
.itemList .item .flag{ position:absolute; left:-10px; top:-10px;}
.itemList .item .img{ background:url(/work/edda/itemMall/images/itemBg.gif) no-repeat; padding:10px; margin-bottom:6px;}
.itemList .item .img img{ vertical-align:text-bottom}
.itemList .item .btn{ text-align:center}
.itemList .info{ float:right; width:206px;}
.itemList .info .head{ background:#2a2b2e; height:30px; position:relative; margin-bottom:10px;}
.itemList .info .head .tit{position:absolute; left:10px; top:9px; font-weight:bold; }
.itemList .info .head .tit a{color:#c1bcbc;}
.itemList .info .head .ico{position:absolute; right:7px; top:7px;}
.itemList .info .head .ico img{ vertical-align:text-bottom}
.itemList .info .cash{ padding:0 0 0 8px; margin-bottom:8px;}
.itemList .info .cash .ct{ font-weight:bold; color:#a9a8a8}
.itemList .info .cash .red{ color:#f35d3f}
.itemList .info .cash .ctLine{ text-decoration:line-through;}
.itemList .info .cash .sale{ background:url(/work/edda/itemMall/images/icoSale.gif) no-repeat right 1px #7240a0; padding:0px 8px 0px 2px; padding-bottom:-1px; font-size:9px; line-height:9px; font-family:Tahoma; color:#FFFFFF; font-weight:bold;}
.itemList .info .memo{ padding:0 0 0 8px; line-height:16px; height:44px; overflow:hidden;}


.itemPop{ background:#242527; border:#64676b solid 3px; padding:1px; width:306px; height:378px; position:absolute; z-index:10; display:none;}
.itemPop .arrow{ position:absolute; width:13px; height:24px;}
/**/
.itemPop.p1{ right:0px; top:0px;}
.itemPop.p1 .arrow{ left:-13px; top:50px; background:url(/work/edda/itemMall/images/Arrow1.gif) no-repeat;}
.itemPop.p2{ left:0px; top:0px;}
.itemPop.p2 .arrow{ right:-13px; top:50px; background:url(/work/edda/itemMall/images/Arrow2.gif) no-repeat;}
.itemPop.p3{ right:0px; top:0px;}
.itemPop.p3 .arrow{ left:-13px; top:180px; background:url(/work/edda/itemMall/images/Arrow1.gif) no-repeat;}
.itemPop.p4{ left:0px; top:0px;}
.itemPop.p4 .arrow{ right:-13px; top:180px; background:url(/work/edda/itemMall/images/Arrow2.gif) no-repeat;}
.itemPop.p5{ right:0px; top:0px;}
.itemPop.p5 .arrow{ left:-13px; top:300px; background:url(/work/edda/itemMall/images/Arrow1.gif) no-repeat;}
.itemPop.p6{ left:0px; top:0px;}
.itemPop.p6 .arrow{ right:-13px; top:300px; background:url(/work/edda/itemMall/images/Arrow2.gif) no-repeat;}
/**/
.itemPop .head{ background:#393b3d; height:25px; position:relative;}
.itemPop .head .tit{ position:absolute; left:10px; top:7px; font-weight:bold; color:#c1bcbc}
.itemPop .head .btn{ position:absolute; right:5px; top:5px; }
.itemCtn{ width:304px;}
.itemCtn .itemPopInfo{ border:#444649 solid 2px; background:#212224; width:280px; position:absolute; right:13px; z-index:30; display:none;}
.itemSpecPop .itemPopInfo{ right:16px;}


.itemCtn .t1{ top:95px;}
.itemCtn .t2{ top:175px;}
.itemCtn .itemPopInfo .arrow{ background:url(/work/edda/itemMall/images/Arrow3.gif) no-repeat; width:28px; height:16px; position:absolute; top:-16px;}
.itemCtn .itemPopInfo .p1{left:11px;}
.itemCtn .itemPopInfo .p2{left:70px;}
.itemCtn .itemPopInfo .p3{left:125px;}
.itemCtn .itemPopInfo .p4{left:183px;}
.itemCtn .itemPopInfo .p5{left:243px;}
.itemCtn .itemPopInfo .p6{left:11px;}
.itemCtn .itemPopInfo .p7{left:70px;}
.itemCtn .itemPopInfo .p8{left:125px;}
.itemCtn .itemPopInfo .p9{left:183px;}
.itemCtn .itemPopInfo .p10{left:243px;}
.itemCtn .itemPopInfo .infoS{ padding:10px 10px;}
.itemCtn .itemPopInfo .infoS .tit{ font-size:11px; float:none; font-weight:bold; margin-bottom:7px;}
.itemCtn .itemPopInfo .infoS .memo{ line-height:16px;}
.itemCtn .itemPopInfo .specS{ background:#2a2b2d; padding:9px 10px;}
.itemCtn .itemPopInfo .specS table {border:none}
.itemCtn .itemPopInfo .specS table th{ font-weight:bold; color:#6d7a88; border:none; text-align:left; line-height:14px; }
.itemCtn .itemPopInfo .specS table td{ border:none; color:#918b8b; text-align:left; padding-right:20px;line-height:14px;}

.listIco{ padding:10px 10px 0px 10px ; width:284px; overflow:hidden; margin-bottom:5px;   }
.listIco ul { width:304px;}
.listIco ul .icoPack{ background:none;  border:none;  height:80px; padding:0px; margin-right:7px; float:left; position:relative; z-index:20;}
.listIco ul .icoPack .flag{ position:absolute; left:0px; top:0px;}
.listIco ul .icoPack .img{ background:url(/work/edda/itemMall/images/itemBgS.gif) repeat-x #111314; border:#43484c solid 1px; padding:2px;}
.listIco ul .icoPack .img img{ vertical-align:text-bottom}
.listIco ul .icoPack .tit{ text-align:center; padding:5px 0 0 0}
.itemInfo{ padding:0 10px; }
.itemInfo .memo{ background:#171719; border:#0e0e10 solid 1px; padding:10px; line-height:16px; margin-bottom:4px; height:100px; overflow:auto;
	scrollbar-face-color:#242527;
	scrollbar-shadow-color:#171719;
	scrollbar-highlight-color: #171719;
	scrollbar-3dlight-color: #47474e;
	scrollbar-darkshadow-color: #47474e;
	scrollbar-track-color: #171719;
	scrollbar-arrow-color: #7b7b7b;
}
.itemInfo .spec{ background:#171719; border:#0e0e10 solid 1px; padding:10px; line-height:16px; margin-bottom:8px; height:62px; overflow:auto; color:#b3a31b;
	scrollbar-face-color:#242527;
	scrollbar-shadow-color:#171719;
	scrollbar-highlight-color: #171719;
	scrollbar-3dlight-color: #47474e;
	scrollbar-darkshadow-color: #47474e;
	scrollbar-track-color: #171719;
	scrollbar-arrow-color: #7b7b7b;

}
.itemInfo .memo1{ height:60px; }
.itemInfo .spec1{ height:32px; }
.itemInfo .memo2{ height:100px; }
.itemInfo .spec2{ height:70px; }

.itemInfo .btnList{ position:relative; zoom:1; text-align:center; overflow:hidden;}
.itemInfo .btnList .left{ position:absolute; left:0px; top:0px;}
.itemInfo .btnList .right{ position:absolute; right:0px; top:0px;}
.itemInfo .btnList img{ vertical-align:text-bottom}


.itemSpecPop{background:url(/work/edda/itemMall/images/detailVbar.gif) center 0px repeat-y #242527; border:#64676b solid 3px; padding:1px; width:624px; height:378px; position:absolute; z-index:20; display:none;}
.itemSpecPop .itemCtn{ float:left;}
.itemSpecPop .head{ background:#393b3d; height:25px; position:relative; margin-bottom:1px;}
.itemSpecPop .head .tit{ position:absolute; left:10px; top:7px; font-weight:bold; color:#c1bcbc}
.itemSpecPop .head .btn{ position:absolute; right:5px; top:5px; }
.itemSpecPop .detailView{ width:290px; height:332px; padding:10px; float:left; margin-right:5px;}
.itemSpecPop .detailView .left{ width:80px; float:left;}
.itemSpecPop .detailView .right{ width:197px; float:right;}

.itemSpecPop .detailView .item .img { border:#43484c solid 1px; padding:9px; background:url(/work/edda/itemMall/images/itemBgBig.gif) repeat-x;}
.itemSpecPop .detailView .itemSS{ float:none}
.itemSpecPop .detailView .itemSS .tit{  padding:4px 0}
.itemSpecPop .detailView .itemSS .ssList{ width:80px; padding:0px;}
.itemSpecPop .detailView .itemSS .ssList li{ margin-bottom:4px;}
.itemSpecPop .detailView .itemSS .ssList img{ border:#18191b solid 1px;}
.itemSpecPop  .itemSSBig{ position:absolute; left:120px; top:70px; z-index:40; margin:auto; text-align:center; display:none;}
.itemSpecPop  .itemSSBig .img {}
.itemSpecPop  .itemSSBig .img img{ border:#a7a9ac solid 3px; position:relative; padding:0px; margin:auto;}


.specList{ border:none; width:100%; margin-bottom:0px;}
.specList th ,
.specList td { border:none !important; padding:3px 0 2px 0; line-height:11px !important; letter-spacing:-1px;}
.specList th{ font-weight:bold; color:#6d7a88; text-align:left;}
.specList td{ color:#918b8b !important ; text-align:right !important; border:none;}
.specList select{ border:#434548 solid 1px; padding:1px; background:#18191b}

.dotLine{ background:url(/work/edda/itemMall/images/dotLine.gif) repeat-x bottom; height:1px; line-height:0px; margin:5px 0; font-size:0px}



.itemBuyPop{ position:absolute; left:170px; top:10px; background:#242527; border:#64676b solid 3px; z-index:40; width:280px; height:360px; display:none;}
.itemBuyPop .head{ background:#64676b; height:28px; position:relative; margin-bottom:1px;}
.itemBuyPop .head .tit{ position:absolute; left:10px; top:7px; font-weight:bold; color:#c1bcbc}
.itemBuyPop .head .btn{ position:absolute; right:6px; top:6px; }
.itemBuyPop .buyCtn{ padding:10px 15px;}
.itemBuyPop .buyCtn .specList{ border:none; width:100%; margin-bottom:0px;}
.itemBuyPop .buyCtn .specList th ,
.itemBuyPop .buyCtn .specList td { border:none !important; padding:3px 0 2px 0; line-height:18px !important;}
.itemBuyPop .buyCtn .specList th{ font-weight:bold; color:#6d7a88; text-align:left;}
.itemBuyPop .buyCtn .specList td{ color:#918b8b !important ; text-align:right !important; border:none;}


.selBuy{ border:none; width:100%; margin-bottom:0px; border-top:#000000 solid 1px; border-left:#000000 solid 1px;}
.selBuy th ,
.selBuy td { border:none !important; padding:3px 0 2px 0; background:#171719; line-height:18px !important;  border-bottom:#000000 solid 1px  !important; border-right:#000000 solid 1px !important;}
.selBuy td { text-align:left !important;}
.selBuy select{ border:#434548 solid 1px; padding:1px; background:#18191b}
.selBuy input{ border:#434548 solid 1px; padding:1px; background:#313235}

.itemMall .btnList{ position:relative; zoom:1; text-align:center; height:3px; overflow:hidden;}
.itemMall .btnList .left{ position:absolute; left:0px; top:0px;}
.itemMall .btnList .right{ position:absolute; right:0px; top:0px;}
.itemMall .btnList img{ vertical-align:text-bottom}

.rt{ background:#000000; opacity:0.5; filter:alpha(opacity="50"); width:3px; height:100%; position:absolute; right:-6px; top:0px; border-bottom:#000000 solid 3px; _display:none}
.lb{ background:#000000; opacity:0.5; filter:alpha(opacity="50"); width:100%; height:3px; position:absolute; left:0px; bottom:-6px; border-right:#000000 solid 3px; _display:none}
.rb{ background:#000000; opacity:0.5; filter:alpha(opacity="50"); width:3px; height:3px; position:absolute; right:-6px; bottom:-6px; _display:none}


.itemBuyCom{ position:absolute; left:170px; top:70px; background:#242527; border:#64676b solid 3px; z-index:50; width:280px; display:none;}
.itemBuyCom .head{ background:#64676b; height:28px; position:relative; margin-bottom:1px;}
.itemBuyCom .head .tit{ position:absolute; left:10px; top:7px; font-weight:bold; color:#c1bcbc}
.itemBuyCom .head .btn{ position:absolute; right:6px; top:6px; }
.itemBuyCom .buyComCtn{ padding:20px 10px 10px 10px}
.itemBuyCom .bgBox{ background:#333333; border:#000000 solid 1px;}

.itemScreen { position:absolute; left:0px; top:0px; background:#000000; opacity:0.5; filter:alpha(opacity="50"); z-index:35; width:100%; height:650px; display:none;}
.ssScreen { position:absolute; left:0px; top:0px; background:#000000; opacity:0.5; filter:alpha(opacity="50"); z-index:35; width:100%; height:380px; display:none;}

/* Paginate */
.itemMall .paginate{ padding:10px; text-align:center;  background:#1f2023; border:#2b2c32 solid 1px;}
.itemMall .paginate *{ margin:0; padding:0; vertical-align:middle}
.itemMall .paginate a,
.itemMall .paginate strong{ _position:relative; display:inline-block; margin-left:-5px; padding:4px 7px 3px 8px; _padding-bottom:5px; color:#918b8b; text-decoration:none !important; line-height:normal; font:11px Tahoma, Serif;}
.itemMall .paginate strong{ color:#ffffff !important; font-weight:bold;}
.itemMall .paginate a.pre,
.itemMall .paginate a.pre_end,
.itemMall .paginate a.next,
.itemMall .paginate a.next_end{ font:11px "µ¸¿ò", Dotum, "±¼¸²", Gulim, AppleGothic, Sans-serif;}
.itemMall .paginate a.pre{ padding:4px 2px 4px 2px;}
.itemMall .paginate a.pre_end{ padding:4px 3px 4px 2px;}
.itemMall .paginate a.next{ padding:4px 2px 4px 2px;}
.itemMall .paginate a.next_end { padding:4px 3px 4px 2px;}



.itemMall select{ border:#434548 solid 1px; padding:1px; background:#18191b}
.itemMall input{ border:#434548 solid 1px; padding:1px; background:#313235}

.itemMall .itemTab{ background:#000000; margin-bottom:5px; padding-left:5px; height:26px; padding-top:4px;}
.itemMall .itemTab li,
.itemMall .itemTab li.on{ height:26px; padding:4px 30px 0 30px; margin-right:2px; float:left; line-height:18px; overflow:hidden;}
.itemMall .itemTab li a{ color:#908a8a}
.itemMall .itemTab li.on{ background:#191c23; font-weight:bold;}
.itemMall .itemTab li.on a{ color:#d9d6d6}

.itBbsList{ border:none; width:100%; border-top:#2b2c32 solid 1px; border-left:#2b2c32 solid 1px; margin-bottom:10px;}
.itBbsList th,
.itBbsList td{ border:none; padding:5px 3px 4px 3px; line-height:18px; text-align:center; color:#918b8b; border-right:#2b2c32 solid 1px;  border-bottom:#2b2c32 solid 1px;}
.itBbsList th{ background:#1f2023; color:#c1bcbc; font-weight:normal;}

.itBbsHead{ margin-bottom:5px;}


/* Ä³½Ã°èÁÂ*/
.itemBoardTop{ background:url(/work/edda/itemMall/images/itemBoardTopBg.gif) no-repeat; width:632px; height:146px; margin-bottom:10px; position:relative;}
.itemBoardTop .myCash{ position:absolute; left:30px; top:34px; width:570px; text-align:center;}
.itemBoardTop .notice{ position:absolute; left:25px; top:75px;}
.itemBoardTop .notice li{ line-height:12px; padding:3px 0}





#itemMall.leftMenu .menu li li{ font-size:11px; padding-left:14px;}
#itemMall.leftMenu .menu li li a{ font-size:11px; color:#947d4a; display:inline-block; width:110px; padding:4px 3px 2px 6px ; height:15px;}
#itemMall.leftMenu .menu li li a:hover{ color:#a89261; background:url(/work/edda/images/main/subMenuSbg.gif) no-repeat;}





















































