@charset "euc-kr";
@import url(/globalTop/globalTop.css);
/* 공통 스타일 */
html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*{margin:0; padding:0; font-size:12px; font-family: Dotum, Tahoma, Sans-serif; color:#767676}
html,body{}
caption{display:none}
img { border:0; vertical-align:text-bottom }
input,select {vertical-align:middle}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
ul, ol, li { list-style:none; }
h1, h2, h3, h4, h5, h6, h7 { font-size:100%; font-weight:normal; }
html:first-child select{padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */ 
a:link { color:#444; text-decoration: none; }
a:visited { color:#444; text-decoration: none; }
a:active { color:#444; text-decoration: none; }
a:hover { color:#444; text-decoration:none; }

.blind {visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
hr{display:none}
fieldset{ border:0; position:relative; clear:both;}
fieldset:after{ content:""; display:block; float:none; clear:both;}
legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}

textarea{ overflow:auto;
	scrollbar-face-color:#ffffff;
	scrollbar-shadow-color:#e6e6e6;
	scrollbar-highlight-color: #fffff;
	scrollbar-3dlight-color: #c3c3c3;
	scrollbar-darkshadow-color: #c3c3c3;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #7b7b7b;}

.png24 {tmp:expression(setPng24(this));} 

.aLeft{ text-align:left !important}
.aCenter{ text-align:center !important}
.aRight{ text-align:right !important}
.nobor{ border:none !important}
.size11,
.size11 *{ font-size:11px; !important}
.size12{ font-size:12px; !important}
.size14{ font-size:14px; !important}
.bold{font-weight:bold !important}
.normal{font-weight:normal !important}
.under{ text-decoration:underline !important}

.tcOrange,
.tcOrange *,
.tcOrange a{color:#f04425 !important}
.tcBlue,
.tcBlue *,
.tcBlue a{color:#1568b6 !important}
.tcBlack,
.tcBlack *,
.tcBlack a{color:#2d2d2d !important}

.radio,
.checkbox{ border:none !important; width:13px; height:13px;}

.w40 { width:40px !important; }
.w50 { width:50px !important; }
.w60 { width:60px !important; }
.w70 { width:70px !important; }
.w80 { width:80px !important; }
.w90 { width:90px !important; }
.w100 { width:100px !important; }
.w110 { width:110px !important; }
.w120 { width:120px !important; }
.w130 { width:130px !important; }
.w140 { width:140px !important; }
.w150 { width:150px !important; }
.w160 { width:160px !important; }
.w170 { width:170px !important; }
.w180 { width:180px !important; }
.w190 { width:190px !important; }
.w200 { width:200px !important; }
.w210 { width:210px !important; }
.w220 { width:220px !important; }
.w230 { width:230px !important; }
.w240 { width:240px !important; }
.w250 { width:250px !important; }
.w260 { width:260px !important; }
.w270 { width:270px !important; }
.w280 { width:280px !important; }
.w290 { width:290px !important; }
.w300 { width:300px !important; }
.w400 { width:400px !important; }







/* Paginate */
.paginate img{vertical-align:middle}

.paginate{ padding:15px 0 0 0; text-align:center; }
.paginate *{ margin:0; padding:0;}
.paginate a,
.paginate strong{ _position:relative; display:inline-block; margin-right:-6px; padding:3px 8px 2px 9px; color:#8799b8; text-decoration:none !important; line-height:normal; font:normal 11px Tahoma, Serif; font-weight:bold;}
.paginate strong{ color:#e1de0c !important; padding:2px 8px 2px 7px; font-weight:bold;}

.paginate a.pre,
.paginate a.pre_end,
.paginate a.next,
.paginate a.next_end{ font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;}
.paginate a.pre{ padding:4px 6px 2px 1px; }
.paginate a.pre_end{ padding:4px 4px 2px 1px;}
.paginate a.next{ padding:4px 1px 2px 6px;}
.paginate a.next_end { padding:4px 1px 2px 4px;}







body { margin:0; }

.bodyWrap {/* background:url(images/bg.jpg) no-repeat center top #f2e9ca;*/ }
.mainWrap { width:600px; margin:auto; position:relative }
.mainWrap .moviePlay { position:absolute; left:241px; top:374px; width:586px; height:344px; }
.mainWrap .topVisual { position:relative; }
.mainWrap .topVisual .flash{ position:absolute; left:162px; top:0;}
.mainWrap .todayClose { position:absolute; right:30px; top:50px;}
.ctn { position:relative; }
.ctn .selServer{ position:absolute; left:394px; top:125px;}
.ctn .selServer select{ width:140px;}
.ctn .contents { position:absolute; left:14px; top:10px; width:925px; padding-left:20px; height:440px; overflow:auto; scrollbar-face-color:#262626; scrollbar-shadow-color:#171717; scrollbar-highlight-color: #262626; scrollbar-3dlight-color: #171717; scrollbar-darkshadow-color: #171717; scrollbar-track-color: #000000; scrollbar-arrow-color: #7b7b7b; }

.bodyWrap .bot{ background:url(/work/edda/event/2010/0510/images/bot.jpg) no-repeat center; height:180px;}





.board { position:relative; background:url(/work/edda/event/2010/0429/images/img2.jpg) no-repeat; position:relative; width:1060px; height:530px; }


.comentBox{ width:960px; height:300px;}
.comtWirte{ position:relative; height:44px; margin-bottom:0px; }
.comtWirte .textInput{ position:absolute; background:#20314f; border:#20314f solid 1px;overflow:auto; padding:2px; width:880px; height:34px; color:#8596b4}
.comtWirte .btnComtWirte{ position:absolute; right:0px; top:0px;}

.comtList .top{ background:url(/work/edda/news/images/comtBoxTop.gif) no-repeat; height:10px; line-height:0px; font-size:0px;}
.comtList .ctn{ background:url(/work/edda/news/images/comtBoxBg.gif) repeat-y;  padding:0px 0px;}

.comtList .bot{ background:url(/work/edda/news/images/comtBoxBot.gif) no-repeat; height:10px; line-height:0px; font-size:0px;}
.comtList .comtListTable{ width:100%; border:none; margin-bottom:10px;}
.comtList .comtListTable th{ border:none; padding:10px 5px 10px 0px ; border-bottom:#20314f solid 1px; width:90px; color:#8799b8; text-align:left; font-size:11px; text-align:center;}
.comtList .comtListTable td{ border:none; padding:7px 5px 6px 5px ; border-bottom:#20314f solid 1px; color:#8799b8; font-size:11px;}































