/* CSS Document */

html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
body,div,p{margin:0; padding:0; font-size:12px; font-family: Dotum, Tahoma, Sans-serif; color:#828589}
html,body{}
caption{display:none}
img { border:0;}
input,select {vertical-align:middle}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
ul, ol, li { list-style:none;margin:0; padding:0; }
h1, h2, h3, h4, h5, h6, h7 { font-size:100%; font-weight:normal; margin:0; padding:0;}
html:first-child select{padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */ 
a:link { color:#8392a1; text-decoration: none; }
a:visited { color:#8392a1; text-decoration: none; }
a:active { color:#8392a1; text-decoration: none; }
a:hover { color:#aebbc7 ; text-decoration:none; }
textarea{ overflow:auto; line-height:160%;}
.blind {visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
hr{display:none}
fieldset{ border:0; position:relative; clear:both;}
fieldset:after{ content:""; display:block; float:none; clear:both;}
legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}

.png24 {tmp:expression(setPng24(this));} 
/*select{behavior: url('/_js/selectbox.htc'); margin-right:-6px;  margin-bottom:-1px;}
body:first-of-type select { margin:0 } */

.aLeft{ text-align:left !important}
.aCenter{ text-align:center !important}
.aRight{ text-align:right !important}
.nobor{ border:none !important}
.size11,
.size11 *{ font-size:11px; !important}
.size12{ font-size:12px; !important}
.size14{ font-size:14px; !important}
.bold{font-weight:bold !important}
.normal{font-weight:normal !important}
.under{ text-decoration:underline !important}


.profileWrap{display:block; position:fixed; position:absolute; border:0; left:0; top:0; width:100%; height:1480px;  background:#000; opacity:.6; filter:alpha(opacity:60); z-index:99}

.psnBody{ background:#192027}

.psnWrap { background:#192027; border:none #12161b solid 1px; font-size:11px; color:#8e949d}
.psnWrap .pWrap{ width:320px; padding:10px;}
.psnWrap .pWrap:after { content:""; clear:both; display:block; *zoom:1;}
.psnWrap .pWrap .left{ float:left; width:64px;}
.psnWrap .pWrap .right{ float:right; width:248px;}
.psnWrap .btnList{ width:100%;}
.psnWrap .btnList:after { content:""; clear:both; display:block; *zoom:1;}
.psnWrap .btnList .left{ float:left; }
.psnWrap .btnList .right{ float:right;}

.psnWrap .inText{ border:#525a66 solid 1px; padding:1px; background:#070d0e; color:#828589}
.psnWrap select{border:#232c39 solid 1px; padding:1px; background:#070d0e; color:#828589; font-size:11px;}
.psnWrap .profileIMG{ position:relative;}
.psnWrap .profileIMG .img{border:#525a66 solid 1px;}
.psnWrap .profileIMG .btn{ position:absolute; left:6px; top:45px;}
.psnWrap .psnTable{ width:100%; border:none; margin-bottom:3px;}
.psnWrap .psnTable th,
.psnWrap .psnTable td{ font-size:11px; font-weight:normal; padding:1px 0; border:none; text-align:left; line-height:14px;}
.psnWrap .psnTable th{ color:#68837e}
.psnWrap .pTab{ margin-bottom:5px;}
.psnWrap .pTab ul{ height:18px;}
.psnWrap .pTab ul li{ float:left; margin-right:1px;}
.psnWrap .pBox{ border:#252d35 solid 1px; background:#070d0e; padding:5px; font-size:11px;}
.psnWrap .headTit{ background:#0b0e11; height:20px; position:relative;}
.psnWrap .headTit .tit{ color:#FFFFFF; font-weight:bold; font-size:11px; position:absolute; left:10px; top:4px; line-height:12px;}
.psnWrap .headTit .btn{ position:absolute; right:5px; top:3px;}
.psnWrap .name{ color:#bfc485; font-weight:bold;}

.psnWrap .topArea{ height:20px; position:relative; margin-bottom:2px;}
.psnWrap .topArea .tit{ position:absolute; left:0px; top:1px; line-height:14px;}
.psnWrap .topArea .pw{ position:absolute; right:0px; top:1px;}
.psnWrap .topArea .pw .inText{ background:#4b5462; color:#070d0e; border:#232c39}
.psnWrap .gTab{ height:18px; font-size:11px;}
.psnWrap .gTab a{ font-size:11px; color:#5e6670; padding-bottom:-2px;}
.psnWrap .gTab li{ float:left; background:#222932; height:13px; border:#161e27 solid 1px; font-size:11px; text-align:center; padding:3px 3px 0px 3px}
.psnWrap .gTab li.on{ border:#353e4a solid 1px; height:14px; background:#283240; width:54px; border-bottom:none; padding-bottom:2px;}
.psnWrap .gTab li.on a{ color:#8e949d}
.psnWrap .iBox{ background:#283240; padding:7px 6px 8px; border:#353e4a solid 1px;}
.psnWrap .proIMG{}
.psnWrap .proIMG li{ border:#525a66 solid 1px; padding:0px 2px 2px 0px ; float:left; margin:0 4px 4px 0 }
.psnWrap .proIMG li.on{ border:#8b96a7 solid 2px; padding:0px 0px 0px 0px; float:left;  }
.psnWrap .proIMG li.on img{ padding:-1px;}
.psnWrap .pWrap1{padding:0 10px 10px;}
.psnWrap .tc1{ color:#8d7f73 !important}
.psnWrap .scroll{ overflow:auto;}


.psnWrap.profileBoard{ width:616px; border:#12161b solid 1px; margin-bottom:20px;}
.psnWrap.profileBoard .profileIMG .img{ padding:2px;}
.psnWrap.profileBoard .pWrap .left{ width:67px;}
.psnWrap.profileBoard .tit{ font-weight:bold; color:#FFFFFF; margin-bottom:5px;}
.psnWrap.profileBoard .pWrap{ width:596px; padding:10px;}
.psnWrap.profileBoard .psnTable{ float:left; width:250px;}
.psnWrap.profileBoard .pBox{ float:left; width:255px; height:38px; overflow:auto}
.psnWrap.profileBoard .pWrap .right{ width:520px;}





.divinputfile { background:url(/work/edda/_personal/images/btnFile.gif) no-repeat 0 0px; display:inline-block; height:23px; width:63px; vertical-align:middle; top:1px; position:relative;  }
.divinputfile input{}
.divinputfile:hover { background:url(/work/edda/_personal/images/btnFile.gif) no-repeat 0 -26px; }
.fileInput { border:#525a66 solid 1px; background:#070d0e; color:#8e949d; padding:3px 3px 3px 3px; vertical-align:middle; font-size:11px; width:250px; _width:240px }
.fileList { padding:2px 0; width:100% }

.listOL{ margin-left:10px;}
.listOL li{ list-style:decimal; margin-left:10px; margin-bottom:4px; font-size:11px;}