/* CSS Document */


.discussTit{ height:38px;}
.discussTit .tit{ float:left}
.discussTit .btn{ float:right}












.fansiteHead{ margin-bottom:20px;}

.fansiteBest{ border:#2b343c solid 1px; padding:19px 0 0 19px; height:117px; margin-bottom:20px;}
.fansiteBest .box{ width:189px; float:left; margin-right:4px;}
.fansiteBest .box .img{ padding:2px; border:#000000 solid 1px; background:#22282a}
.fansiteBest .box .tit{ text-align:center; padding:10px 0;}

.fansiteWrap { border-top:#2f373f solid 2px; margin-bottom:20px;}
.fansiteWrap .box{ background:url(/work/edda/community/images/fansiteListDot.gif) repeat-x bottom; padding:15px 0 0 0; margin:0}
.fansiteWrap .box .img{ padding:2px; border:#000000 solid 1px; background:#22282a; float:left; margin-bottom:20px;}
.fansiteWrap .box .info{ border:none; width:410px; float:right; margin-bottom:20px;}
.fansiteWrap .box .info th{ border:none; padding:3px 3px 3px 0px; width:100px;  background:url(/work/edda/community/images/fansiteListBul.gif) no-repeat 0 5px; vertical-align:top; color:#808181}
.fansiteWrap .box .info td{ border:none; padding:3px 3px 3px 0px; color:#808181}
.fansiteWrap .box .info .txt{ font-size:11px; color:#4a5865}
.fansiteWrap .box .info .txt *{ font-size:11px; color:#4a5865}




.userSSTit{ margin-bottom:5px;}
.userBest{ border:#2b343c solid 1px; padding:19px 0 0 19px; height:187px; margin-bottom:20px; background:#222b34 }
.userSSBox{ width:135px; float:left; margin-right:12px; margin-bottom:10px;}
.userSSBox .img{padding:2px; border:#000000 solid 1px; background:#22282a;}
.userSSBox .img img{ vertical-align:text-bottom}
.userSSBox .tit{ padding:10px 0 3px 5px; color:#808181; height:18px; overflow:hidden; line-height:20px;}
.userSSBox .tit *{ color:#808181}
.userSSBox .info li{ padding:2px 0 2px 5px; color:#4a5865; font-size:11px;}

.userSSWrap{padding:19px 0 10px 19px; border-top:#2b343c solid 2px;border-bottom:#2b343c solid 2px; margin-bottom:10px;}

.userSSWrap .dotLine{ background:url(/work/edda/community/images/dotLine.gif) repeat-x center; height:20px; margin-left:-20px; margin-bottom:10px;}







.rankHead{ background:url(/work/edda/community/images/rankingHeadBg.gif) no-repeat; height:86px; position:relative; margin-bottom:20px; }
.rankHead *{color:#505a62; font-size:11px;}
.rankHead select{ border:#2c3946 solid 1px; padding:2px; background:#0b1218}
.rankHead input{ border:#2c3946 solid 1px; padding:3px; background:#0b1218}

.rankTab{background:url(/work/edda/community/images/rankingTabBg.gif) no-repeat; height:37px; padding-left:8px; margin-bottom:20px;}
.rankTab li{ float:left}
.rankTab li img{ vertical-align:text-bottom}

.rankList{ border:none; width:100%; border-bottom:1px solid #2f373f; font:12px Dotum; margin-bottom:15px;}
.rankList thead tr{ background:url(/work/edda/images/board/hImgBar.gif) no-repeat; height:30px;}

.rankList thead th{ border:none; padding:0 7px; height:30px; line-height:18px; background:url(/work/edda/images/board/hImgBar.gif) no-repeat -5px;}
.rankList thead th.left{ background:url(/work/edda/images/board/hImgBar.gif) no-repeat 0px;}
.rankList thead th.right{ background:url(/work/edda/images/board/hImgBar.gif) no-repeat right 0px;}
.rankList tbody tr{ background:url(/work/edda/images/board/dotLine.gif) repeat-x bottom;}
.rankList tbody tr.bgNone{ background:none}
.rankList tbody td{ border:none; padding:7px 3px 6px 3px; text-align:center; line-height:18px; border-bottom:#2f373f solid 1px;}

.rankList .bNum{ font-size:11px; color:#505a62; font-family:Tahoma; width:80px;}
.rankList .bTit{ text-align:left; text-align:center;}
.rankList .bg1{ background:none}
.rankList .bg2{ background:#161d23}
.rankList .bName{ font-size:11px;  color:#505a62; }
.rankList .bDate{ font-size:11px; color:#505a62;}
.rankList .bHit{ font-size:11px; color:#505a62;}
.rankList .rNum{font-size:11px; color:#505a62; font-family:Tahoma; display:inline-block; margin-left:10px;}
.rankList .rNum img{ margin-right:5px;}





















