@charset "euc-kr";
@import url(board.css);
@import url(news.css);
@import url(gameInfo.css);
@import url(community.css);
@import url(pds.css);
@import url(/work/edda/itemMall/itemMall.css);
@import url(/work/edda/globalTop/globalTop.css);
@import url/work/edda(/_personal/style.css);
/* 공통 스타일 */
html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*{margin:0; padding:0; font-size:12px; font-family: Dotum, Tahoma, Sans-serif; color:#828589}
html,body{}
caption{display:none}
img { border:0; vertical-align:middle; }
input,select {vertical-align:middle}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
ul, ol, li { list-style:none; }
h1, h2, h3, h4, h5, h6, h7 { font-size:100%; font-weight:normal; }
html:first-child select{padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */ 
a:link { color:#8392a1; text-decoration: none; }
a:visited { color:#8392a1; text-decoration: none; }
a:active { color:#8392a1; text-decoration: none; }
a:hover { color:#aebbc7 ; text-decoration:none; }
textarea{ overflow:auto; line-height:160%;}
.blind {visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
hr{display:none}
fieldset{ border:0; position:relative; clear:both;}
fieldset:after{ content:""; display:block; float:none; clear:both;}
legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}

.png24 {tmp:expression(setPng24(this));} 
/*select{behavior: url('/_js/selectbox.htc'); margin-right:-6px;  margin-bottom:-1px;}
body:first-of-type select { margin:0 } */

.aLeft{ text-align:left !important}
.aCenter{ text-align:center !important}
.aRight{ text-align:right !important}
.nobor{ border:none !important}
.size11,
.size11 *{ font-size:11px; !important}
.size12{ font-size:12px; !important}
.size14{ font-size:14px; !important}
.bold{font-weight:bold !important}
.normal{font-weight:normal !important}
.under{ text-decoration:underline !important}


.tc1,
.tc1 *,
.tc1 a{color:#828589 !important}

.tc2,
.tc2 *,
.tc2 a{color:#505a62 !important}

.tc3,
.tc3 *,
.tc3 a{color:#7a8c9a !important}

.tcOrange,
.tcOrange *,
.tcOrange a{color:#f04425 !important}
.tcBlue,
.tcBlue *,
.tcBlue a{color:#1568b6 !important}
.tcBlack,
.tcBlack *,
.tcBlack a{color:#2d2d2d !important}

.radio,
.checkbox{ border:none !important; width:13px; height:13px;}

.w40 { width:40px !important; }
.w50 { width:50px !important; }
.w60 { width:60px !important; }
.w70 { width:70px !important; }
.w80 { width:80px !important; }
.w90 { width:90px !important; }
.w100 { width:100px !important; }
.w110 { width:110px !important; }
.w120 { width:120px !important; }
.w130 { width:130px !important; }
.w140 { width:140px !important; }
.w150 { width:150px !important; }
.w160 { width:160px !important; }
.w170 { width:170px !important; }
.w180 { width:180px !important; }
.w190 { width:190px !important; }
.w200 { width:200px !important; }
.w210 { width:210px !important; }
.w220 { width:220px !important; }
.w230 { width:230px !important; }
.w240 { width:240px !important; }
.w250 { width:250px !important; }
.w260 { width:260px !important; }
.w270 { width:270px !important; }
.w280 { width:280px !important; }
.w290 { width:290px !important; }
.w300 { width:300px !important; }
.w400 { width:400px !important; }

#indexBody{ background-color:#10171b}
#indexWrap { background:url(/work/edda/images/main/mainBg.jpg) repeat-x center top #171f25 }
.mainCenter { width:1100px; margin:auto; }
.mainCenter .topVisual { height:406px; position:relative; }
.mainCenter .topVisual .flashBox { position:absolute; }
.mainCenter .mainArea { padding:0 70px 0px 70px;  }

.mainCenter .leftArea { width:240px; float:left; margin-right:13px;}
.mainCenter .centerArea { width:456px; float:left; position:relative;  }
.mainCenter .rightArea { width:240px; float:right;}


.mainCenter .loginBox { width:240px; height:206px; background:url(/work/edda/images/main/loginBoxBgMain.gif) no-repeat; position:relative; z-index:20 }
.mainCenter .loginBox .id { position:absolute; left:28px; top:17px; border:none; border-top:#070808 solid 1px; border-left:#0f1112 solid 1px;  border-bottom:#292e31 solid 1px; border-right:#23272a solid 1px; padding:2px; background:#181e24; height:15px; width:117px; }
.mainCenter .loginBox .pw { position:absolute; left:28px; top:41px; border:none; border-top:#070808 solid 1px; border-left:#0f1112 solid 1px;  border-bottom:#292e31 solid 1px; border-right:#23272a solid 1px; background:#181e24; height:15px; width:117px; }
.mainCenter .loginBox a span{ display:none;}
.mainCenter .loginBox .btnLogin { position:absolute; right:25px; top:16px; }
.mainCenter .loginBox a span{ display:none;}
.mainCenter .loginBox .btnJoin { position:absolute; left:26px; top:73px;}
.mainCenter .loginBox .btnJoin a{ width:46px; height:17px; display:inline-block; background:url(/work/edda/images/main/btnJoin.gif) no-repeat;}
.mainCenter .loginBox .btnIdpw { position:absolute; left:72px; top:73px; }
.mainCenter .loginBox .btnIdpw a{ width:66px; height:17px; display:inline-block; background:url(/work/edda/images/main/btnIdpw.gif) no-repeat;}
.mainCenter .loginBox .pcEvent{ position:absolute; right:25px; top:86px; z-index:10}
.mainCenter .loginBox .btnPc{position:absolute; right:28px; top:75px;}
.mainCenter .loginBox .btnPc a{ width:69px; height:16px; display:inline-block; background:url(/work/edda/images/main/btnPcOn.gif) no-repeat;}
.mainCenter .loginBox .btnPc.off a{ background:url(/work/edda/images/main/btnPcOff.gif) no-repeat;}

.mainCenter .loginBox .loginDot{ background:url(/work/edda/images/main/loginDotLine.gif) no-repeat; height:13px; width:183px; position:absolute; left:29px; top:91px;}
.mainCenter .loginBox .bannerMotp{ background:url(/work/edda/images/main/bannerMotp.gif) no-repeat; position:absolute; left:25px; top:102px;}
.mainCenter .loginBox .bannerMotp a{width:190px; height:81px; display:inline-block;}


.mainCenter .logoutBox { width:240px; height:206px; background:url(/work/edda/images/main/loginBoxBgMain.gif) no-repeat; position:relative; z-index:10}
.mainCenter .logoutBox .name{ position:absolute; left:24px; top:18px; font-weight:normal; color:#8d7f73}
.mainCenter .logoutBox .logText{ position:absolute; left:17px; top:37px;}
.mainCenter .logoutBox .loginDot{ background:url(/work/edda/images/main/logoutDotLine.gif) no-repeat; height:7px; width:195px; position:absolute; left:23px; top:34px;}
.mainCenter .logoutBox .btnLogin { position:absolute; left:91px; top:42px; }
.mainCenter .logoutBox .btnMypage { position:absolute; left:24px; top:42px; }
.mainCenter .logoutBox .btnPc{position:absolute; right:22px; top:43px;}
.mainCenter .logoutBox .infoWrap{ position:absolute; left:24px; top:66px; width:191px;}
.mainCenter .logoutBox .logTab{ height:18px; font-size:11px;}
.mainCenter .logoutBox .logTab a{ font-size:11px; color:#282f38}
.mainCenter .logoutBox .logTab li{ float:left; background:#171d24; border:#1b222b solid 1px; font-size:11px; text-align:center; width:61px; padding:2px 0 1px 0}
.mainCenter .logoutBox .logTab li.on{ border:#262f3c solid 1px; background:#1e242c; width:63px; border-bottom:none; padding-bottom:2px;}
.mainCenter .logoutBox .logTab li.on a{ color:#8e949d}
.mainCenter .logoutBox .infoBox{ background:#1e242c; padding:12px 10px 10px 10px; border:#252d3a solid 1px; border-top:none; height:75px;}
.mainCenter .logoutBox .infoBox .btnCash{ background:url(/work/edda/images/main/btnCash.gif) no-repeat; position:absolute; left:7px; top:86px;}
.mainCenter .logoutBox .infoBox .btnCash a{ width:175px; height:24px; display:inline-block}

.mainCenter .logoutBox .infoTable{ width:100%; border:none; margin-bottom:3px;}
.mainCenter .logoutBox .infoTable th,
.mainCenter .logoutBox .infoTable td{ font-size:11px; font-weight:normal; padding:1px 0; border:none; text-align:left; line-height:14px;}
.mainCenter .logoutBox .infoTable td{ text-align:right}
.mainCenter .logoutBox .infoTable .nColor{ color:#93533d}
.mainCenter .logoutBox .btn{ text-align:right; clear:both;}
.mainCenter .logoutBox .profileIMG{ float:left; margin-right:10px; border:#333333 solid 1px;}
.mainCenter .logoutBox .infoBox.i2{ padding:5px; height:87px;}
.mainCenter .logoutBox .infoTable.t2{ width:100px; float:left; margin-bottom:5px;}
.mainCenter .logoutBox .infoTable.t2 th,
.mainCenter .logoutBox .infoTable.t2 td{ padding:2px 0; line-height:13px; text-align:left;}
.mainCenter .logoutBox .pcEvent{ position:absolute; right:23px; top:54px; z-index:10}
.mainCenter .logoutBox a span{ display:none;}
.mainCenter .logoutBox .btnPc{position:absolute; right:25px; top:42px;}
.mainCenter .logoutBox .btnPc a{ width:69px; height:16px; display:inline-block; background:url(/work/edda/images/main/btnPcOn.gif) no-repeat;}
.mainCenter .logoutBox .btnPc.off a{ background:url(/work/edda/images/main/btnPcOff.gif) no-repeat;}
.mainCenter .logoutBox .infoTable.t3 th,
.mainCenter .logoutBox .infoTable.t3 td{ padding:2px 0; line-height:13px;;}


.subCenter .skyBanner{float:right; left:1060px; position:absolute;  width:19px; z-index:50;}
.mainCenter .skyBanner{float:right; left:1030px; top:400px; position:absolute;  width:19px; z-index:50; padding-top:97px;}


.subCenter .loginBox { width:190px; height:169px; background:url(/work/edda/images/main/loginBoxBgSub.gif) no-repeat; position:relative; z-index:20 }
.subCenter .loginBox .id { position:absolute; left:15px; top:17px; border:none; border-top:#070808 solid 1px; border-left:#0f1112 solid 1px;  border-bottom:#292e31 solid 1px; border-right:#23272a solid 1px; padding:2px; background:#181e24; height:15px; width:99px; }
.subCenter .loginBox .pw { position:absolute; left:15px; top:41px; border:none; border-top:#070808 solid 1px; border-left:#0f1112 solid 1px;  border-bottom:#292e31 solid 1px; border-right:#23272a solid 1px; background:#181e24; height:15px; width:99px; }
.subCenter .loginBox a span{ display:none;}
.subCenter .loginBox .btnLogin { position:absolute; right:10px; top:16px; }
.subCenter .loginBox a span{ display:none;}
.subCenter .loginBox .btnJoin { position:absolute; left:15px; top:71px;}
.subCenter .loginBox .btnJoin a{ width:46px; height:17px; display:inline-block; background:url(/work/edda/images/main/btnJoin.gif) no-repeat;}
.subCenter .loginBox .btnIdpw { position:absolute; left:62px; top:71px; }
.subCenter .loginBox .btnIdpw a{ width:66px; height:17px; display:inline-block; background:url(/work/edda/images/main/btnIdpw.gif) no-repeat;}
.subCenter .loginBox .pcEvent{ position:absolute; right:10px; top:86px; z-index:10}
.subCenter .loginBox .btnPc{position:absolute; right:13px; top:73px;}
.subCenter .loginBox .btnPc a{ width:52px; height:16px; display:inline-block; background:url(/work/edda/images/main/btnSubPcOn.gif) no-repeat;}
.subCenter .loginBox .btnPc.off a{ background:url(/work/edda/images/main/btnSubPcOff.gif) no-repeat;}
.subCenter .loginBox .loginDot{ background:url(/work/edda/images/main/loginDotLine.gif) no-repeat; height:13px; position:absolute; left:10px; top:0px;}
.subCenter .loginBox .bannerMotp{ background:url(/work/edda/images/main/bannerMotpSub.gif) no-repeat; position:absolute; left:13px; top:100px;}
.subCenter .loginBox .bannerMotp a{width:166px; height:56px; display:inline-block;}


.subCenter .logoutBox { width:190px; height:185px; background:url(/work/edda/images/main/loginBoxBgSub2.gif) no-repeat; position:relative; z-index:10}
.subCenter .logoutBox .name{ position:absolute; left:14px; top:16px; font-weight:normal; color:#8d7f73}
.subCenter .logoutBox .logText{ position:absolute; left:17px; top:37px;}
.subCenter .logoutBox .loginDot{ background:url(/work/edda/images/main/logoutDotLine.gif) no-repeat; height:7px; width:166px; position:absolute; left:13px; top:33px;}
.subCenter .logoutBox .btnLogin { position:absolute; left:79px; top:42px; }
.subCenter .logoutBox .btnMypage { position:absolute; left:13px; top:42px; }
.subCenter .logoutBox .pcEvent{ position:absolute; right:10px; top:54px; z-index:10}
.subCenter .logoutBox a span{ display:none;}
.subCenter .logoutBox .btnPc{position:absolute; right:11px; top:42px;}
.subCenter .logoutBox .btnPc a{ width:52px; height:16px; display:inline-block; background:url(/work/edda/images/main/btnSubPcOn.gif) no-repeat;}
.subCenter .logoutBox .btnPc.off a{ background:url(/work/edda/images/main/btnSubPcOff.gif) no-repeat;}
.subCenter .logoutBox .infoWrap{ position:absolute; left:13px; top:63px; width:166px;}
.subCenter .logoutBox .logTab{ height:18px; font-size:11px;}
.subCenter .logoutBox .logTab a{ font-size:11px; color:#282f38}
.subCenter .logoutBox .logTab li{ float:left; background:#171d24; border:#1b222b solid 1px; font-size:11px; text-align:center; width:53px; padding:2px 0 1px 0}
.subCenter .logoutBox .logTab li.on{ border:#262f3c solid 1px; background:#1e242c; width:54px; border-bottom:none; padding-bottom:2px;}
.subCenter .logoutBox .logTab li.on a{ color:#8e949d}
.subCenter .logoutBox .infoBox{ background:#1e242c; padding:7px 6px 8px; border:#252d3a solid 1px; border-top:none; height:76px;}

.subCenter .logoutBox .infoBox .btnCash{ background:url(/work/edda/images/main/btnCashSub.gif) no-repeat; position:absolute; left:5px; top:81px;}
.subCenter .logoutBox .infoBox .btnCash a{ width:156px; height:24px; display:inline-block}



.subCenter .logoutBox .infoTable{ width:100%; border:none; margin-bottom:3px;}
.subCenter .logoutBox .infoTable th,
.subCenter .logoutBox .infoTable td{ font-size:11px; font-weight:normal; padding:1px 0; border:none; text-align:left; line-height:14px;}
.subCenter .logoutBox .infoTable td{ text-align:right}
.subCenter .logoutBox .infoTable .nColor{ color:#93533d}
.subCenter .logoutBox .btn{ text-align:right; clear:both;}
.subCenter .logoutBox .profileIMG{ float:left; margin-right:10px; border:#333333 solid 1px;}
.subCenter .logoutBox .infoBox.i2{ padding:2px; height:87px;}
.subCenter .logoutBox .infoTable.t2{ width:86px; float:left; margin-bottom:1px;}
.subCenter .logoutBox .infoTable.t2 th,
.subCenter .logoutBox .infoTable.t2 td{ padding:2px 0; line-height:13px; text-align:left;}

.subCenter .logoutBox .infoTable.t3 th,
.subCenter .logoutBox .infoTable.t3 td{ padding:2px 0; line-height:13px;;}














.mainEvent{ margin-bottom:37px;}



.mainNotice { margin-bottom:7px; display:none; padding:11px 10px 0 10px; }
.mainNotice .btnMore{ float:right}
.mainNotice .tab { background:url(/work/edda/images/main/mainTabBg.gif) no-repeat; height:30px; padding-left:3px; }
.mainNotice .tab li { float:left }
.mainNotice .tab .btn{ float:right}
.mainNotice .list { width:100%; border:none; }
.mainNotice .list th { border:none; border-bottom:#202a28 solid 1px; padding:5px 3px 4px 3px; line-height:18px; color:#808181; text-align:left; font-weight:normal; }
.mainNotice .list td { border:none; border-bottom:#202a28 solid 1px; padding:5px 3px 4px 3px; line-height:18px; color:#808181; text-align:right; font-size:11px; font-family:Tahoma; }
.mainNotice .list a{ color:#808181}
.mainNotice .list a:hover { color:#dcdcdc; }

.mainCenter .scrollNotice { width:707px; height:37px; position:absolute; left:0px; top:165px; background:url(/work/edda/images/main/scrollNoticeBg.gif) no-repeat; }

.mainSS { background:url(/work/edda/images/main/mainSSbg.gif) no-repeat; height:151px; padding:10px 0 0 20px; }
.mainSS .head { margin-bottom:5px; padding:5px 0 0 0px; }
.mainSS .box { float:left; margin:0 6px; }
.mainSS .box .img { border:#000000 solid 1px; padding:2px; margin-bottom:8px; width:120px; text-align:center; }
.mainSS .box .tit { text-align:center; color:#808181; margin-bottom:5px; }
.mainSS .box .tit a{ color:#808181}
.mainSS .box .name { text-align:center; color:#494949; font-size:11px; }
.ranking{ width:168px; position:absolute;}
.ranking .num{ width:10px;}
.ranking .tab{ height:21px; margin-bottom:5px;}
.ranking .tab li{float:left}
.ranking .list{ width:100%; border:none}
.ranking .list td{border:none; border-bottom:#2c333a solid 1px; padding:4px 2px 4px 2px ; font-size:11px; color:#999999}
.ranking .rank {text-align: center; color:#5e6e74; padding:4px 1px 4px 1px; width:30px;}

.mainPoll{ position:relative;}
.mainPoll .info{ color:#5e6974; font-size:11px; position:absolute; left:38px; top:50px;}
.mainPoll .date{ background:#1a1e25; font-size:11px; padding:2px 4px;position:absolute; left:38px; top:115px;}

.scrollNotice { position:absolute; right:190px; top:10px; width:270px; height:27px; overflow:hidden; z-index:10 }

.gameGuide { position:absolute; left:191px; top:-32px;  z-index:10; width:190px;}

#subWrap{background:#171f25}
#subWrap { background:url(/work/edda/images/main/subBg.jpg) repeat-x center top #171f25 }
.subCenter { width:1054px; margin:auto; }
.subCenter .topVisual { height:300px; position:relative;}
.subCenter .topVisual .flashBox { height:339px; position:absolute;z-index:5}
/*body:first-of-type .subCenter .topVisual .flashBox { z-index:5  }*/
.subCenter .mainArea { width:1054px; position:relative; padding:0 0 20px 0; margin:auto;} 
.subCenter .leftArea { width:190px; float:left; margin-right:14px; }
.subCenter .centerArea { width:650px; float:left; padding-top:39px; }
.subCenter .rightArea { width:190px; float:right ;position:relative; z-index:10}

.leftMenu { margin-bottom:5px; display:none; }
.leftMenu .menu{ background:url(/work/edda/images/main/leftMenuBg.gif) repeat-y; margin:auto; width:171px; margin-bottom:-2px; padding-left:19px; position:relative;}
.leftMenu .menu .bot{ position:relative; top:0px;}
.leftMenu .menu ul{ margin:5px 0}
.leftMenu .menu li{ position:relative;}


.subCenter #footer { position:relative; background:#171e26 }
.devList { margin-bottom:20px; }
.devList li { padding:5px 3px 4px 20px; background:url(/work/edda/images/main/bul01.gif) no-repeat 10px 10px; border-bottom:#242d31 solid 1px; font-size:11px; }
.devList li a { font-size:11px; color:#808181 }
.devList li a:hover {color:#bababa }






.ctnBox .ctnTop{ background:url(/work/edda/images/main/contentsTop.gif) no-repeat; height:17px;}
.contents{ background:url(/work/edda/images/main/contentsBg.jpg) repeat-x #171f25; padding:0px 17px; min-height:550px; _height:550px;}
.contents .headTit{ background:url(/work/edda/images/main/subTitBg.gif) repeat-x; height:38px; position:relative; margin-bottom:24px;}
.contents .headTit .tit{}
.contents .headTit .location{ position:absolute; right:0; top:15px; font-size:11px; color:#68727a}
.btnScrollTop{ text-align:right; padding-top:20px;}

.loginBox { width:184px; height:108px; background:url(/work/edda/images/main/loginBoxBg.gif) no-repeat; position:relative; z-index:10;}
.loginBox .id { position:absolute; left:17px; top:17px; border-top:#0c0f12 solid 1px; border-left:#0c0f12 solid 1px;  border-bottom:#2f3840 solid 1px; border-right:#2f3840 solid 1px; padding:2px; background:#181e24; height:15px; width:85px; }
.loginBox .pw { position:absolute; left:17px; top:41px; border-top:#0c0f12 solid 1px; border-left:#0c0f12 solid 1px;  border-bottom:#2f3840 solid 1px; border-right:#2f3840 solid 1px; padding:2px; background:#181e24; height:15px; width:85px; }
.loginBox .btnLogin { position:absolute; right:16px; top:17px; }
.loginBox .btnJoin { position:absolute; left:33px; top:73px; }
.loginBox .btnIdpw { position:absolute; left:87px; top:73px; }


.logoutBox { width:184px; height:108px; background:url(/work/edda/images/main/loginBoxBg.gif) no-repeat; position:relative; z-index:10}
.logoutBox .name{ position:absolute; left:22px; top:20px; font-weight:bold}
.logoutBox .logText{ position:absolute; left:17px; top:37px;}
.logoutBox .btnLogin { position:absolute; right:16px; top:17px; }
.logoutBox .btnMypage { position:absolute; left:33px; top:73px; }
.logoutBox .btnSec{ position:absolute; left:97px; top:73px; }


.loginBoxEtc { width:616px; height:274px; background:url(/work/edda/etc/images/loginBg.gif) no-repeat; position:relative;}
.loginBoxEtc .id { position:absolute; left:330px; top:110px; border:#22262c solid 1px; padding:1px; background:#0b1218; height:15px; width:155px; }
.loginBoxEtc .pw { position:absolute; left:330px; top:132px; border:#22262c solid 1px; padding:1px; background:#0b1218; height:15px; width:155px; }
.loginBoxEtc .btnLogin { position:absolute; right:66px; top:110px; }
.loginBoxEtc .btnJoin { position:absolute; left:443px; top:187px; }
.loginBoxEtc .btnIdpw { position:absolute; left:443px; top:212px; }







#footer{ text-align:center; background:#10171b; padding-top:20px;}
#footer *{ margin:0; padding:0; font-size:12px;}
#footer a{ text-decoration:none}
#footer .foot { width:940px; margin:auto; height:110px; position:relative; text-align:left }
#footer .foot .logo { position:absolute; left:0px; top:25px }
#footer .foot .link { position:absolute; left:103px; top:-2px; border-bottom:#272e34 solid 1px; width:837px; padding-bottom:8px; }
#footer .foot .link li { float:left; list-style:none}
#footer .foot .link li a { color:#5c6266 }
#footer .foot .comInfo { position:absolute; left:103px; top:33px; color:#5c6266; font-size:11px; line-height:16px; }
#footer .foot .copyRight { position:absolute; left:103px; top:83px; color:#5c6266 ; font-size:11px; text-align:left}
#footer .foot .copyRight strong { color:#707070; font-size:11px; }
#footer .foot .gameInfo { position:absolute; right:0px; top:33px; }
#footer .foot .gameInfo .levMark{ position:absolute; left:0; top:0;}




.mainItemMall{ background:url(/work/edda/images/main/mainItemBg.gif) no-repeat; width:240px; height:177px; position:relative;}
.mainItemMall .btnR{ position:absolute; right:18px; top:20px; height:16px;}
.mainItemMall .btnR li{ float:left;}

.mainItemMall .itemWrap{ width:188px;  height:100px; position:absolute; left:25px; top:70px; overflow:hidden;}
.mainItemMall .itemList{ position:absolute; left:0px; top:0px; width:210px; height:100px;}
.mainItemMall .itemWrap .itemBox{ width:54px; float:left; margin:0 13px 0 0; margin-bottom:25px;}
.mainItemMall .itemWrap .itemBox .img{ background:url(/work/edda/images/main/mainItemSbg.gif) no-repeat; padding:10px; margin-bottom:8px;}
.mainItemMall .itemWrap .itemBox .cash{ background:url(/work/edda/images/main/mainItemCbg.gif) no-repeat; height:15px;}
.mainItemMall .itemWrap .itemBox .cash ul{ text-align:center; width:54px; margin:auto;}
.mainItemMall .itemWrap .itemBox .cash li{ display:inline; margin-right:-2px; margin-left:-2px}

