/* CSS Document */

.classHead{ margin-bottom:10px;}
.classTab{ background:url(/work/edda/gameInfo/images/classTabBg.gif) no-repeat; height:94px; width:588px; padding:12px 0 0 28px; margin-bottom:10px;}
.classTab .list{ width:180px; border:none; margin-right:10px; float:left;}
.classTab .list td{border:none;}
.cMenu { height:30px; text-align:center; margin-bottom:10px;}
.cMenu ul{ height:30px; margin:auto; display:inline-block}
.cMenu ul li{ float:left}


.classMovie{ background:#000000; text-align:center; height:482px;}


.tab{ margin-bottom:15px;}


.special01SS{ height:220px;}
.special01SS .big{ width:318px; float:left; background:url(/work/edda/gameInfo/images/special2SSbigBg.gif) no-repeat; padding:4px;}
.special01SS .big img{ width:318px; height:190px;}
.special01SS .smallList{ width:256px; float:right; border-bottom:#2f373f solid 2px; border-top:#2f373f solid 2px; padding:11px 0 11px 20px; text-align:center }
.special01SS .smallList ul{ display:inline-block;}
.special01SS .smallList li{float:left; margin:0 3px 3px 0}
.special01SS .smallList li img{ border:#000000 solid 1px; padding:1px;}

.rideList img{ border:#000000 solid 1px; padding:2px;}
.rideList li{ float:left; margin-right:5px;}



.skillWrap{}
.skillWrap .left{width:200px; float:left; position:relative; height:500px;}
.skillWrap .left .movie{ margin-bottom:20px; height:170px;}
.skillWrap .left .cImg{ position:absolute; right:0px;}
.skillWrap .left .cImg img{}
.skillWrap .scLeft{}

.skillWrap .right{width:397px; float:right}

.skillWrap .box{ margin-bottom:20px;}
.skillWrap .box .head{ height:38px; margin-bottom:7px;}
.skillWrap .box .head .item{ float:left; width:34px; height:34px; position:relative;}
.skillWrap .box .head .item .frame{ position:absolute; z-index:10;}
.skillWrap .box .head .item .img{ position:absolute; z-index:5; left:2px; top:2px;}
.skillWrap .box .head .name{ background:url(/work/edda/gameInfo/images/skillNameBg.gif) no-repeat; width:344px; float:right; height:26px; padding:12px 0 0 12px; color:#adadad}
.skillWrap .box .info dl{ height:18px; border-bottom:#2f373f solid 1px;}
.skillWrap .box .info dt{ color:#6c87a5; font-size:11px; background:url(/work/edda/gameInfo/images/skillBulBar.gif) no-repeat right 0; padding-right:8px; display:inline-block; float:left}
.skillWrap .box .info dd{ color:#e8e8e8; font-size:11px; display:inline-block; padding-right:20px; float:left}
.skillWrap .box .txt{ color:#8392a1; padding:5px 0; font-size:11px; line-height:18px;}





.quicktop { position:absolute; top:0px; margin-left:0px; z-index:4; }


.schMosnter{ background:url(/work/edda/guide/images/schMoster.gif) no-repeat; width:616px; height:61px; position:relative; margin-bottom:25px;}
.schMosnter .sch{ position:absolute; left:20px; top:19px;}
.schMosnter {}
.schMosnter select{border:#2c3946 solid 1px; padding:2px; background:#0b1218}
.schMosnter input{ border:#2c3946 solid 1px; padding:3px; background:#0b1218}

.monsterBox{ background:url(/work/edda/guide/images/mosterBox.gif) no-repeat; height:68px; width:576px; padding:20px; margin-bottom:10px;}
.monsterBox:after{content:""; clear:both; display:block; *zoom:1;}
.monsterBox .img{}
.monsterBox .tab{ height:24px; margin-bottom:8px;}
.monsterBox .tab li{ float:left; background:url(/work/edda/guide/images/mstTab.gif) no-repeat; height:18px; width:90px; letter-spacing:-1px; padding:6px 0 0 0; color:#495b70; text-align:center; font-size:11px;}
.monsterBox .info{ color:#6c7884; font-size:11px; padding-left:2px; font-weight:normal;}
.monsterBox .left{ float:left}
.monsterBox .right{float:right; width:470px; padding-top:3px;}
.monsterBox .right .name{ font-size:12px; font-weight:bold; color:#846745; padding-left:2px; margin-bottom:10px;}
.monsterBox .list{ border:none; border-top:#2d343c solid 1px; border-left:#2d343c solid 1px;width:300px; margin-bottom:5px;}
.monsterBox .list th,
.monsterBox .list td{ border:none; border-bottom:#2d343c solid 1px; border-right:#2d343c solid 1px; font-size:11px; padding:2px; line-height:14px; text-align:center; font-weight:normal;}
.monsterBox .list th{ background:#191e25}



.systemTab{}
.systemTab ul{ height:37px; background:url(/work/edda/guide/images/systemTabBg.gif) no-repeat; padding-left:8px;}
.systemTab ul li{ float:left;}



