@charset "euc-kr";
/* CSS Document */

.bbsList{width:100%; border-bottom:2px solid #e0e0e0; font:12px Dotum; border-collapse:collapse; margin-bottom:15px;}
.bbsList thead tr{ background:url(/work/angel/images/board/hImgBar.gif) no-repeat; height:31px;}

.bbsList thead th{ height:31px; line-height:18px; background:url(/work/angel/images/board/hImgBar.gif) no-repeat -5px;}
.bbsList thead th.left{ background:url(/work/angel/images/board/hImgBar.gif) no-repeat 0px;}
.bbsList thead th.right{ background:url(/work/angel/images/board/hImgBar.gif) no-repeat right 0px;}
.bbsList tbody tr{ background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom;}
.bbsList tbody tr.bgNone{ background:none}
.bbsList tbody td{ padding:4px 3px 4px 3px; text-align:center; line-height:18px;}

.bbsList .aLeft{ text-align:left}


.bbsGallery{}
.bbsGallery .wrap{ width:630px; overflow:hidden}
.bbsGallery .box{ width:140px; float:left; margin:0 17px 32px 0;}
.bbsGallery .box .ss{ border:#efefef solid 1px; padding:4px;}
.bbsGallery .box h4{ text-align:center; font-weight:bold; padding:9px 0; background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom}
.bbsGallery .box li{ padding:4px 6px; background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom; font-size:11px; color:#e4e1e1}
.bbsGallery .box li strong{ color:#7d7d7d; font-weight:normal; font-size:11px}
.bbsGallery .box li span{ color:#7d7d7d; font-weight:normal; font-size:11px}
/* Paginate */
.paginate{ padding:0 0; text-align:center; margin-bottom:15px;}
.paginate *{ margin:0; padding:0; vertical-align:middle}
.paginate a,
.paginate strong{ _position:relative; display:inline-block; margin-right:-6px; padding:3px 7px 4px 8px; _padding-bottom:5px; color:#333; text-decoration:none !important; line-height:normal; font:11px Tahoma, Serif;}
.paginate strong{ color:#ff1315 !important;}
.paginate a.pre,
.paginate a.pre_end,
.paginate a.next,
.paginate a.next_end{ font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;}
.paginate a.pre{ padding:4px 2px 4px 2px;}
.paginate a.pre_end{ padding:4px 3px 4px 2px;}
.paginate a.next{ padding:4px 2px 4px 2px;}
.paginate a.next_end { padding:4px 3px 4px 2px;}

.bbsSch{ background:url(/work/angel/images/board/bbsSchBg.gif) no-repeat; height:30px; text-align:center; padding-top:10px;}
.bbsSch input{ border:#acacac solid 1px; padding:1px;}

.bbsView{ position:relative}
.bbsView h3{ background:#f2f2f2; border-top:#dfdfdf solid 3px; border-bottom:#e8e8e8 solid 1px; padding:8px; color:#317ab6; font-weight:bold }
.bbsView h3 img{ margin-right:8px;}
.bbsView .postInfo{ background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom; padding:8px; height:15px; position:relative}
.bbsView .postInfo .writer{ font-weight:bold; float:left}
.bbsView .postInfo .date{ float:right; position:absolute ;right:100px}
.bbsView .postInfo .hit{ float:right; position:absolute; right:20px}
.bbsView .memo{ padding:25px; line-height:22px;}
.bbsView .memo .img{ margin-bottom:10px}


.bbsWrite{width:100%; border-bottom:2px solid #e0e0e0; font:12px Dotum; border-collapse:collapse; margin-bottom:15px;}
.bbsWrite td{ padding:6px 3px 6px 3px; line-height:18px;}
.bbsWrite th{ padding:6px 3px 6px 3px; line-height:18px; width:70px;}
.bbsWrite tr{ background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom;}
.bbsWrite .title{background:#f2f2f2; border-top:#dfdfdf solid 3px; border-bottom:#e8e8e8 solid 1px; padding:8px; color:#317ab6; font-weight:bold }
.bbsWrite input{ border:#e3e1dd solid 1px; padding:1px; height:16px;}
.bbsWrite textarea{ border:#e3e1dd solid 1px; padding:1px; overflow:auto; background:#fafafa; line-height:20px;}
.bbsWrite select{ border:#d1d1d1 solid 1px; padding:1px; height:20px;}
.bbsWrite .bgNone{ background:none}



.linkPage{ border-bottom:#e0e0e0 solid 3px; margin-bottom:15px;}
.linkPage li{ border-top:#e0e0e0 solid 1px; padding:7px;}
.linkPage li img{ margin-right:5px;}

.btnList{ margin-bottom:15px; text-align:right}

.coment{}
.coment .boxTop{ background:url(/work/angel/images/board/comtTop.gif) no-repeat ; line-height:0px; font-size:0px; height:7px }
.coment .boxCtn{ background:url(/work/angel/images/board/comtBg.gif) repeat-y; padding:9px 15px; min-height:100px; _height:100px; *min-height:100px; }
.coment .boxBot{ background:url(/work/angel/images/board/comtBot.gif) no-repeat ; line-height:0px; font-size:0px; height:7px;}

.coment .cmtForm{ position:relative; height:50px;}
.coment .cmtForm textarea{ border:#c0c0c0 solid 1px; padding:1px; width:500px; height:40px; overflow:auto; position:absolute; left:0px; top:0px;}
.coment .cmtForm .btnCmt{ position:absolute; right:0px; top:7px;}

.cmtList{border-bottom:#e0e0e0 solid 1px; padding:10px;}
.cmtList .writer{ float:left; font-weight:bold; margin-right:10px; line-height:18px; width:70px; overflow:hidden}
.cmtList .cmt{ float:left; width:410px; line-height:18px;}
.cmtList .date{ float:right; line-height:18px;}

.bbsTab{ background:url(/work/angel/images/board/tabBg.gif) repeat-x; height:25px; margin-bottom:20px;}
.bbsTab li{ float:left;}
.bbsTab li a { float:left; background:url(/work/angel/images/board/tabBgOff.gif) no-repeat; width:90px; height:19px; padding-top:6px; margin-right:2px; text-align:center; font-weight:bold; color:#939393;} 
.bbsTab li a.on {background:url(/work/angel/images/board/tabBgOn.gif) no-repeat;}

.bbsCate{ text-align:right; margin-bottom:10px; padding-right:5px;}
.bbsCate select{ border:#d1d1d1 solid 1px; padding:1px; height:20px;}







.bbsView .bbsCate{ text-align:right; margin-bottom:10px; padding-right:5px; position:absolute; right:0; top:9px;}
.bbsView .bbsCate select{ border:#d1d1d1 solid 1px; padding:1px; height:20px;}

.eventBox{ margin-bottom:20px}
.eventBox .img{ background:url(/work/angel/images/board/eventImgBg.gif) no-repeat; padding:6px 6px 6px 6px ; float:left; width:241px;}
.eventBox .eventCtn{ float:right; width:349px; padding:0px;}
.eventBox .eventCtn h4{ background:url(/work/angel/images/board/eventTitBg.gif) no-repeat; padding:5px 5px 6px 10px ; color:#317ab6; font-weight:bold; margin-bottom:7px;}
.eventBox .eventCtn h4 a:link,
.eventBox .eventCtn h4 a:visited{ color:#317ab6; font-weight:bold; }
.eventBox .eventCtn h4 img{ margin-right:8px;} 
.eventBox .eventCtn ul{ margin-bottom:8px;}
.eventBox .eventCtn li{ padding:2px 2px 2px 10px }
.eventBox .eventCtn .btn{ text-align:right}

.eventView{}
.eventView h3{ background:#f2f2f2; border-top:#dfdfdf solid 3px; border-bottom:#e8e8e8 solid 1px; padding:8px; color:#317ab6; font-weight:bold }
.eventView h3 img{ margin-right:8px;}
.eventView .postInfo{ background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom; padding:8px; height:15px; position:relative}
.eventView .postInfo .writer{ font-weight:bold; float:left}
.eventView .postInfo .date{ float:right; position:absolute ;right:100px}
.eventView .postInfo .hit{ float:right; position:absolute; right:20px}
.eventView .memo{ padding:5px; line-height:22px;}

.pollBox{ margin-bottom:20px}
.pollBox .img{ background:url(/work/angel/images/board/eventImgBg.gif) no-repeat; padding:6px 6px 6px 6px ; float:left; width:241px;}
.pollBox .eventCtn{ float:right; width:349px; padding:0px;}
.pollBox .eventCtn h4{ background:url(/work/angel/images/board/eventTitBg.gif) no-repeat; padding:5px 5px 6px 10px ; color:#317ab6; font-weight:bold; margin-bottom:7px;}
.pollBox .eventCtn h4 a:link,
.pollBox .eventCtn h4 a:visited{ color:#317ab6; font-weight:bold; }
.pollBox .eventCtn h4 img{ margin-right:8px;} 
.pollBox .eventCtn ul{ margin-bottom:0px;}
.pollBox .eventCtn li{ padding:2px 2px 2px 10px }
.pollBox .eventCtn .btn{ text-align:right}
.pollBox .eventCtn .pp li{float:left;}


.pollView{}
.pollView h3{ background:#f2f2f2; border-top:#dfdfdf solid 3px; border-bottom:#e8e8e8 solid 1px; padding:8px; color:#317ab6; font-weight:bold }
.pollView h3 img{ margin-right:8px;}
.pollView .postInfo{ background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom; padding:8px; height:15px; position:relative}
.pollView .postInfo .writer{ font-weight:bold; float:left}
.pollView .postInfo .date{ float:right; position:absolute ;right:100px}
.pollView .postInfo .hit{ float:right; position:absolute; right:20px}
.pollView .memo{ padding:20px; line-height:22px;}
.pollBtn{ text-align:right; margin-bottom:20px;}


.mgBox{ margin-bottom:20px}
.mgBox .img{ background:url(/work/angel/images/board/eventImgBg.gif) no-repeat; padding:6px 6px 6px 6px ; float:left; width:241px;}
.mgBox .mgCtn{ float:right; width:349px; padding:0px; position:relative}
.mgBox .mgCtn h4{ background:url(/work/angel/images/board/eventTitBg.gif) no-repeat; padding:7px 5px 6px 10px; line-height:14px; ; color:#317ab6; font-weight:bold; margin-bottom:7px;}
.mgBox .mgCtn h4 a:link,
.mgBox .mgCtn h4 a:visited{ color:#317ab6; font-weight:bold; }
.mgBox .mgCtn h4 img{ margin-right:8px;} 
.mgBox .mgCtn h5{ background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom; padding:2px 2px 7px 10px ; margin-bottom:5px;}
.mgBox .mgCtn ul{ margin-bottom:2px; height:20px;}
.mgBox .mgCtn li{ padding:2px 2px 2px 10px ; float:left; margin-right:10px}
.mgBox .mgCtn li.t1{ color:#ed6612; font-weight:bold; font-size:11px; margin-right:10px;}
.mgBox .mgCtn li.t2{ color:#266692; font-weight:bold; font-size:11px;}
.mgBox .mgCtn .btn{ position:absolute; right:0px; top:90px;}

.mgView{}
.mgView h3{ background:#f2f2f2; border-top:#dfdfdf solid 3px; border-bottom:#e8e8e8 solid 1px; padding:8px; color:#317ab6; font-weight:bold }
.mgView h3 img{ margin-right:8px;}
.mgView .postInfo{ background:url(/work/angel/images/board/dotLine.gif) repeat-x bottom; padding:8px; height:15px; position:relative}
.mgView .postInfo .writer{ font-weight:bold; float:left}
.mgView .postInfo .date{ float:right; position:absolute ;right:100px}
.mgView .postInfo .hit{ float:right; position:absolute; right:20px}
.mgView .memo{ padding:20px; line-height:22px;}
.mgBtn{ text-align:right; margin-bottom:20px;}



/* 팬사이트리스트*/
.fanCate{ background:#f2f2f2; border-top:#dfdfdf solid 3px; border-bottom:#e8e8e8 solid 1px; padding:8px; text-align:right; margin-bottom:15px;}
.fanCate select{ border:#d1d1d1 solid 1px; padding:1px; height:20px;}

.fanBest{height:175px; padding:0 0 0 16px; position:relative; background:url(/work/angel/images/board/fanTitBg.gif) no-repeat; margin-bottom:23px;}
.fanBest h4 img{ vertical-align:text-bottom}
.bestBox{ width:182px; margin-right:14px; float:left}
.bestBox .ssIMG{ padding:5px; background:url(/work/angel/images/board/fansiteBg.png) no-repeat}
.bestBox .siteName{ font-weight:bold; color:#FFFFFF; text-align:center; padding:4px 0}
.bestBox .siteName a:link,
.bestBox .siteName a:visited{ color:#FFFFFF}

.fanBox{ margin-bottom:20px}
.fanBox .img {padding:5px ; float:left;  width:172px;background:url(/work/angel/images/board/fansiteBg.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/work/angel/images/board/fansiteBg.png', sizingMethod='crop');}
.fanBox .fanCtn{ float:right; width:401px; padding:0px;}
.fanBox .fanCtn h4{ background:url(/work/angel/images/board/fansiteTitBg.gif) no-repeat; padding:5px 5px 6px 10px ; color:#317ab6; font-weight:bold; margin-bottom:7px;}
.fanBox .fanCtn h4 a:link,
.fanBox .fanCtn h4 a:visited{ color:#317ab6; font-weight:bold; }
.fanBox .fanCtn h4 img{ margin-right:8px;} 
.fanBox .fanCtn p{ line-height:18px; padding-left:10px;}