@charset "utf-8";
/* 엘젤러브소개 */
#subWrap{ background:url(/work/angel/gameInfo/images/subBg2.jpg) repeat-x}
#subGameInfoBg{ background:url(/work/angel/gameInfo/images/subBg.jpg) no-repeat center top}
#subGameInfo{ width:940px; margin:auto;}
#subGameInfo #top{ height:357px;}
#subGameInfo #center{ min-height:700px; _height:700px; *min-height:700px;}

.spcTab{ position:relative; height:47px;}
.spcTab img{ position:absolute; top:-23px;}