@charset "utf-8";
/* 커뮤니티 */
#subWrap{ background:url(/work/angel/pds/images/subBg2.jpg) repeat-x}
#subPdsBg{ background:url(/work/angel/pds/images/subBg.jpg) no-repeat center top}
#subPds{ width:940px; margin:auto;}
#subPds #top{ height:357px;}
#subPds #center{ min-height:700px; _height:700px; *min-height:700px;}

.wallWrap{ width:625px; overflow:hidden}
.wall{ width:193px; float:left; margin-right:15px; margin-bottom:30px;}
.wall .wSS{ width:181px; height:101px; padding:6px; background:url(/work/angel/pds/images/wallImgBg.gif) no-repeat; margin-bottom:9px;}
.wall ul{ background:url(/work/angel/pds/images/wallBtnBg.gif) no-repeat; padding:4px 0 4px 6px; height:18px;}
.wall li{ float:left; margin-right:5px;}

.mBox{ margin-bottom:15px;}
.mBox .mSS{ padding:6px; width:188px; height:119px; float:left; background:url(/work/angel/pds/images/movieBg.gif) no-repeat}
.mBox .right{ width:396px; float:right}
.mBox h4{ background:url(/work/angel/pds/images/movieTitBg.gif) no-repeat; padding:7px; color:#317ab6; font-weight:bold; height:16px; margin-bottom:5px;}
.mBox p{ padding:3px 5px 7px 10px; line-height:18px; background:url(/work/angel/pds/images/movDotLine.gif) repeat-x bottom; margin-bottom:15px;}
.mBox .btn{ text-align:right}



.fanBox{ margin-bottom:15px;}
.fanBox .fSS{ padding:6px; width:188px; height:99px; float:left; background:url(/work/angel/pds/images/fanImgBg.gif) no-repeat}
.fanBox .right{ width:396px; float:right}
.fanBox h4{ background:url(/work/angel/pds/images/movieTitBg.gif) no-repeat; padding:7px; color:#317ab6; font-weight:bold; height:16px; margin-bottom:5px;}
.fanBox p{ padding:3px 5px 7px 10px; height:40px; line-height:18px; background:url(/work/angel/pds/images/movDotLine.gif) repeat-x bottom; margin-bottom:10px;}
.fanBox .btn{ text-align:right}


.mPlayer{ position:relative; background:url(/work/angel/pds/images/movieImgPlayBg.gif) no-repeat; width:610px; height:453px; margin-bottom:20px;}
.mPlayer .movie{ position:absolute; left:43px; top:22px; background:#CCCCCC; width:520px; height:367px;}
.mPlayer .title{ width:470px; height:20px; position:absolute; left:73px; top:408px; font-weight:bold; color:#2d629e}
.mPlayer .title .date{ font-size:11px; font-weight:normal; color:#2d629e}