@charset "utf-8"; 
/* CSS Document */
/* CSS Reset Pack*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
html{font-size: 1px;}
body,div,td,th,p,textarea{margin:0; padding:0;font-size:12rem; font-family:"Nanum Gothic","AppleGothicNeoSD","Malgun Gothic","arial","sans-serif","Helvetica"; color:#101010; }
img { border:0; }
a{ text-decoration:none; color:#555}
a:focus,
label:focus{/* outline:dashed #06F 1rem;*/}
input,select {vertical-align:middle; font-size:12rem; font-family:Arial,Dotum; margin:0; padding:0; outline:none; }
ul, ol, li ,dl , dt , dd { list-style:none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, h7 ,form { font-size:100%; font-weight:normal;  margin:0; padding:0 }
textarea{ overflow:auto; line-height:17rem; outline:none; resize:none;}
fieldset{margin:0; padding:0; border:none;}
legend{ position:absolute; left:-9999%;}
select { border: 1rem solid #CCCCCC; padding:1rem 1rem 1rem 1rem; margin:1rem 0; color:#666}
input{border:1rem solid #ccc; padding:5rem 4rem 4rem; margin:1rem 0;color:#666; }
textarea{border:1rem solid #ccc; padding:5rem 4rem 4rem; margin:1rem 0; color:#666; resize:none; vertical-align:middle;}
label{ margin:0 0 0 0; padding:0rem 0 0 0;}
em{ font-style:normal;}
caption{ font-size:0rem; background:#090; height:0rem; overflow:hidden; line-height:0rem;}
button{cursor:pointer;background: none;border: none;padding: 0;}
/* 스크롤박스CSS */
.ut-scrolls{ position:relative;}
.ut-scrolls .viewport {overflow: hidden; position: relative;}
.ut-scrolls .overview { position:relative; left: 0; top: 0; padding:0rem; }
.ut-scrolls .scrollbar{ position:absolute; right:0rem; top:0rem; width:1rem; z-index:10; display:block; background:#444; border-radius:5rem;}
.ut-scrolls .track { height: 100%; width:1rem; position: relative;}
.ut-scrolls .thumb { box-shadow:#000 0rem 0rem 3rem; display:block; background:#7c7c7c; border-radius:0rem; margin:0rem 0 0rem 0; height: 20rem; width:3rem; cursor: pointer; position: absolute; top: 0; left:-1rem; zoom:1 }
.ut-scrolls .thumb .end{ background:#7c7c7c; border-radius:0rem; height:10rem; width:3rem; overflow:hidden; position:absolute; left:0; top:0rem;}
.ut-scrolls .disable { display: none; }

.mCSB_scrollTools .mCSB_draggerRail{ background:#444}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background:#7c7c7c; border-radius:0rem;}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background:#fdfdfd;}


.swiper .swiper-button-next,
.swiper .swiper-button-prev{color: #ffffff;text-shadow: 1px 1px 3px rgb(0 0 0 / 36%)}
.swiper .swiper-pagination-clickable .swiper-pagination-bullet{background: #ffffff;box-shadow: 1px 1px 3px rgb(0 0 0 / 36%)}

/* 로딩 점3개 */
.ui-loading{display: n one; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 9000; background: rgba(0, 0, 0, 0.5)}
.ui-loading>.bx{pointer-events: none; position: absolute; width: 50px; text-align: center; top: 50%; left: 50%; transform: translate3d(-50%,-50%,0); }
.ui-loading>.bx em{display: flex; justify-content: center;}
.ui-loading>.bx em i,
.ui-loading>.bx em::before,
.ui-loading>.bx em::after{width: 6px; height: 6px; display: inline-flex; background-color: #ffffff; border-radius: 10px; margin: 0px 2px; animation: bounce 0.5s alternate infinite; content: "";}
.ui-loading>.bx em::before{}
.ui-loading>.bx em i{animation-delay: 0.16s;}
.ui-loading>.bx em::after{animation-delay: 0.32s;}
.ui-loading>.bx::after{content: "LOADING..."; font-size: 10px; margin-left: 4px; text-align: center; margin-top: 10px; display: block; color: #ffffff;}
@keyframes bounce {
	from{
		transform: scaleX(1.15);
	}
	to{
		transform: translateY(-20px) scaleX(0.95);
	}
}

 

/* lazy load */
img.lazy{ display:none;}

#barH{height:2rem;background-color: #ff424d;position:fixed;left:0rem;top: 32rem;z-index: 1000;transition: width .4s ease-out;}

.body{background: url(../img/cm/bg.jpg) repeat-x center -430rem #06090e fixed;}
.header{ height:32rem; padding:0 10rem; position:fixed; top: 0rem; width:100%; z-index:150;  background:#333; /* border-top:#444444 solid 1rem; */ border-left:none; border-right:none; border-bottom:#222222 solid 1rem;}
.header>.inr{ margin:auto; position:relative;border-left:#222222 solid 1rem; }
.header>.inr .date{ padding:0 0 0 15rem; height:32rem; line-height:31rem; border-left:#3c3c3c solid 1rem; color:#cda869; font-size:14rem;}
.header>.inr .date .log{ color:#333; display:inline-block; margin-left:20rem;}

.header>.inr .github{position:absolute;right: 21rem;top:5rem; line-height:1rem;}
.header>.inr .sns{ position:absolute; right:0rem; top:0rem; border-right:#3c3c3c solid 1rem;}
.header>.inr .sns li{ float:left; height:32rem; border-left:#222222 solid 1rem; }
.header>.inr .sns li a{ display:block; background:url(../img/cm/sns.png) no-repeat; height:32rem; width:32rem; line-height:100rem; overflow:hidden; border-left:#3c3c3c solid 1rem; }
.header>.inr .sns li:last-child a{border-right:#222222 solid 1rem;}
.header>.inr .sns li a.twitter{ background-position:0rem 0rem;}
.header>.inr .sns li a.twitter:hover{background-position:0rem -30rem;}
.header>.inr .sns li a.facebook{ background-position:-34rem 0rem;}
.header>.inr .sns li a.facebook:hover{ background-position:-34rem -30rem;}
.header>.inr .sns li a.rss{ background-position:-68rem 0rem;}
.header>.inr .sns li a.rss:hover{ background-position:-68rem -30rem;}
.notice{ display:no ne;  padding:0 10rem; background:url(../img/cm/noticeBg.png) repeat-x; border-bottom:#eecba3 solid 1rem;}
.notice .box{  margin:auto; text-align:center;}
.notice .box .msg{ display:inline-block; font-size:18rem; color:#543e1e; vertical-align:middle; line-height:57rem; transition:all .5s ease .0s; }
.notice .box .close{display:inline-block;width: 35rem;height:34rem;background:url(../img/cm/noticeClose.png) no-repeat;background-size: 100% auto;line-height:200rem;overflow:hidden;vertical-align:middle;margin: 0 0 0 20rem;}
.notice .box .close:hover{}

.salestat{position:absolute;right:0rem;top:200rem;z-index:100;/* transition:all .5s ease .0s; */}
.salestat .img{/* transition:all .5s ease .0s; */}
.salestat .img.sale{}
.salestat.open .img.sale{display: block;}
.salestat.open .img.sold{display: block;}

.visuals{padding: 20rem 10rem 20rem;position:relative;/* border-top:#FFF solid 1rem;*/margin-top: 33rem;padding-top: 30rem;}
.visuals>.inr{min-height:500rem;margin:auto;zoom:1;position:relative;padding-top: 0rem;}
.visuals>.inr:after{clear:both;content:"";display:block;font-size:0;height:0;line-height:0;visibility:hidden}



.visuals .techs{ }
.visuals .techs .title{/*border-bottom:1rem solid #e6e6e6;*/text-shadow:#000 1rem 1rem 3rem;margin:0 0 10rem 0;height:65rem;font-size:26rem;color:#efefef;line-height:65rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: none;}
.visuals .techs .skills{margin:0 0 10rem 0;padding:0 0 20rem 0;/* transition:all .5s ease .0s; */}
.visuals .techs .skills .box{font-size: 0;}
.visuals .techs .skills .br{ display:none;}
.visuals .techs .skills img{vertical-align:middle;margin: 5rem 10rem 5rem 10rem;/* transition:all .5s ease .0s; */}
.visuals .techs .skills img.browsers{width: 110rem;}
.visuals .techs .skills img.jquery{width: 120rem;}
.visuals .techs .skills img.html5{width: 30rem;}
.visuals .techs .skills img.css3{width: 30rem;}
.visuals .techs .skills img.js{width: 30rem;}
.visuals .techs .skills img.vue{width: 40rem;}
.visuals .techs .skills img.react{width: 40rem;}
.visuals .techs .skills img.gulp{width:20rem;}
.visuals .techs .skills img.adobe{width: 30rem;}
.visuals .techs .skills img.android{width: 30rem;}
.visuals .techs .skills img.ios{width: 30rem;}
.visuals .techs .skills img.w3c{width: 90rem;}
.visuals .techs .skills img.sass{width: 40rem;}
.visuals .techs .skills img.less{width: 70rem;}
.visuals .techs .skills img.xe{width: 80rem;}
.visuals .techs .skills img.responsive{ width:100rem;}
.visuals .techs .skills .resp{}
.visuals .techs .skills .resp .txt{ display:none;}

/* 스와이퍼 */
.swiper-container .navi{position:absolute;top: 0;left:0rem;right:0rem;bottom: 0;}
.swiper-container .navi .nav{position:absolute;top:50%;width:40rem;height:70rem;z-index:1;font-size:0;background:url(../img/cm/btnSlide.png) no-repeat;transform: translateY(-50%);}
.swiper-container .navi .nav.prev{left:10rem}
.swiper-container .navi .nav.next{right:10rem;background-position:right 0rem}
.swiper-container .navi .nav.swiper-button-disabled{background-position-y:-70rem}
.swiper-container .pagi{ position:relative;}
.swiper-container .pagi .swiper-pagination-bullet{width:11rem; height:11rem; display:inline-block; vertical-align:middle; background:#aaa; border-radius:10rem; line-height:100rem; overflow:hidden; opacity:1;}

/* perfect-scrollbar */
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking{background-color: transparent !important	;}

.ps .ps__rail-y > .ps__thumb-y,
.ps .ps__rail-y > .ps__thumb-y,
.ps .ps__rail-y .ps__thumb-y{width: 6px !important;}


.visuals .mnslide{width:520rem;height: 380rem;float:left;border-radius:6rem;box-shadow:0 0 1rem #999999;background:url(../img/cm/bgOp.png);width:50%; overflow:hidden;}
.visuals .mnslide>.inr{margin:13rem;height: calc( 100% - 25rem );}
.visuals .mnslide .slides{ position:relative; }
.visuals .mnslide .slides .pbox{}
.visuals .mnslide .slides .pbox .lk{display:block;position:relative;height:100%;cursor: default; overflow: hidden;}
.visuals .mnslide .slides .pbox .img{display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%); width: 100%; object-fit: cover; max-width: inherit; min-width: 100%; height: 100%;}
.visuals .mnslide .slides .pbox .info{ position:absolute; left:0rem; bottom:0rem; width:100%; height:55rem;}
.visuals .mnslide .slides .pbox .info .pack{ position:absolute; left:10rem; top:9rem; z-index:10;}
.visuals .mnslide .slides .pbox .info .date{position:absolute;right:20rem;top: 5rem;z-index:10;font-size:11rem;color:#eee;}
.visuals .mnslide .slides .pbox .info .date .d{font-style: normal;}
.visuals .mnslide .slides .pbox .info .date .d::after{content:" - ";}
.visuals .mnslide .slides .pbox .info .date .p{font-style: normal;}
.visuals .mnslide .slides .pbox .info .name{position:absolute;right:20rem;top: 22rem;z-index:10;font-size: 16rem;color:#f3f3f3;}
.visuals .mnslide .slides .pbox .info .screen{width:100%;height:76rem;position:absolute;left:0rem;bottom:0rem;background:#000;opacity:0.7;filter: alpha(opacity = 70);border-radius:0rem 0rem 0rem 0rem;}
.visuals .mnslide .navi{ position:absolute; left:0; right: 0; bottom: 0rem; }
.visuals .mnslide .navi .nav{ width:40rem; height:78rem; margin-top: -34rem; position:absolute; bottom:50%; z-index:10; background:url(../img/cm/btnSlide.png) no-repeat; line-height:200rem; overflow:hidden; display:block;}
.visuals .mnslide .navi .nav.next{ right:10rem; background-position:-47rem 0rem;}
.visuals .mnslide .navi .nav.next:hover{ background-position:-47rem -80rem;}
.visuals .mnslide .navi .nav.next{ right:10rem; background-position:-47rem 0rem;}
.visuals .mnslide .navi .nav.prev{ left:10rem;}
.visuals .mnslide .navi .nav.prev:hover{ background-position:0 -80rem;}
.visuals .mnslide .pagi{}
.visuals .mnslide .pagi{text-align:center;padding:0rem 0 0 0;line-height: 0;}
.visuals .mnslide .pagi li{ display:inline-block; *display:inline; zoom:1; padding:0 3rem;}
.visuals .mnslide .pagi .swiper-pagination-bullet{ width:11rem; height:11rem; display:inline-block; vertical-align:middle; background:#aaa; border-radius:10rem; line-height:100rem; overflow:hidden; opacity:1; margin: 0 3rem; outline: none;}
.visuals .mnslide .pagi .swiper-pagination-bullet-active{ background:#f09835; width:30rem;} 


.icotech{display: inline-flex;justify-content: center;border-radius:10rem; padding:2rem 5rem 3rem 5rem;margin: 1rem 3rem 1rem 0rem;color:#FFF; font-size:10rem; line-height:8rem;font-family:'Tahoma';background: #93533c;border: #763b26 solid 1rem; cursor:default;}
.icotech+.icotech{/* margin-left: 4rem; */}
.icotech.vue{ background:#41b883; border-color:#41b883;text-shadow:#41b883 1rem 1rem;}
.icotech.react{background: #438ca1;border-color:#438ca1;text-shadow:#438ca1 1rem 1rem;}
.icotech.html{ background:#b8d650; border-color:#aac647;text-shadow:#abc74a 1rem 1rem;}
.icotech.css{ background:#f09835; border-color:#dc8829;text-shadow:#d7882f 1rem 1rem;}
.icotech.js{ background:#43cdeb; border-color:#3cbcd8;text-shadow:#3cb9d4 1rem 1rem;}
.icotech.jquery{ background:#43cdeb; border-color:#3cbcd8;text-shadow:#3cb9d4 1rem 1rem;}
.icotech.design{ background:#5d98d4; border-color:#4986c5;text-shadow:#3cb9d4 1rem 1rem;}
.icotech.flash{ background:#d34e4e; border-color:#bb2d0c;text-shadow:#d34e4e 1rem 1rem;}
.icotech.mobile{ background:#d643df; border-color:#c33acc;text-shadow:#c33acc 1rem 1rem;}

.visuals .profile{ float:right;  width:200rem; position:relative; }
.visuals .profile .box{padding:13rem;height: 350rem;overflow:hidden;border:#444 solid 1rem;border-radius:6rem;background:url(../img/cm/bgOp.png);}
.visuals .profile .box .photo{ overflow:hidden;  height:256rem; margin:0 0 20rem 0;}
.visuals .profile .box .photo .img{ width:120%; margin:-33% 0 0 -7%;}
.visuals .profile .box .info{ padding:0 0 0 3rem;}
.visuals .profile .box .name{ font-size:24rem; color:#848484}
.visuals .profile .box .phone,
.visuals .profile .box .phone a{ font-size:14rem;  color:#9a773f}
.visuals .profile .box .email{ font-size:18rem; color:#cda869}
.visuals .rset{ float:left; width:200rem;margin:0 0 0 20rem;}
.visuals .career{  border-radius:6rem; margin:0 0 30rem 0;}
.visuals .career>.inr{ }
.visuals .career .list{ padding: 5rem 0rem; }
.visuals .career .list li{color:#FFF;padding: 0rem 0rem 10rem 0;}
.visuals .career .list li:last-child{ padding:0rem;}
.visuals .career .list li .date{font-size: 12rem;line-height:1.2;color:#ccc;text-shadow:#000 1rem 1rem 0rem;}
.visuals .career .list li .date .d{font-style: normal;}
.visuals .career .list li .date .d::after{content:" - "; margin-left:5px;}
.visuals .career .list li .date .p{font-style: normal; margin-left:5px;}
.visuals .career .list li .name{margin-top:7px; font-size:13rem;  color:#eee; width:99%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-shadow:#000 1rem 1rem 0rem;}
.visuals .career .ut-scrolls{height: 378rem;overflow:hidden;}
.visuals .career .ut-scrolls .viewport{ height:255rem;}
.visuals .snsLink{border-radius:6rem; height:92rem; border-top:1rem solid #444; border-bottom:1rem solid #444; transition:all .5s ease .0s; }
.visuals .snsLinkIn{ padding:15rem 0 ; text-align:center; height:62rem; /*background:url(../img/cm/snsLink.png) no-repeat center center;*/}
.visuals .snsLinkIn .facebook{float:left; width:34%;}
.visuals .snsLinkIn .facebook iframe{ width:62rem; margin:auto;}
.visuals .snsLinkIn .facebook iframe table.pluginConnectButtonLayoutRoot{ table-layout:fixed; width:58rem;}
.visuals .snsLinkIn .twitter{ float:left; width:33%;}
.visuals .snsLinkIn .google{ float:left; width:33%;}

.visuals .rset{width:23%;margin:0;padding:0 0 0 2%;/* transition:all .5s ease .0s; */}
.visuals .profile{width:23%;padding:0 0 0 2%;/* transition:all .5s ease .0s; */}

.container{background: #f1f1f1;padding: 0 20rem; border-top:1rem solid #e2e2e2;display: block;}
.container>.inr{  margin:auto; padding:30rem 0 0 0;}
.container>.inr .hdts{padding: 0px 0 0rem 0rem;/* border-bottom:1rem solid #DDDDDD; *//* margin: 0px -10rem 0rem -10rem; */background: #f1f1f1;position: sticky;z-index: 50;top: 33rem;}
.container>.inr .hdts::after{background: #dddddd;position: sticky;bottom: 0rem;left: 0;right: 0;content: "";display: block;height: 1rem;/* margin: 0rem -1300rem; */}
.container>.inr .title{line-height: 1.9;font-family: 'Tahoma';color: #383837;font-size: 22rem;position: relative;padding: 5rem 0rem 5rem 0rem;}
.container>.inr .title::before{background: url(../img/cm/bul1.png) no-repeat 0rem 0rem;background-size: 100% auto;z-index: 50;top: 33rem;content: "";width: 21rem;height: 21rem;display: inline-block;vertical-align: middle;margin: -5rem 5rem 0rem 0rem;}
.container>.inr .plists{ padding:0 0 20rem 0;margin-top: 30rem;}
.container>.inr .list{ zoom:1;display: flex;flex-wrap: wrap;/* gap: 20rem; */justify-content: flex-start;margin: 0rem -10rem;}
.container>.inr .list li{width: calc( 100% / 4 - 20rem);margin: 0rem 10rem 25rem 10rem;/* transition: all 0.2s ease 0.2s; */vertical-align:middle;}



.container>.inr .list li .pbox{  background:#fff; border-radius:6rem; border:1rem solid #ddd;}
.container>.inr .list li .pbox .pack{ margin:0rem 0 0rem 0rem; text-align:left; padding:10rem 15rem 10rem 15rem }
.container>.inr .list li .pbox .ss{margin:0 0 5rem 0;padding:16rem 16rem 0rem 16rem;border-top:1rem solid #E2E2E2;/* background:url(../img/cm/loading.gif) no-repeat center center; */background-size:15%;}
.container>.inr .list li .pbox .ss .lk{display:block;padding-bottom: calc(506% / 700 * 100);position:relative;;}
.container>.inr .list li .pbox .ss .lk[href='javascript:;']{cursor:default;}
.container>.inr .list li .pbox .ss .img{ width:100%; vertical-align:middle; position:absolute; left:0;top: 0; /*box-shadow:#ccc 0 0 1rem;*/}
.container>.inr .list li .pbox .name{ margin:0 0 4rem 0; padding:3rem 16rem; text-align:center; font-size:18rem; color:#353535;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.container>.inr .list li .pbox .info{ text-align:center; padding:0rem 16rem 15rem 16rem; margin:0 0 0rem 0; line-height:14rem; font-size:11rem; font-family:'Nanum Gothic'; color:#767676;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.container>.inr .list li .pbox .date{}
.container>.inr .list li .pbox .place{}
.foot{ background:#222; border-top:#d0d0d0 solid 1rem; height:30rem;}
.footer>.inr{  margin:auto; text-align:center; line-height:29rem; font-size:11rem; color:#aaa}


.header>.inr,	
.notice .box,
.visuals>.inr,
.container>.inr,
.footer>.inr{width:100%;max-width:1300rem;}


.topbts{ display:none; position:fixed; right:15rem; bottom:50rem; z-index:150;}
.topbts.on{display: block;}
.topbts .bt{width:40rem;height:40rem;display:block;line-height:100rem;overflow:hidden;background:url(../img/cm/btnTopDown.png) no-repeat;background-size: 90rem 85rem;}
.topbts .bt.up{ margin-bottom:2rem;}
.topbts .bt.up:hover,
.topbts .bt.up:active{ background-position:-50rem 0rem;}
.topbts .bt.down{ background-position:0rem -45rem;}
.topbts .bt.down:hover,
.topbts .bt.down:active{ background-position:-50rem -45rem;}


@media screen and (max-width:1100px) {
	.container>.inr .list li{width: calc(100% / 3 - 20rem);}
	.container>.inr .list li:nth-child(4n){/* margin:0 2% 5% 0; */}
	.container>.inr .list li:nth-child(3n){/* margin:0; *//* margin-bottom:6%; */}
	.visuals .techs .skills img{ margin:5rem 4rem;}
	.container>.inr .hdts::after{margin: 0rem -20rem;}
	.container>.inr .hdts .title{font-size: 16rem;line-height: 1.5;}
	.container>.inr .title::before{width: 16rem;height: 16rem;}
}
@media screen and (max-width:980px) {
	.head{ padding:0rem;}
	.header>.inr .date,
	.header>.inr{ border-left:none;}
	.header>.inr,	
	.notice .box,
	.visuals>.inr,
	.container>.inr,
	.footer>.inr{ width:100%; max-width:980rem;}
	.visuals .techs .title{ text-align:center;}
	.visuals .techs .skills{ text-align:center;}
	.visuals .techs .skills img{margin: 5rem 6rem;}
	.visuals .techs .skills img.browsers{width: 90rem;}
	.visuals .techs .skills img.jquery{width: 100rem;}
	.visuals .techs .skills img.html5{width: 25rem;}
	.visuals .techs .skills img.css3{width: 25rem;}
	.visuals .techs .skills img.js{width: 25rem;}
	.visuals .techs .skills img.vue{width: 30rem;}
	.visuals .techs .skills img.react{width: 32rem;}
	.visuals .techs .skills img.adobe{ width:26rem;}
	.visuals .techs .skills img.android{ width:26rem;}
	.visuals .techs .skills img.ios{ width:26rem;}
	.visuals .techs .skills img.w3c{ width:80rem;}
	.visuals .techs .skills img.less{width: 69rem;}
	.visuals .techs .skills img.xe{width: 70rem;}
	.visuals .techs .skills img.responsive{width: 50rem;}
	.visuals .mnslide .slides .pbox .img{ width:100%;}
	.salestat{ right:0rem; top:190rem;}
	.visuals .mnslide{ width:68%;}
	.visuals .profile{ width:29%}
	.visuals .rset{ clear:both; margin:20rem 0 0 0; width:100%; padding:0;}
	.visuals .career{float:left;margin: 0 0 10rem 0;}
	.visuals .career .ut-scrolls {height: 180rem;}
	.visuals .career .ut-scrolls .viewport{ height:92rem;}
	.visuals .career .list li{float:left;width: 33.3%;}
	.visuals .snsLink{ width:29%; float:right;}
}
@media screen and (min-width : 600px) and (max-width : 890px) {
	.visuals .techs .skills{ overflow:hidden;}
	.visuals .techs .skills .box{ display:block; float:left; width:77%;}	
	.visuals .techs .skills .resp{ display:block; float:right; width:23%; transition:all .5s ease .0s; }
	.visuals .techs .skills img.responsive{width:100%;display:block;margin:0;/* transition:all .5s ease .0s; */}	
	.visuals .techs .skills .br{/*  display:block; */}
}


@media screen and (max-width:768px) {
	.container,
	.visuals{padding: 20rem 10rem 0 10rem;}
	.container>.inr .list{}
	.container>.inr .hdts::after{margin: 0rem -10rem;}
	.header>.inr,	
	.notice .box,
	.visuals>.inr,
	.container>.inr,	
	.footer>.inr{ width:100%; max-width:768rem;}

	.container>.inr{padding-top: 10rem;};

	.visuals .mnslide .slides .pbox .img{ width:560rem;}
	.visuals .career {margin: 0 0 25rem 0;}
	.salestat{ right:0rem; top:240rem; text-align:right;}
	.salestat .img{ width:80rem;}
}

@media screen and ( max-width:740px) {
	.container>.inr .list li .pbox .name{ font-size:14rem; line-height:14rem;}
	.container>.inr .list li .pbox .info{ font-size:10rem; padding:0 16rem 8rem}
	.container>.inr .list li .pbox .ss{padding: 10rem 12rem 0;}
	.container>.inr .list li .pbox .pack{  padding:7rem 7rem 7rem 7rem }
}

@media screen and ( max-width:600px) {
	.notice{ padding:0}
	.notice .box .msg{ font-size:16rem; letter-spacing:-1rem; line-height:40rem;}
	.notice .box .close{/* background-position:-8rem -7rem; */width:19rem;height:20rem;margin:0 0 0 5rem;}
	.notice .box .close:hover{/* background-position:-8rem -47rem; */}
	.visuals .snsLinkIn{margin:0 -0%;}
	.visuals .mnslide{width:100%;margin-bottom:10%;}
	.visuals .profile{ width:100%}
	.visuals .profile .box{ height:auto;}
	.visuals .profile .box .photo{ height:100rem;}
	.visuals .profile .box .photo .img{ margin:-68% 0 0 -17%;}
	.visuals .career .ut-scrolls{height: 170rem;}
	.visuals .career .list li{display: flex;justify-content: space-between;width: 100%; }
	.visuals .career .list li .name{text-align: right;}
	.visuals .career .list li .date{display: flex;}
	.salestat{ top:90rem;}
	.salestat .img{ width:135rem;}
	.icotech{ border-radius:15rem; font-size:10rem;line-height:1;/* height:13rem; */padding:1rem 5rem 1rem 5rem;}

	.visuals .career{ width:100%; clear:both;  }
	.visuals .career .ut-scrolls .viewport{ height:160rem;}
	.visuals .career .list li .date{font-size: 13rem;line-height: 21rem;white-space: nowrap;}
	.visuals .career .list li .name{font-size: 14rem;}
	
	.visuals .snsLink{ width:100%; clear:both; margin-bottom:10%}

	.visuals .profile .box .name,
	.visuals .profile .box .phone{ display:inline-block; font-size:22rem;}
	.visuals .profile .box .name{ margin-right:10rem;}
	.container>.inr .list{margin: 0rem 0rem ;}

	.container>.inr .list li{width: calc(100% / 2 - 10rem);margin: 0rem 5rem 15rem 5rem;}
	.container>.inr .list li:nth-child(3n){}
	.container>.inr .list li:nth-child(2n){}



}



@media screen and ( max-width:480px) {
	.head { padding:0 2rem;}
	.header>.inr .date{ font-size:12rem;}
	.notice .box .msg{ font-size:14rem;}
	.visuals .techs .title{ font-size:20rem;}
	.visuals .techs .skills{ padding:0 0 5rem 0; margin:-10rem 0 5rem 0;}
	.visuals .techs .skills img{ margin:5rem 3rem; }
	.visuals .techs .skills img.browsers{ width:60rem;}
	.visuals .techs .skills img.jquery{width: 70rem;}
	.visuals .techs .skills img.html5{ width:20rem; }
	.visuals .techs .skills img.css3{ width:20rem; }
	.visuals .techs .skills img.js{ width:20rem; }
	.visuals .techs .skills img.vue{width: 24rem;}
	.visuals .techs .skills img.react{width: 24rem;}
	.visuals .techs .skills img.sass{width:30rem;}
	.visuals .techs .skills img.less{width:38rem;}
	.visuals .techs .skills .br{ /* display:block; */}
	.visuals .techs .skills img.gulp{ width:15rem;}
	.visuals .techs .skills img.adobe{ width:20rem;}
	.visuals .techs .skills img.android{ width:20rem;}
	.visuals .techs .skills img.ios{ width:22rem;}
	.visuals .techs .skills img.w3c{ width:50rem;}
	.visuals .techs .skills img.xe{ width:45rem;}
	/*
	.visuals .techs .skills img.responsive{ width:95%; margin-top:10rem;}
	.visuals .techs .skills .resp{display:block; position:relative;}
	.visuals .techs .skills .resp .txt{ display:block; position:absolute; left:10rem; top:30rem; font-weight:bold;border-radius:3rem; padding:2rem 7rem 5rem 7rem; color:#ddd; font-size:11rem; line-height:12rem;font-family:'Tahoma'; background:#222; border:#000 solid 1rem; cursor:default; text-shadow:#333 1rem 1rem 0rem}
	 */
	.container>.inr .hdts::after { margin: 0rem -10rem; }
	.visuals .mnslide{height:auto;padding-bottom: 12rem;}
	.visuals .mnslide .slides .pbox{height: 250rem !important;}
	.visuals .mnslide .slides .pbox .img{ width:410rem}	
	.visuals .mnslide .slides .pbox .info .date .d{display: none;}
	.visuals .mnslide .navi .nav{transform: scale(0.5);margin-top: -78rem;}
	.visuals .mnslide .pagi .swiper-pagination-bullet{width: 8rem;height: 8rem;}
	.visuals .mnslide .pagi .swiper-pagination-bullet-active{width: 22rem;}
	.salestat{ text-align:right;}
	.salestat .img{ width:95rem;}

	.body .container {/* padding:0 10rem; */}
	.container>.inr .list li .pbox{border-radius: 5rem;}
	.container>.inr .list li .pbox .pack{/* padding:4rem 5rem 4rem; */}
	.container>.inr .list li .pbox .name{ font-size:12rem; line-height:12rem; padding:3rem 7rem}
	.container>.inr .list li .pbox .info{ font-size:9rem; padding:0 1rem 8rem}
	.container>.inr .list li .pbox .ss{/* padding:6rem 6rem 0; */}

	.icotech{ font-size:8rem;padding: 1rem 3rem 1rem;line-height: 11rem;}
}

@media screen and ( max-width:320px) {
	html{font-size: 0.8px;}
	.visuals .mnslide{ }
	.visuals .mnslide>.inr{}
	.visuals .mnslide .slides .pbox .img{width: 380rem;}
	.notice .box .msg{ font-size:13rem;}
	.body .container{padding: 0 15rem;}
	.container>.inr .list {margin:0rem 0rem;}

	.container>.inr .list li .pbox .pack{ padding:9rem 10rem;}
	.container>.inr .list li .pbox .ss{ padding:15rem 15rem 0;}
	.container>.inr .list li .pbox .name{ font-size:14rem; line-height:14rem;}
	.container>.inr .list li .pbox .info{ font-size:11rem; padding:0 4rem 8rem}

	.container>.inr .hdts::after { margin: 0rem -15rem; }

	.icotech{ border-radius:15rem;/* font-size:12rem; *//* line-height:12rem; */ padding:3rem 8rem 3rem}
	.visuals .mnslide .icotech{border-radius:15rem;font-size:10rem;line-height: 10rem;height:10rem;padding: 2rem 5rem 2rem;}
	.visuals .mnslide .slides .pbox .info .date{ letter-spacing:-1rem;}
}

@media screen and ( max-width:310px) {
	.container>.inr .list li{ width:100%; margin:0; margin-bottom:7% !important;}
}

@media all and (min-device-aspect-ratio:5/4) {}



@media screen and (max-width: 600px){}
/*
.salestat{top:250rem;}
.visuals .profile .box .info{display:none}
.visuals .profile .box .photo{ height:350rem;}
.visuals .profile .box .photo .img { margin: -38% 0 0 -17%;}
*/




::-webkit-scrollbar{  width:12rem;  height:12rem}
::-webkit-scrollbar-track{background-color: #bbbbbb;box-shadow: inset 0rem 0rem 6rem #8c8c8c;}
::-webkit-scrollbar-corner{background-color: #949494;}
::-webkit-scrollbar-button{background-color: #d3d3d3;border: #bdbdbd solid 0rem;border-width: 0rem  0rem;display: none;}
::-webkit-scrollbar-thumb{width: 10rem;border-radius:6rem;background-color: #efefef;border: solid 3rem transparent;border-right-width: 3rem;background-clip: content-box;}
::-webkit-scrollbar-thumb:hover{background-color:#ffffff;}


::-webkit-scrollbar{  width:12rem;  height:12rem}
::-webkit-scrollbar{background-color: #000;}
::-webkit-scrollbar-track{background-color: #000000;box-shadow: inset 0rem 0rem 5rem #101010;}
::-webkit-scrollbar-corner{background-color: #212121;}
::-webkit-scrollbar-button{background-color: #212121;border-color:#131313;}
::-webkit-scrollbar-thumb{background-color: #19212c;}
::-webkit-scrollbar-thumb:hover{background-color: #3a3a3a;}