.form01 { border: 1px #666666 solid} table { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 12px; color: #000000}
a:active { color: #000099; text-decoration: none} 
a:link   { color: #333333; text-decoration: none} 
a:visited { color: #333333; text-decoration: none} 
a:hover { color: #000099 ; text-decoration: underline}
.time { FONT-SIZE: 7pt; COLOR: #494949; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial", "±¼¸²"}
.text01 { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 12px; color: #000000 ; line-height: 20px} 
.a:active { color: #000099; text-decoration: underline} 
.a:link { color: #000099; text-decoration: none} 
.a:visited { color: #000099; text-decoration: none} 
.a:hover { color: #FF3300; text-decoration: underline} 
.text02 { font-family: "±¼¸²", "±¼¸²Ã¼"; font-size: 12px; color: #000000 ; line-height: 23px}
