/* CSS Document */
.btnRss{ text-align:right; height:20px; position:relative}
.btnRss img{margin-bottom:1px;}
.btnRss .rssRead{ right:80px; position:absolute}
.btnRss .rssHelp{ right:0px; position:absolute}

.bbsList{ border:none; width:100%; border-top:#adadad solid 2px; margin-bottom:15px;}
.bbsList th{ border:none;  border-bottom:#dbdbdb solid 1px; padding:8px 3px 7px 3px; color:#424242; background:#f9f9f9 }
.bbsList td{border:none; border-bottom:#ededed solid 1px; padding:8px 3px 7px 3px; text-align:center }

.bbsList .bNum{ font-size:11px; color:#858585}
.bbsList .bTit{ text-align:left}
.bbsList .bTit strong{ margin-right:10px;}
.bbsList .bName{ font-size:12px;}
.bbsList .bDate{ font-size:11px; color:#858585}
.bbsList .bHit{ font-size:11px; color:#858585}
.bbsList .bStat{ font-size:11px; color:#858585}
.bbsList .bStat .new{ font-size:11px;}
.bbsList .bStat .ing{ font-size:11px; color:#f63507}
.bbsList .bStat .com{ font-size:11px; color:#3786e8}

/* bbs º¸±â*/
.bbsView{ width:100%; border-collapse:collapse; border-top:#adadad solid 2px; border-bottom:#e5e5e5 solid 1px; margin-bottom:20px;}
.bbsView .bTit{ padding:6px 3px 6px 20px ; border-bottom:#dbdbdb solid 1px; font-size:12px; font-weight:bold; font-family:Gulim; background:#f9f9f9; line-height:18px;color:#484b55;}
.bbsView .bTit .bPrint{ position:absolute; right:20px;}
.bbsView .bTit .bPrint a{ font-size:11px; font-weight:normal}
.bbsView .bNum{ font-size:11px; color:#666666}
.bbsView .bInfo{ padding:6px 3px 6px 20px; border-bottom:#dbdbdb solid 1px; position:relative; background:#f9f9f9;}
.bbsView .bInfo .bHit{font-size:11px; color:#666666; position:absolute; right:20px; top:7px}
.bbsView .bInfo .bHit strong{ font-size:11px; font-weight:normal; margin-right:10px;color:#424242}
.bbsView .bName{ border-right:#b2b2b2 solid 1px; padding-right:10px;}
.bbsView .bName strong{ font-weight:bold; font-size:12px;}
.bbsView .bDate{ font-size:11px; color:#666666; font-weight:normal; margin-left:15px;}
.bbsView .bDate strong{ font-size:11px; font-weight:normal; margin-right:10px; color:#424242}
.bbsView .bMemo{ padding:20px; line-height:20px; font-size:12px; font-family:Gulim}
.bbsView .bMemo *{ line-height:20px; font-size:12px; font-family:Gulim}
.bbsTag{background:url(/work/eyaPc/images/board/icoTag.gif) no-repeat 20px 1px; padding:3px 3px 3px 55px ; margin-bottom:10px; line-height:14px;}


/* bbs ¾²±â*/
.bbsWrite{ width:100%; border-collapse:collapse; border-top:#adadad solid 2px; margin-bottom:10px;}
.bbsWrite .bTit{ padding:6px 3px 6px 20px ; border-bottom:#dbdbdb solid 1px; font-size:12px; font-weight:bold; font-family:Gulim; background:#f9f9f9; line-height:18px;color:#484b55;}
.bbsWrite .bNum{ font-size:11px; color:#666666}
.bbsWrite .bItem{ padding:6px 3px 6px 20px; border-bottom:#dbdbdb solid 1px; position:relative; background:#f9f9f9;}
.bbsWrite  strong.tit{ width:70px; display:inline-block}
.bbsWrite .bTit input,
.bbsWrite .bItem input{ border:#CCCCCC solid 1px; padding:1px; background:#FFFFFF}

.bbsWrite .bInfo{ padding:6px 3px 6px 20px; border-bottom:#dbdbdb solid 1px; position:relative; background:#f9f9f9;}

.bbsWrite .bEditer{ padding:10px 0 0 0;}

/* bbs Tab*/

.bbsTab{height:26px; width:100%}
.bbsTab.line{ border-bottom:#adadad solid 2px; margin-bottom:20px;}
.bbsTab li{ float:left; margin-right:4px;}

.bbsTab a{ position:relative; left:1px; margin:0; _margin:-1px 0 0 0; padding:9px 15px 4px 13px; _padding:9px 15px 4px 13px; *padding:9px 15px 4px 13px; display:inline-block; text-decoration:none !important; border:0; font-size:11px; white-space:nowrap; background:url(/work/eyaPc/images/board/tabBg.gif) no-repeat right top; vertical-align:middle; overflow:visible;}
.bbsTab li{ background:url(/work/eyaPc/images/board/tabBg.gif) no-repeat 0 0px; height:26px; padding:0 0 0 3px ; position:relative; overflow:visible; display:inline-block; vertical-align:middle;}

.bbsTab .on a {background:url(/work/eyaPc/images/board/tabBg.gif) no-repeat; background-position:right  -30px; color:#FFFFFF; padding:8px 15px 4px 13px;}
.bbsTab .on{ background:url(/work/eyaPc/images/board/tabBg.gif) no-repeat 0 -30px;}

.bbsTab .on a:link,
.bbsTab .on a:visited{ color:#FFFFFF;  font-size:12px; font-weight:bold;}


/* bbs button*/
.btnList{ margin-bottom:10px; position:relative; height:25px; padding:0}
.btnLeft{ position:absolute; left:0px;}
.btnRight{ position:absolute; right:0px;}

/* bbs Search*/
.bbsSch{ text-align:center; padding:15px 0}
.bbsSch select{ border:#c2c2c2 solid 1px; width:60px;}
.bbsSch .keyword{ border:#c2c2c2 solid 1px; padding:1px;}


/* Paginate */
.paginate{ padding:15px 0 0 0; text-align:center;}
.paginate *{ margin:0; padding:0;}
.paginate a,
.paginate strong{ _position:relative; display:inline-block; margin-right:-6px; padding:3px 10px 2px 11px; color:#333; text-decoration:none !important; line-height:normal; font:bold 11px Tahoma, Serif; background:#fff url(/images/board/line_pg4.gif) no-repeat 0 5px;}
.paginate strong{ color:#ff1315 !important;}
.paginate a:hover,
.paginate a:active,
.paginate a:focus{ background-color:#f7f7f7;}
.paginate a.pre,
.paginate a.pre_end,
.paginate a.next,
.paginate a.next_end{ font:11px "µ¸¿ò", Dotum, "±¼¸²", Gulim, AppleGothic, Sans-serif;}
.paginate a.pre{ padding:4px 10px 2px 17px; background:url(/work/eyaPc/images/board/bu_pg4_l1.gif) no-repeat right 4px !important;}
.paginate a.pre_end{ padding:4px 10px 2px 16px; background:url(/work/eyaPc/images/board/bu_pg4_l2.gif) no-repeat right 4px !important;}
.paginate a.next{ padding:4px 18px 2px 11px; background:url(/work/eyaPc/images/board/bu_pg4_r1.gif) no-repeat left 4px !important;}
.paginate a.next_end { padding:4px 16px 2px 9px; background:url(/work/eyaPc/images/board/bu_pg4_r2.gif) no-repeat left 4px !important;}






 







































