/* CSS Document */

.downGame{ position:relative; margin-bottom:10px;}
.downGame .banner{}
.downGame .link{ position:absolute; left:300px; top:76px; background:url(/download/images/downGameBul.gif) no-repeat right 3px; padding-right:5px;}
.downGame .link a{font-size:11px}
.downGame .btn{ position:absolute; right:20px; top:35px;}


.posterWrap{ width:688px; overflow:hidden}
.posterWrap .wrap{width:720px; padding-left:10px;}
.posterWrap .box{ float:left; margin:0 40px 0 0px; margin-bottom:50px;}
.posterWrap .box .img{ border:#e1e1e1 solid 2px; padding:3px;}
.posterWrap .box .tit{ text-align:center; padding:10px 0}
.posterWrap .box .btn{ text-align:center}