/* CSS Document */

.pcSchTop{ position:relative; margin-bottom:20px; height:165px;}
.pcSchTop img{ vertical-align:text-bottom}
.pcSchTop .schInfo{ position:absolute; left:48px; top:108px;}
.pcSchTop .schInfo ul li{ background:url(/introduction/images/bul01.gif) no-repeat 0 7px; line-height:20px; padding:0px 0px 0px 8px ; }
.pcSchTop .schInfo ul li strong{ width:80px; display:inline-block}
.pcSchTop .schInfo ul li .tOrange{ color:#f66707}

.pcSchForm{ position:relative; margin-bottom:40px; height:56px;}
.pcSchForm img{ vertical-align:text-bottom}
.pcSchForm .schForm{ position:absolute; left:321px; top:18px;}
.pcSchForm .schForm .keyword{ border:#c2c2c2 solid 1px; padding:1px; width:100px;}

.pcList{ width:400px; float:left; border-top:#adadad solid 2px;}
.pcList .list{ padding:12px 19px; position:relative; border-bottom:#ededed solid 1px;}
.pcList .bg1{ background:#fafafa}
.pcList .list h4{ font-weight:bold; margin-bottom:5px;}
.pcList .list .location{ font-size:11px;}
.pcList .list .phone{ font-size:11px; float:right; position:absolute; right:10px; top:10px;}


.pcMap{ width:288px; float:right; margin-bottom:33px;}




