/*장바구니*/
.basketHead{ position:relative; height:40px; border-bottom:#dddddd solid 1px; margin-bottom:10px; width:910px;}
.basketHead .shopTit{ position:absolute; left:0; top:0}
.basketHead .location{position:absolute; left:0px; top:12px; height:20px; width:500px;}
.basketHead .btnHisBack{ position:absolute; right:0px; top:12px;}
.basketStep{ margin-bottom:20px;}

.basketMsg{ margin-bottom:10px; text-align:right;}
.basketMsg img{vertical-align:middle}
.basketTit{ font-size:16px; font-weight:bold; margin-bottom:10px;}

.baketList{ border:none ;border-top:#cccccc solid 1px; width:100%}
.baketList img{vertical-align:middle}
.baketList th,
.baketList td{ border:none; line-height:18px; text-align:center }
.baketList th{ border-bottom:#cccccc solid 1px; padding:5px 5px 4px 5px; background:#f4f4f4; font-size:11px;}
.baketList td{ border-bottom:#e1e1e1 solid 1px; padding:7px 5px 7px 5px;}
.baketList .bName{ text-align:left; padding-left:10px; padding-right:10px;}
.baketList .bIcon{ text-align:left; padding-left:10px; padding-right:10px; width:70px;}
.baketList .bName .iName{ margin-bottom:3px;}
.baketList .bName .iOptName{ font-size:11px;}
.baketList .bEa{ width:80px;}
.baketList .bPoint{ width:60px;}
.baketList .btnNum{width:79px;}
.baketList .bPrice{width:130px;text-align: right; padding-right:15px;}
.baketList .bPrice p{ padding:3px 0;}
.baketList .bBuy2{border-left:#e1e1e1 solid 1px;}
.baketList .btnNum .inputPnum{ border:#CCCCCC solid 1px; padding:1px; width:20px; float:left; margin-right:3px; vertical-align:middle;}
.baketList .btnNum .btnArrow{ float:left; width:11px; overflow:hidden; vertical-align:middle}
.baketList .btnNum .btnArrow a{}
.baketList .btnNum .btnArrow img{ margin-bottom:0px; vertical-align:middle;}
.baketList .btnNum .btnArrow span{ line-height:0px; font-size:0px; margin-bottom:1px; display:block;}
.baketList .btnNum .btnMod img{ vertical-align:middle;}
.baketList .benefit{}
.baketList .benefit p{ padding:2px 0; text-align:left;}

.basketTotalPriceBox{ background:#f4f4f4;border:none; border-top:#d2d2d2 solid 2px; padding:10px 10px 12px 10px ; height:24px; border-top-width:1px; margin-bottom:20px;}
.basketTotalPriceBox img{ vertical-align:middle}
.basketTotalPriceBox .bLeft{ float:left}
.basketTotalPriceBox .bRight{ float:right}
.basketTotalPriceBox .priceS{ text-align:right; color:#5c5c5c; margin-bottom:10px}
.basketTotalPriceBox .priceTotal{ text-align:right;color:#5c5c5c; font-weight:bold; font-size:14px;}
.basketTotalPriceBox .priceTotal .totalPrice{color:#3fa4d6; font-weight:bold; font-size:18px; margin-right:10px; margin-left:10px;}

.basketBtnList{ min-height:27px; _height:27px; margin-bottom:20px;}
.basketBtnList .bLeft{float:left}
.basketBtnList .bRight{float:right}


.basketInfoBox{ padding:20px 20px 0px 220px ; height:160px; margin-bottom:20px; background:url(/work/citibank/images/main/basketInfoBoxBg.gif) no-repeat; font-size:11px;}
.basketInfoBox h4{font-size:11px; color:#666666; margin-bottom:5px; font-weight:bold;}
.basketInfoBox ul { margin-bottom:7px;}
.basketInfoBox ul li{ background:url(/work/citibank/images/main/basketBul01.gif) no-repeat 0 6px; padding:1px 1px 1px 8px;  line-height:13px;}
.basketInfoBox .tcOrange{color:#3196CE !important}


.basketInfoBox2{ padding:20px 20px 20px 20px ;}
.orderList .bPrice{width:130px;text-align: center;}

.orderTit{font-size:16px;  font-weight:bold; margin-bottom:10px; height:20px;}
.orderTit img{ vertical-align:middle;}
.orderTit .bLeft{font-size:16px; font-weight:bold;  float:left;}
.orderTit .bRight{ float:right; padding-top:15px;}


.orderTit2{ width:367px; height:20px;}
.orderTit2 .bRight{ float:right; padding:0; width:270px;}
.orderTit2 .orderTabTit{ padding-top:2px; margin-right:0px; float:left; font-weight:normal;}
.orderTit2 .orderBtnTab{ float:right;}
.orderTit2 .orderBtnTab li{ float:left; margin-left:5px;}

.orderGift{ margin-bottom:30px;}
.orderGift .orderGiftTable{ border:none; width:100%;}
.orderGift .orderGiftTable th,
.orderGift .orderGiftTable td{ border:none; padding:8px 5px 7px 5px ; border-top:#e4e4e4 solid 1px}
.orderGift .orderGiftTable th{ text-align:left; width:90px;}
.orderGift .orderGiftTable img{ vertical-align:middle;}
.orderGift .orderGiftTable .pImg { text-align:center; width:60px;}
.orderGift .orderGiftTable .pImg img{}
.orderGift .orderGiftTable .gItem { width:250px; }
.orderGift .orderGiftTable .gItem p{ line-height:18px;  width:340px;}
.orderGift .orderGiftTable .gItem img{vertical-align:text-bottom}
.orderGift .orderGiftTable .gItem .gBox{ background:#f7f7f7; padding:15px 20px;text-align:center;}
.orderGift .orderGiftTable .gItem .btnBox{ float:right; position:relative;}
.orderGift .orderGiftTable .gItem .btn{}
.orderGift .orderGiftTable .gItem .btn li{float:left; margin-left:5px;}
.orderGift .orderGiftTable .gItem .btn .totalEA{ margin-left:30px;}
.orderGift .orderGiftTable .gItem .btn select{ border:#CCCCCC solid 1px; padding:1px;}
.orderGift .orderGiftTable input{ border:#e4e4e4 solid 1px; padding:1px;}
.orderGift .calendar{ position:absolute; left:225px; top:145px;}


.orderGift .orderGiftTable2 td{ border:none; border-bottom:#e4e4e4 solid 1px}


.btnAdds{ border-top:#e4e4e4 solid 1px}





.oderAdrTableBox{ height:110px; overflow:auto;}
.orderAdrsList{ margin-bottom:30px;}
.orderAdrTableHead{border-top:#cccccc solid 1px;}
.orderAdrTable{ width:100%; }
.orderAdrTable input,
.orderAdrTable textarea{ border:#CCCCCC solid 1px; padding:1px; font-size:11px; }
.orderAdrTable p{ padding:2px 0}
.orderAdrTable img{vertical-align:middle}
.orderAdrTable th,
.orderAdrTable td{ border:none; line-height:18px; text-align:center ; padding:7px 1px 6px 1px; font-size:11px; }
.orderAdrTable th{ border-bottom:#cccccc solid 1px; background:#f4f4f4}
.orderAdrTable td{ border-bottom:#e1e1e1 solid 1px;}

.orderAdrTable .bNum{ width:20px;}
.orderAdrTable .bName{ width:100px;}
.orderAdrTable .bPhone{ width:100px;}
.orderAdrTable .bAds{ width:220px;}
.orderAdrTable .bMemo{ }
.orderAdrTable .bEa{ width:70px;}

.orderAdrTableMobile .bNum{ width:20px;}
.orderAdrTableMobile .bName{ width:100px;}
.orderAdrTableMobile .bPhone{ width:100px;}
.orderAdrTableMobile .bAds{ width:450px;}
.orderAdrTableMobile .pImg{}
.orderAdrTableMobile .gItem{ }
.orderAdrTableMobile .bEa{ width:70px;}



.orderAdrTable .bMemo{}
.orderAdrTableList{ width:890px;border-top:none;}

.totalAddPay{ border-bottom:#cccccc solid 1px;  border-top:#cccccc solid 1px;  padding:10px 5px 9px 10px; font-size:11px; background:#f2fbff}


.orderExlForm{ border:none ;border-top:#cccccc solid 1px; width:100%; margin-bottom:10px; }
.orderExlForm img{vertical-align:middle}
.orderExlForm th,
.orderExlForm td{ border:none; line-height:18px; text-align:left; }
.orderExlForm th{ border-bottom:#cccccc solid 1px; padding:7px 5px 6px 15px; background:#f4f4f4; width:100px;}
.orderExlForm td{ border-bottom:#e1e1e1 solid 1px; padding:7px 5px 6px 15px;}

.orderExlForm .olNum2{ margin-bottom:20px; margin-left:15px; padding-left:2px;}
.orderExlForm .olNum2 li{ line-height:24px; list-style:decimal; margin-bottom:10px;}
.orderExlForm .ulBul2{  margin-left:0px; padding-left:0px; margin-top:10px;}
.orderExlForm .ulBul2 li{ line-height:16px; background:url(/work/citibank/images/main/basketBul01.gif) no-repeat 0 5px; list-style:none; margin:0px; padding:0px; padding-left:8px; font-size:11px; }
.orderExlForm input{ border:#e4e4e4 solid 1px; padding:1px;}

.orderForm{ border:none; border-top:#999 solid 2px; border-bottom:#9b9b9b solid 1px; width:100%; margin-bottom:0px;}
.orderForm p{ font-size:11px;}
.orderForm img{vertical-align:middle}
.orderForm th,
.orderForm td{ border:none; border-bottom:#e3e3e3 solid 1px; color:#000000; padding:8px 3px 8px 3px; font-size:11px; font-weight:normal;  line-height:16px; }
.orderForm th{ text-align:left; padding-left:10px; color:#5c5c5c; font-weight:bold;}
.orderForm input,
.orderForm textarea{ border:#eaeaea solid 1px; padding:3px; color:#9a9a9a; font-size:11px;}
.orderForm select{ font-size:11px; color:#999999}
.orderForm p{ padding:2px 0}
.orderForm .bgGray{ background:#f7f7f7; }

.orderInfoWrap{ margin-bottom:20px; margin-top:25px; position:relative; width:740px; z-index:50;}
.orderInfoWrap .oLeft{ width:367px; float:left;}
.orderInfoWrap .oRight{ width:367px; float:right;}
.orderInfoWrap .orderForm{}

.excelScreen{ display:none; width:367px; height:306px; background:#000000; opacity:.5; filter:alpha(opacity=50); position:absolute; right:0px; top:30px; z-index:20;}

.payInfo{ margin-bottom:20px; position:relative;}
.payInfo .pInfo{ border:none; border-top:#999 solid 2px; border-bottom:#9b9b9b solid 1px; width:100%; margin-bottom:0px;}
.payInfo .pInfo img{vertical-align:middle}
.payInfo .pInfo th,
.payInfo .pInfo td{ border:none; border-bottom:#e3e3e3 solid 1px; color:#000000; padding:8px 3px 8px 3px; font-size:11px; font-weight:normal;  line-height:18px; }
.payInfo .pInfo th{ text-align:left; padding-left:10px; color:#5c5c5c}
.payInfo .pInfo input,
.payInfo .pInfo textarea{ border:#CCCCCC solid 1px; padding:2px; color:#9a9a9a; font-size:11px;}
.payInfo .pInfo select{ font-size:11px;}
.payInfo .pInfo p{ padding:2px 0}
.payInfo .pInfo .bgGray{ background:#f7f7f7; }
.payInfo .pInfo label{ margin-right:10px;}



.payInfo .pInfo2{ border:none; width:230px; margin:auto;  margin-bottom:20px;}
.payInfo .pInfo2 th,
.payInfo .pInfo2 td{ border:none; padding:7px 5px ; border-bottom:dotted #CCCCCC 1px;}
.payInfo .pInfo2 th{ font-weight:bold; text-align:left; width:100px;}
.payInfo .pInfo2 td{ text-align:right;}
.payInfo .pInfo2 .tPoint{ padding-top:10px; padding-left:5px;}
.payInfo .pInfo2 .tPoint h6{ color:#50ac19; font-size:11px; margin-bottom:3px;}
.payInfo .pInfo2 .tPoint p{ font-size:11px; margin-bottom:3px;}
.payInfo .pInfo2 .payPriceEnd{ color:#ff6600; font-size:14px;}

.payInfoMsg{ font-size:12px; padding-top:10px;}

.payBtn{ text-align:center;}
.btnSecProgram{ padding:10px 0px 0px 8px }

.orderComBox{ background:#FFF; padding:0px; margin-bottom:10px;}
.orderComBox .oLeft{ margin-bottom:20px;}
.orderComBox .oRight{}
.orderComList{border-top:#dedede solid 2px; width:100%; margin-bottom:10px; }
.orderComList th,
.orderComList td{ border-bottom:#dedede solid 1px; padding:10px 10px; font-size:12px;}
.orderComList th{ border-right:none;background:#f7f7f7; }
.orderComList th { text-align:left;}
.orderComList td { text-align:right;}
.orderComList .ts{ font-size:14px; padding:8px 10px; color:#e00003}

.orderComInfo{ border-top:#dedede solid 2px; width:100%; margin:auto;}
.orderComInfo th,
.orderComInfo td{ border-bottom:#dedede solid 1px; padding:10px 10px; font-size:11px; font-weight:bold; color:#666666}
.orderComInfo th { text-align:left; width:90px; background:#f7f7f7; }
.orderComInfo td {}

.orderNumberBox{ background:#f0f7fa; padding:20px 30px; margin-bottom:15px; font-size:18px; font-weight:bold; text-align:center; }

.btnBox{ text-align:right; margin-bottom:15px;}






