/* CSS Document */

.bbsList img{vertical-align:middle}
.bbsList{ border:none; width:100%; border-top:1px solid #cccccc; font:12px Dotum; margin-bottom:10px;}
.bbsList thead th{ border:none; border-bottom:#9b9b9b solid 2px; padding:9px 7px 8px; font-size:11px;  line-height:16px; background:#f4f4f4; color:#5c5959}
.bbsList thead th.left{ }
.bbsList thead th.right{ }
.bbsList tbody tr.bgNone{ background:none}
.bbsList tbody td{ border:none; padding:6px 3px 5px 3px; text-align:center; line-height:22px; border-bottom:#ededed solid 1px; color:#797979}
.bbsList .bNum{ font-size:11px; color:#505a62; font-family:Tahoma;padding:4px 0px 3px 0;}
.bbsList .bTit{ text-align:left;}
.bbsList .bTit strong a{color:#3c7ebb}
.bbsList .bName{ font-size:11px;  color:#505a62; font-family:Tahoma,Dotum;}
.bbsList .bDate{ font-size:11px; color:#505a62; font-family:Tahoma;}
.bbsList .bHit{ font-size:11px; color:#505a62; font-family:Tahoma;}
.bbsList .comCount{ font-size:10px; font-family:Tahoma; font-weight:bold; color:#a2bc50; padding-left:18px; padding-right:4px; display:inline-block; background:url(/_board/images/icoComent.gif) no-repeat 4px 4px;}



.bbsListNew{}
.bbsListNew{ border:none; width:100%; border-bottom:1px solid #cbcbcb; font:12px Dotum; margin-bottom:10px;}
.bbsListNew thead tr{ background:url(/work/citibank/images/customer/hImgBar.gif) no-repeat; height:30px;}
.bbsListNew thead th{ border:none; padding:0px 7px 1px; height:26px; line-height:16px; font-size:11px; background:url(/work/citibank/images/customer/hImgBar.gif) no-repeat -5px;}
.bbsListNew thead th.left{ background:url(/work/citibank/images/customer/hImgBar.gif) no-repeat 0px;}
.bbsListNew thead th.right{ background:url(/work/citibank/images/customer/hImgBar.gif) no-repeat right 0px;}
.bbsListNew tbody tr{}
.bbsListNew tbody tr.bgNone{ background:none}
.bbsListNew tbody td{ border:none; padding:3px 3px 2px 3px; text-align:center; line-height:20px; border-bottom:#ededed solid 1px; font-size:11px; color:#999999}
.bbsListNew .bNum{  font-family:Tahoma;padding:4px 0px 3px 0;}
.bbsListNew .bTit{ text-align:left;}
.bbsListNew .bTit a,
.bbsListNew .bTit strong a{color:#999999}
.bbsListNew .bName{ font-family:Dotum;}
.bbsListNew .bDate{  font-family:Tahoma;}
.bbsListNew .bHit{ font-family:Tahoma;}
.bbsListNew .comCount{ font-size:10px; font-family:Tahoma; font-weight:bold; color:#999999; padding-left:18px; padding-right:4px; display:inline-block; background:url(/work/lunaPlus/_board/images/icoComent.gif) no-repeat 4px 4px;}




.bbsHead{ font-size:14px; font-weight:bold; color:#555555; padding-left:7px; margin-bottom:15px; background:url(/work/citibank/images/customer/bbsHeadBul.gif) no-repeat 0 2px;}
.bbsHead2{ font-size:14px; padding-left:15px; margin-bottom:15px; background:url(/work/citibank/images/customer/csOrderViewIcoBul1.gif) no-repeat 0 2px;}
.bbsHead2 .txt{ font-size:12px; margin-left:25px;}

.bbsDescription{ padding:10px 15px ; border:#f4f4f4 solid 1px; margin-bottom:15px; font-size:11px; line-height:16px;}

.bbsTab{ width:100%; height:32px;}
.bbsTab li{ text-align:center; float:left}
.bbsTab li a{ padding:7px 25px 5px 25px; font-weight:normal; margin-top:7px; display:inline-block; border:#cdcdcd solid 1px; border-bottom:none; margin-right:1px; background:#f3f3f3}
.bbsTab li.on a{ padding:11px 25px 8px 25px; background:#FFFFFF; font-weight:bold; margin-top:0px;}

.bbsTab2 {border-bottom:#CCCCCC solid 1px; height:28px;}
.bbsTab2 li a{padding:5px 9px 5px 9px; width:inherit !important; font-size:11px; margin-top:4px;}
.bbsTab2 li.on a{padding:8px 9px 7px 9px; width:inherit !important; font-size:11px;}




.bbsView{ width:100%; border-top:#d2d2d2 2px solid;}
.bbsView img{ vertical-align:middle}
.bbsView .head{ background:#f2f2f2; border-bottom:#d2d2d2 2px solid; height:38px; position:relative}
.bbsView .hSpace{ margin:0 20px; display:inline-block; color:#cfcfcf}
.bbsView .head .bhTit{ position:absolute; border-right:#CCCCCC solid 1px; padding:12px 40px 12px 30px; left:25px; top:0px; font-weight:bold}
.bbsView .head .bTit{ position:absolute; left:135px; top:13px;}
.bbsView .head img{ position:relative;}
.bbsView .postInfo{ border-bottom:#d2d2d2 2px solid; height:35px; position:relative;}
.bbsView .postInfo .bName{ position:absolute; left:10px; top:11px; font-size:12px; color:#7f7e7e}
.bbsView .postInfo .bDate{ position:absolute; right:10px; top:12px; font-size:11px; color:#7f7e7e}
.bbsView .postInfo .bVote{ color:#f5512b; font-weight:bold; font-size:11px;}
.bbsView .memo{ padding:20px; word-wrap:break-word; line-height:200%; min-height:250px; _height:250px; overflow:hidden;  }

.bbsViewRecom .head .bhTit{border-right:#e7e7e7 solid 1px; padding:12px 20px 12px 0px;}
.bbsViewRecom .head .bTit{ left:90px;}
.bbsViewRecom .head{ background:#f2f2f2; border-bottom:#e7e7e7 1px solid; height:38px; position:relative}
.bbsViewRecom .memo{ padding:20px; line-height:200%; min-height:100px; _height:100px; border-bottom:#e4e4e4 2px solid; }

.chStar{ color:#FF3333;  font-family:Tahoma}

.bbsView2{ border:none; margin-bottom:15px; width:740px; border-top:#9b9b9b solid 2px; margin-bottom:20px; word-wrap:break-word;word-break:break-all;}
.bbsView2 img{vertical-align:middle}
.bbsView2 th,
.bbsView2 td{ border:none; padding:7px 10px 6px 10px ; border-bottom:#e7e7e7 solid 1px; line-height:160%;}
.bbsView2 th{ background:#ecf4f7; border-bottom:#e1e1e1 solid 1px; font-weight:bold; font-size:11px;}
.bbsView2 .chStar{ color:#FF3333;  font-family:Tahoma}
.bbsView2  input,
.bbsView2  select{ border:#dbdcde solid 1px;; padding:2px; background:#fff}
.bbsView2  textarea{ border:#dbdcde solid 1px; padding:3px; background:#fff; width:585px; height:260px;}
.bbsView2  .filed{ font-size:11px; padding:3px 3px 1px 0px; color:#505a62; margin-left:10px; }
.bbsView2 .memo{ width:600px; word-wrap:break-word;word-break:break-all;}


.bbsViewQna .head .bhTit{border-right:#e7e7e7 solid 1px; padding:12px 20px 12px 0px;}
.bbsViewQna .head .bTit{ left:90px;}
.bbsViewQna .head .btn{ position:absolute; right:10px; top:9px;}
.bbsViewQna .head{ background:#f2f2f2; border-bottom:#e7e7e7 1px solid; height:38px; position:relative}
.bbsViewQna .memo{ padding:20px; line-height:200%; min-height:100px; _height:100px; border-bottom:#e4e4e4 2px solid; }
.bbsViewQna .postInfo{ border-bottom:1px;}


.bbsReply img{vertical-align:middle}
.bbsReply { border-top:#dedede solid 1px; padding:15px 10px}

/*.linkPage{ border-bottom:#dedede solid 1px; margin-bottom:10px;}
.linkPage .prev{border-top:#dedede solid 1px; padding:8px 15px ;}
.linkPage img{ margin-right:10px;}
.linkPage .next{border-top:#eeeeee solid 1px; padding:8px 15px;}
.linkPage a{ font-size:11px; color:#828589}*/

.linkPage{ border:none; margin-bottom:15px; width:740px; border-top:#9b9b9b solid 2px; margin-bottom:15px;}
.linkPage img{vertical-align:middle}
.linkPage th,
.linkPage td{ border:none; padding:7px 10px 6px 10px ; border-bottom:#e7e7e7 solid 1px; line-height:160%;}
.linkPage th{ background:#f4f4f4; border-bottom:#e1e1e1 solid 1px; font-weight:bold;}



.bbsWrite img{vertical-align:middle}
.bbsWrite{ border:none; margin-bottom:10px; width:740px; border-top:#e7e7e7 solid 1px;}
.bbsWrite th,
.bbsWrite td{ border:none; padding:8px 7px 7px 7px ; border-bottom:#e7e7e7 solid 1px;}
.bbsWrite th{ background:#f2f2f2; font-size:11px;}
.bbsWrite .chStar{ color:#FF3333;  font-family:Tahoma}
.bbsWrite  input{ border:#dbdcde solid 1px; padding:2px; background:#fff}
.bbsWrite  select{ font-size:12px; color:#999999}
.bbsWrite  textarea{ border:#dbdcde solid 1px; padding:3px; background:#fff; width:585px; height:260px;}
.bbsWrite  .filed{ font-size:11px; padding:3px 3px 1px 0px; color:#505a62; margin-left:10px; }
.bbsWriteDisc{ margin-bottom:5px; text-align:right;}
/*.bbsWrite .head { background:url(/_board/images/hImgBar.gif) no-repeat; height:32px; position:relative; margin-bottom:10px;}
.bbsWrite .head .bTit{ position:absolute; width:100%; text-align:center; left:0px; top:8px; font-weight:bold; font-size:11px;}
.bbsWrite .item.title{background:url(/_board/images/hImgBar.gif) no-repeat; height:20px; padding:6px; border:none !important;}
.bbsWrite .item{ border-bottom:#e4e4e4 solid 1px; padding:5px 5px;}
.bbsWrite .item strong{ font-weight:normal; color:#3281cd; width:53px; display:inline-block; padding-left:0px; text-align:center; font-size:11px;}
.bbsWrite  input,
.bbsWrite  select{ border:#dbdcde solid 1px;; padding:2px; background:#fff}
.bbsWrite  textarea{ border:#dbdcde solid 1px; padding:3px; background:#fff; width:500px; height:260px;}

.bbsWrite .writeBox{ width:590px; overflow:hidden;}*/

.divinputfile { background:url(/work/citibank/images/customer/btnFile.gif) no-repeat 0 0px; display:inline-block; height:23px; width:72px; vertical-align:middle; top:1px; _top:2px; position:relative;  }
.divinputfile input{}
.divinputfile:hover { background:url(/work/citibank/images/customer/btnFile.gif) no-repeat 0 -26px; }
.fileInput { border:#CCCCCC solid 1px; padding:4px 3px 3px 3px; vertical-align:middle; font-size:11px; width:300px; }
.fileList { padding:2px 0; width:100% }



.coment{ width:590px; }
.coment .comtTop{ background:url(/_board/images/comtTop.gif) no-repeat; height:8px; line-height:0px; font-size:0px;}
.coment .comtCtn{ background:url(/_board/images/comtBg.gif) repeat-y; padding:5px 20px;}
.coment .comtBot{ background:url(/_board/images/comtBot.gif) no-repeat; height:8px; line-height:0px; font-size:0px;}
.coment .comtWrite{  width:550px; height:66px; margin:0; overflow:hidden; color:#888461; font-weight:bold; position:relative; }
.coment .comtWrite .comtTit{ width:88px; position:absolute; left:0px; top:14px;}
.coment .comtWrite .inputComt{ position:absolute; left:78px; top:0; border:#e4e4e4 solid 1px; padding:2px; background:#fff; width:380px; height:39px;}
.coment .comtWrite .comtByte{ position:absolute; right:88px; top:50px; font-size:10px; font-family:Tahoma; font-weight:normal; }
.coment .comtWrite .comtBtn{position:absolute; right:0px; top:0px;}
.coment .comtList{ border-bottom:#e4e4e4 solid 1px; padding:10px 0px 10px 0px ; width:550px; overflow:hidden;}
.coment .comtList .name{font-size:11px; color:#3281cd; font-weight:bold; margin-bottom:5px;}
.coment .comtList .name .date { font-size:10px; font-family:Tahoma; font-weight:normal; color:#999999; width:80px; margin-left:10px;}
.coment .comtList .comText{ color:#666666; font-size:11px; float:left; width:410px; line-height:16px;}
.coment .comtList .info { font-size:10px; font-family:Tahoma; float:right; width:80px; text-align:right;}


/*

.bbsWrite{ border:none; width:100%;}
.bbsWrite th{ border:none; padding:5px 5px 5px 5px ;}
.bbsWrite td{ border:none; padding:5px 5px 5px 5px ;} */	






.btnList{ padding:10px 0; width:100%; text-align:center;}
.btnList:after{ content:""; clear:both; display:block; *zoom:1;}
.btnList .left{ float:left}
.btnList .right{ float:right}
.btnList img{ vertical-align:text-bottom}





/* ÆäÀÌÂ¡ */
.paging	{clear:both;margin-bottom:-2px;margin-top:25px;text-align:center;}
.paging	a	{margin-left:3px;}
.paging	a:hover	{color:#3399CC;}
.paging	a.this	 {color:#3399CC;font-weight:bold;}
.paging	span	{color:#EBEBEB;font-size:9px;}




/* Paginate  */
.paginate{ padding:10px 0; text-align:center; margin-bottom:0px;}
.paginate *{ margin:0; padding:0; vertical-align:middle}
.paginate a,
.paginate strong{ _position:relative; display:inline-block; margin-right:-6px; padding:3px 7px 4px 8px; _padding-bottom:5px; text-decoration:none !important; line-height:normal; font:11px Tahoma, Serif;}
.paginate strong{ color:#3399CC !important; font-weight:bold;}
.paginate a.pre,
.paginate a.pre_end,
.paginate a.next,
.paginate a.next_end{ font:11px "µ¸¿ò", Dotum, "±¼¸²", Gulim, AppleGothic, Sans-serif; background:none}
.paginate a.pre{ padding:4px 8px 4px 8px;}
.paginate a.pre_end{ padding:4px 3px 4px 2px;}
.paginate a.next{ padding:4px 8px 4px 8px;}
.paginate a.next_end { padding:4px 3px 4px 2px;}
.paginate a:hover	{color:#3399CC;}

.bbsSch{height:20px; text-align:center; padding:10px 0px;margin-bottom:5px; text-align:right;}
.bbsSch select{ width:100px; text-align:center; font-size:11px;}
.bbsSch input{ border:#e3e3e3 solid 1px; padding:1px; background:#fff}
.bbsSch .btn{ border:none; padding:0;}
.bbsSch .keyword{ width:130px; font-size:11px; padding:3px;}

.bbsSchNew{height:20px; text-align:center; padding:10px 0px;margin-bottom:5px; text-align:center;}
.bbsSchNew select{ width:100px;  font-size:11px; border:#e3e3e3 solid 1px; padding:2px; color:#999}
.bbsSchNew input{ border:#e3e3e3 solid 1px; padding:1px; background:#fff}
.bbsSchNew .btn{ border:none; padding:0;}
.bbsSchNew .keyword{ width:170px; font-size:11px; padding:3px; margin-right:-5px; color:#999999}
.bbsSchNew .selectGo{ background:url(/work/citibank/images/customer/btnSch.gif) no-repeat; width:49px; border:none; *margin-top:0px;}

