/* 김기현 (kimkee@naver.com : 2011-06-10) */
@charset "euc-kr";
@import url(board.css);
@import url(view.css);
@import url(basket.css);
@import url(customer.css);
@import url(etc.css);
@import url(select.css);
@import url(dev.css);


html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
body,div,td,th,p,textarea{margin:0; padding:0; font-size:12px; font-family:돋움, Tahoma, Sans-serif; color:#666666;}/**/
html,body{}
caption{display:none}
img { border:0; }
input,select {vertical-align:middle}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden !important; margin:0 !important; padding:0 !important;}
ul, ol, li ,dl , dt , dd { list-style:none; margin:0; padding:0 }
h1, h2, h3, h4, h5, h6, h7 ,form { font-size:100%; font-weight:normal; margin:0; padding:0 }
html:first-child select{padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */ 
a { color:#6C6C6C;text-decoration:none;}
a:link { color:#6C6C6C; text-decoration:none;}
a:visited { color:#6C6C6C;}
a:hover { color:#6C6C6C; }
textarea{ overflow:auto; line-height:160%;}
.blind {visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
hr{display:none}
fieldset{ border:0; position:relative; clear:both;}
fieldset:after{ content:""; display:block; float:none; clear:both;}
legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}

.png24 {tmp:expression(setPng24(this));} 

.aLeft{ text-align:left !important}
.aCenter{ text-align:center !important}
.aRight{ text-align:right !important}
.nobor{ border:none !important}
.size11,
.size11 *{ font-size:11px; !important}
.size12{ font-size:12px; !important}
.size14{ font-size:14px; !important}
.bold{font-weight:bold !important}
.normal{font-weight:normal !important}
.under{ text-decoration:underline !important}
.through{ text-decoration:line-through !important}
.tcOrange,
.tcOrange *,
.tcOrange a{color:#f04425 !important}
.tcBlue,
.tcBlue *,
.tcBlue a{color:#3196CE !important}
.tcBlack,
.tcBlack *,
.tcBlack a{color:#2d2d2d !important}
.tcGreen,
.tcGreen *,
.tcGreen a{color:#5cbc1f !important}

.radio,
.checkbox{ border:none !important; width:13px; height:13px;}

.w10 { width:10px !important; }
.w20 { width:20px !important; }
.w30 { width:30px !important; }
.w40 { width:40px !important; }
.w50 { width:50px !important; }
.w60 { width:60px !important; }
.w70 { width:70px !important; }
.w80 { width:80px !important; }
.w90 { width:90px !important; }
.w100 { width:100px !important; }
.w110 { width:110px !important; }
.w120 { width:120px !important; }
.w130 { width:130px !important; }
.w140 { width:140px !important; }
.w150 { width:150px !important; }
.w160 { width:160px !important; }
.w170 { width:170px !important; }
.w180 { width:180px !important; }
.w190 { width:190px !important; }
.w200 { width:200px !important; }
.w210 { width:210px !important; }
.w220 { width:220px !important; }
.w230 { width:230px !important; }
.w240 { width:240px !important; }
.w250 { width:250px !important; }
.w260 { width:260px !important; }
.w270 { width:270px !important; }
.w280 { width:280px !important; }
.w290 { width:290px !important; }
.w300 { width:300px !important; }
.w400 { width:400px !important; }


.tempMenu{ border:#efefef solid 1px; padding:5px 5px 5px 5px; position:absolute; right:10px; top:40px; min-width:130px; _width:130px; background:#FFFFFF}
.tempMenu img{vertical-align:middle}
.tempMenu li{ background:#f7f7f7; border-bottom:1px solid #efefef; font-weight:bold;}
.tempMenu li a{ display:inline-block; width:150px; font-size:11px; padding:5px 3px 5px 7px ; color:#555}
.tempMenu li li{background:#fafafa; border:none; font-weight:normal;}
.tempMenu li li a{ padding:5px 3px 5px 14px ; width:143px; background:url(/work/citibank/images/main/tempBul.gif) no-repeat 8px 8px;  color:#666666 }
.tempMenu ul{ padding-top:2px; border-top:1px solid #efefef;}

.tempMenu li li li{background:#fafafa; border:none; font-weight:normal;}
.tempMenu li li li a{ padding:3px 3px 3px 14px ; width:113px; background:none; }
.tempMenu ul ul{ padding-top:0px; border-top:none}

.selectSample{ position:absolute; right:10px; top:10px; z-index:10; }
#viewPop .tempMenu,
#viewPop .selectSample{ display:none;}
.viewPop .tempMenu,
.viewPop .selectSample{ display:none;}

.uList{}
.oList{ padding-left:20px;}
.oList li{  list-style:decimal; line-height:160%;}
.uList li{ list-style:none;  background:url(/work/citibank/images/main/shopInfoBul2.gif) no-repeat 0 7px; padding:1px 1px 1px 5px; font-size:11px; line-height:160%;}



#indexBody { background-color:#ffffff }
#indexWrap { background:#ffffff }
#subBody { background-color:#ffffff }
#subWrap {  background:#ffffff }
.mainCenter{ width:1030px; position:relative;}
.subCenter{ width:1030px; position:relative; margin:auto;}
/*.header{ width:946px; padding-top:40px; padding-left:10px; position:relative;}
.header .img{ }
.header .gnbBtn{ float:right; margin-bottom:6px;}  
.header .gnbBtn li{ float:left; padding:0px 5px; background:url(/work/citibank/images/main/gnbBtnBar.gif) no-repeat 0 top}
.header .gnbBtn img{vertical-align:middle}*/


.header{ width:946px; padding-top:10px; padding-left:10px; position:relative;}
.header .img{ display:block; }
.header .gnbBtn{ float:right; margin-bottom:6px;} /* position:absolute; right:80px; top:140px;*/
.header .gnbBtn li{ float:left; padding:0px 5px; background:url(/work/citibank/images/main/gnbBtnBar.gif) no-repeat 0 top}
.header .gnbBtn img{vertical-align:middle}

.location{ position:absolute; left:10px; top:113px; font-size:11px; background:url(/work/citibank/images/main/locationBul.gif) no-repeat 0 3px; padding:0px 0px 0px 10px }
.location a{font-size:11px;}

.mainShopArea{  width:950px;padding-bottom:10px; background:url(/work/citibank/images/main/leftVdot.gif) repeat-y 190px 0px #FFF}
.leftArea{ width:180px; min-height:500px; _height:500px; padding-left:10px; float:left; }
.leftArea img{vertical-align:text-bottom;}

.leftMenuTab{ height:26px;}
.leftMenuTab li{ float:left; height:26px; margin:0; padding:0; font-size:0px; line-height:0px; *width:80px;}

.leftMypoint{ background:url(/work/citibank/images/main/leftMypointBg.gif) no-repeat; width:144px; height:70px; padding:10px; margin-bottom:11px;}
.leftMypoint .tit{ border-bottom:#ebebeb solid 1px; padding-bottom:5px; margin-bottom:8px;}
.leftMypoint .info{ font-size:11px; line-height:16px;}
.leftMenu{ display:none;}
.leftMenu .menu{ padding:10px 10px 15px 10px ;}
.leftMenu .menu li a{ background:url(/work/citibank/images/main/leftMenuBul.gif) no-repeat 0 6px; width:130px; margin-bottom:4px; padding:3px 3px 2px 8px; display:inline-block; font-size:11px; }
.leftMenu .menu li a:hover{background-image:url(/work/citibank/images/main/leftMenuBulOn.gif); font-weight:bold; color:#3399cc; letter-spacing:-1px;}


.mainShopArea .contents{ width:740px; float:right; margin-bottom:0px; padding-bottom:20px; min-height:730px; _height:730px;}



.skyArea{ position:absolute; top:10px; right:0px; width:72px; min-height:300px; _height:300px; }
#skyBanner{ width:72px; background:url(/work/citibank/images/main/skyScraperBg.gif) repeat-y}
#skyBanner .skyTop{ background:url(/work/citibank/images/main/skyScraperTop.gif) no-repeat; text-align:center; height:40px; padding-top:17px; font-size:11px;}
#skyBanner .skyTop p{ font-size:11px; margin-bottom:3px;}
#skyBanner .basketInfoList{ border:none; width:100%; border-left:#e9e9e9 solid 1px; border-top:#e9e9e9 solid 1px; margin-bottom:11px;}
#skyBanner .basketInfoList td{ border:none; padding:3px 3px 3px 3px; border-right:#e9e9e9 solid 1px; border-bottom:#e9e9e9 solid 1px; font-size:11px; line-height:16px; text-align:center;}
#skyBanner .basketInfoList .basTit{ color:#49b407; letter-spacing:-1px; padding-top:1px;}
#skyBanner .basketInfoList .basTit a{color:#49b407}
#skyBanner .basketInfoList .basNum{ color:#c88650;}
#skyBanner ul,li{ margin:0; padding:0; list-style:none;}
#skyBanner .basImg { padding-left:10px; padding-top:10px; padding-bottom:10px; height:155px;}
#skyBanner .basImg li{ width:50px; height:50px; overflow:hidden; text-align:center; margin-bottom:5px;}
#skyBanner .basImg li img{ width:50px; height:50px;}
#skyBanner .basBtn{ height:12px; padding-left:14px;} 
#skyBanner .basBtn li{ float:left; margin-right:10px;} 
#skyBanner .basRes{ background:url(/work/citibank/images/main/skyScraperLine.gif) no-repeat center bottom; margin:auto; font-size:11px; width:54px; letter-spacing:-1px; margin-bottom:10px; text-align:center; padding:10px 0;} 
/*.skyArea .skyBanner{ position:fixed; top:0px; right:0px;}*/
.footer{ width:940px;  margin-left:10px;}

.footGuideInfo{ border:#ededed solid 1px; padding:13px 15px 10px 15px ; float:right;  width:708px; height:150px; margin-left:0px; margin-bottom:10px; position:relative;}
.footGuideInfo .tit{ width:590px; float:left; background:url(/work/citibank/images/main/shopInfoBul1.gif) no-repeat 0px 3px; font-size:11px;  padding:1px 1px 4px 20px; line-height:18px; border-bottom:#ededed solid 1px; margin-bottom:10px; }
.footGuideInfo .infoList{ width:590px; float:left; margin-bottom:5px;}
.footGuideInfo .infoList li{ background:url(/work/citibank/images/main/shopInfoBul2.gif) no-repeat 0 5px; padding:1px 1px 1px 10px; font-size:11px; line-height:16px; margin-bottom:5px; }
.footGuideInfo .logo{ float:right;}
.footGuideInfo .policyBtn{ height:20px; position:absolute; right:142px; top:144px;}
.footGuideInfo .policyBtn li{ float:left; font-size:11px; margin-left:10px;}
.footGuideInfo .policyBtn a{ font-size:11px;}

.footer .link{ padding:10px 10px 7px 10px; height:16px; line-height:16px; overflow:hidden;  border:none; border-bottom:#d6d6d6 solid 1px;  border-top:#d6d6d6 solid 1px; }
.footer .link .footerLink{ float:right; height:18px; margin-left:122px; margin-bottom:5px; font-size:11px;}
.footer .link .footerLink li{ float:left; margin-left:15px;}
.footer .link .url{ float:left;}
.footer .link a{ color:#000}
.footer .companyInfo{ margin-left:122px; clear:both}
.footer .companyInfo p{ line-height:16px; font-size:11px; color:#979696}
.footer .companyInfo .comTel{ color:#846021}
.footer .companyInfo .comTel a{ color:#846021}
.footer .copyright{ padding:10px 10px 10px 10px; }
.footer .copyright .logo{ float:left}
.footer .copyright .copy{ float:right; text-align:right;color:#000; line-height:16px;}


.schTop{ background:url(/work/citibank/images/main/schTopBg.gif) no-repeat; text-align:left; float:right; width:700px; margin-bottom:13px; padding:8px 20px 11px 20px ;}
.schTop img{vertical-align:middle;}
.schTop .keyword{ border:#e4e4e4 solid 1px; padding:2px; width:460px; margin:0;}

.priceCommon{ color:#5c5c5c; font-weight:bold;}
.priceSale{ color:#008dcd; font-weight:bold;}


.loadScreen{ background:#000000; height:1000px; position:absolute; left:0px; top:0px; width:100%; z-index:900; opacity:.5; filter:alpha(opacity=50);}

.loadingCounsel{ position:absolute; left:200px; top:422px; z-index:1000}
.loadingCounsel2{ position:relative; left:200px; top:20px; z-index:1100}

.loadingPay{ position:absolute; left:200px; top:90px; z-index:1000}


/*아이템 박스타입*/
.itemBoxWrap{ width:790px; position:relative;}
.itemBoxWrap .itemBoxScreen{ position:absolute; left:30px; top:14px; width:700px; height:200px;  overflow:hidden;}
.itemBoxWrap .itemBoxScreen .m01_field{ position:absolute; left:0px; top:0px; width:7000px; height:180px;}
.itemBox{ width:120px; float:left; margin-right:35px; margin-bottom:20px; }/* height:333px; overflow:hidden;*/
.itemBox img{ vertical-align:middle;}
.itemBox .pImg{ width:120px; margin-bottom:5px; position:relative;}
.itemBox .pImg .img{ width:118px; height:118px; border:#efefef solid 1px; left:0px; top:0px;}
.itemBox .pImg .img img{ width:118px; height:118px;}
.itemBox .pImg .icoPrev{ position:absolute; right:-1px; top:107px}
.itemBox .itemOpt{ padding:1px 1px 1px 1px; margin-bottom:1px; }
.itemBox .itemOpt .itemCoupon{ color:#ffa414; font-weight:bold;}
.itemBox .itemName{line-height:16px; text-align:center; overflow:hidden; height:32px; font-size:11px; padding-top:3px; font-weight:bold; font-size:11px; letter-spacing:-1px; margin:auto; margin-bottom:3px;}
.itemBox .itemPrdNum{ text-align:center;}
.itemBox .itemInfo{ background:#FFF;   padding:8px 0 1px; margin-bottom:2px; }
.itemBox .itemInfo .itemPrice{ text-align:center;margin-bottom:2px;height:16px; font-size:11px;}
.itemBox .itemInfo .itemPrice .priceTxt{ color:#008bcc; font-weight:bold;}
.itemBox .itemInfo .itemPriceSale{ text-align:left;  padding-left:10px; margin-bottom:2px;height:16px; font-size:11px;}
.itemBox .itemInfo .itemPriceSale .priceTxt{ color:#FF6666; font-weight:bold;}
.itemBox .icoPointree{ margin-bottom:2px; text-align:center;}
.itemBox .txt2{ padding:15px 5px; border-top:#e4e4e4 solid 1px;  border-bottom:#e4e4e4 solid 1px; }
.itemBox .itemBtn img{ vertical-align:text-bottom}
.itemBox .itemBtn{}
.itemLine{  height:1px; line-height:1px; font-size:1px; clear:both;  width:740px;}

/* 쿠폰,무이자,일시불,깜짝 아이콘*/
.icoBtn{ background:url(/work/citibank/images/main/icoWhiteBg.gif) no-repeat 0 0; margin-bottom:2px; padding:0px 0px 0px 1px; font-size:11px; height:14px; display:inline-block; vertical-align:middle;  }
.icoBtn strong{ background:url(/work/citibank/images/main/icoWhiteBg.gif) no-repeat right 0; padding:2px 3px 1px 1px ; height:12px; display:inline-block; letter-spacing:-1px; line-height:12px !important; color:#4c4c4c;  font-weight:normal}

.icoCoupon{ background:url(/work/citibank/images/main/icoCouponBg.gif) no-repeat 0 0; margin-bottom:2px; padding:0px 0px 0px 2px; font-size:11px; height:16px; display:inline-block; vertical-align:middle;  }
.icoCoupon strong{ background:url(/work/citibank/images/main/icoCouponBg.gif) no-repeat right 0; padding:3px 5px 1px 1px ; height:15px; display:inline-block; letter-spacing:-1px; line-height:12px !important; color:#FFF; font-weight:normal}

.icoSuprice{ background:url(/work/citibank/images/main/icoSupriceBg.gif) no-repeat 0 0; margin-bottom:2px; padding:0px 0px 0px 2px; font-size:11px; height:16px; display:inline-block; vertical-align:middle;  }
.icoSuprice strong{ background:url(/work/citibank/images/main/icoSupriceBg.gif) no-repeat right 0; padding:3px 5px 0px 1px ; height:15px; display:inline-block; letter-spacing:-1px;line-height:12px !important; color:#FFF; font-weight:normal }

.icoPayOne{ background:url(/work/citibank/images/main/icoWhiteBg.gif) no-repeat 0 0; margin-bottom:2px; padding:0px 0px 0px 1px; font-size:11px; height:14px;display:inline-block; vertical-align:middle;  }
.icoPayOne strong{ background:url(/work/citibank/images/main/icoWhiteBg.gif) no-repeat right 0; padding:2px 3px 1px 1px ; height:12px; display:inline-block; letter-spacing:-1px; line-height:12px !important; }
.icoPayOne strong{ color:#4c4c4c; font-size:11px; line-height:11px; font-weight:normal}

.icoMoo{ background:url(/work/citibank/images/main/icoWhiteBg.gif) no-repeat 0 0; margin-bottom:2px; padding:0px 0px 0px 1px; font-size:11px; height:14px; display:inline-block; vertical-align:middle;  }
.icoMoo strong{ background:url(/work/citibank/images/main/icoWhiteBg.gif) no-repeat right 0; padding:2px 3px 1px 1px ; height:12px; display:inline-block; letter-spacing:-1px; line-height:12px !important;}
.icoMoo strong{ color:#4c4c4c; font-size:11px; line-height:11px; font-weight:normal}

.icoBenefit{ background:url(/work/citibank/images/main/icoBenefitBg.gif) no-repeat 0 0; margin-bottom:2px; padding:0px 0px 0px 3px; font-size:11px; height:17px; display:inline-block; vertical-align:middle;  }
.icoBenefit strong{ background:url(/work/citibank/images/main/icoBenefitBg.gif) no-repeat right 0; padding:3px 8px 1px 1px ; height:13px; display:inline-block; letter-spacing:-1px; line-height:12px !important;}
.icoBenefit strong{ color:#3399ca; font-size:11px; line-height:11px; font-weight:normal}

.icoRed{ background-image:url(/work/citibank/images/main/icoRedBg.gif)}
.icoRed strong{ background-image:url(/work/citibank/images/main/icoRedBg.gif); color:#FFFFFF; padding-top:3px; letter-spacing:inherit;}
.icoBlue{ background-image:url(/work/citibank/images/main/icoBlueBg.gif)}
.icoBlue strong{ background-image:url(/work/citibank/images/main/icoBlueBg.gif); color:#FFFFFF; padding-top:3px; letter-spacing:inherit;}



/* 메인롤배너 */
.mainRollBanner{ margin-bottom:28px; width:740px; height:270px; overflow:hidden; position:relative;}
.mainRollBanner .imgField{ width:740px;overflow:hidden;}
.mainRollBanner .bannerListField{ position:absolute; right:0px; top:0px; width:196px;}
.mainRollBanner .bannerListField li{ opacity:.8; filter:alpha(opacity=80); width:196px;  }
.mainRollBanner .bannerListField li a{ width:196px; height:20px; line-height:18px; padding:17px 0 17px 0; font-size:12px; background:#FFF; display:inline-block; color:#444; text-align:center;}
.mainRollBanner .bannerListField li.on a,
.mainRollBanner .bannerListField li a:hover{ background:#4fa4cc; color:#FFFFFF;}
.mainRollBanner .bannerListField li a span{opacity:1; filter:alpha(opacity=100);}

/* 메인베스트아이템 */
.bestItem{ position:relative; margin-bottom:20px; width:740px; overflow:hidden}
.bestItem .tit{ margin-bottom:9px;}
.bestItem .tab{ height:26px; margin:0; padding:0;}
.bestItem .tab li{ float:left;}
.bestItem img{vertical-align:middle}
.bestItem .itemBoxWrap{ position:relative; height:200px; width:750px; padding:22px 0px 0px 30px; border:none; }
.bestItem .itemBoxWrap .btnLeft{ position:absolute; left:0px; top:22px; z-index:100}
.bestItem .itemBoxWrap .btnRight{ position:absolute; left:718px; top:22px; z-index:100}
.bestItem .itemBox{ margin-right:20px; margin-bottom:0px;}
.bestItem .itemBox .icoPrev{ display:none;}
.bestItem .itemBox .icoPointree{ display:none;}



.cateMenu2Depth {margin-bottom:20px; width:740px; background:#ededed}
.cateMenu2Depth .cTop{ background:url(/work/citibank/images/main/cateMenuTop.gif) no-repeat;  height:10px; line-height:0; font-size:0;}
.cateMenu2Depth .cBot{ background:url(/work/citibank/images/main/cateMenuBot.gif) no-repeat; height:7px; line-height:0; font-size:0;}
.cateMenu2Depth .cBot2{ background:url(/work/citibank/images/main/cateMenuBot2.gif) no-repeat; height:7px; line-height:0; font-size:0;}
.cateMenu2Depth .cTop .tit{ color:#f96c13; font-size:14px; font-weight:bold; padding:20px 0px 0px 20px }
.cateMenu2Depth .cMenu{  background:url(/work/citibank/images/main/cateMenuBg.gif) repeat-y; padding:10px 10px 10px 20px }
.cateMenu2Depth .cMenu ul li{float:left; width:145px; padding:0px 0px 0px 10px; margin:0px 15px 5px 0; background:url(/work/citibank/images/main/cMenuListBar.gif) no-repeat right 4px; line-height:16px;}
.cateMenu2Depth .cMenu .txtEa{ font-size:11px; color:#66CC66; letter-spacing:-1px; margin-left:2px;}
.cateMenu2Depth .cMenu .cMenuListBrand{ border-top:#f4f4f4 solid 1px; padding-top:10px;}
.cateMenu2Depth .cMenu .cMenuListBrand li{ font-size:11px;}
.cateMenu2Depth .schMsg{ padding:7px 3px 3px 25px; background:url(/work/citibank/images/main/cMenuListBul.gif) no-repeat 16px 11px; }


.moneyOption {height:24px; border-bottom:solid 1px #ededed ;padding:0px 0 0px 0px;}
.moneyOption img{ vertical-align:middle;}
.moneyOption .arrayPrice{}
.moneyOption .arrayPrice li{ float:left;}
.moneyOption .arrayPrice li a{ padding:5px 15px 5px 18px; background:url(/work/citibank/images/main/optTabBul.gif) no-repeat 0px 4px; display:inline-block; font-size:11px; }
.moneyOption .arrayPrice li a:hover,
.moneyOption .arrayPrice li a.on{background-image:url(/work/citibank/images/main/optTabBulOn.gif); font-weight:bold; color:#666666; letter-spacing:-1px;}
.moneyOption .arrayPrice li b{ letter-spacing:-1px; color:#666666;}
.moneyOption .listStyle{ float:right}
.moneyOption .listStyle .select{/*  font-size:12px; color:#999999; border:1px solid #ededed; padding:1px;*/}

.itemPaging{height:16px; padding:15px 0 15px 10px; text-align:center; margin-bottom:5px;}
.itemPaging .pNum{ }
.itemPaging .pNum a{ display:inline-block; padding:1px 5px 1px 5px;  margin-right:1px; font-size:11px; }
.itemPaging .pNum .on{ color:#3196ca; font-weight:bold;}

.ItemList2Depth{ width:740px; overflow:hidden; border-bottom:#dbdada solid 1px;}







/*사용가능한 쿠폰 레이어팝업*/
.couponPack{ width:340px; position:absolute; left:0px; top:73px; background:#FFF; z-index:10}
.couponPack .top{ height:10px; font-size:0; line-height:0; background:url(/work/citibank/images/main/couponPackTop.gif) no-repeat}
.couponPack .bg{ padding:0px 13px;background:url(/work/citibank/images/main/couponPackBg.gif) repeat-y}
.couponPack .bot{ height:10px; font-size:0; line-height:0; background:url(/work/citibank/images/main/couponPackBot.gif) no-repeat}
.couponPack img{vertical-align:text-bottom}
.couponPack .head{ height:27px; margin-bottom:3px}

.couponPack .cpList{ border-top:#9b9b9b solid 2px; width:100%; margin-bottom:10px;}
.couponPack .cpList th,
.couponPack .cpList td{ border:none; padding:10px 3px; text-align:center; font-size:11px; color:#666; line-height:16px;}
.couponPack .cpList th{background:#f4f4f4}
.couponPack .cpList td{ border-bottom:#f1f1f1 solid 1px;}
.couponPack .cpList .bTit{ text-align:left; width:200px;}
.couponPack .cpList input,
.couponPack .cpList select{ border:#c6d3e3 solid 1px; padding:1px; font-size:11px;}
.couponPack .cpInfo{ font-size:11px; padding-left:19px; margin-bottom:5px;}
.couponPack .btnList{ padding:0}
.prdLayerPop .couponPack{ left:0px; top:30px;}




/*사용가능한 쿠폰 레이어팝업*/
.couponUse{  border:#657fb0 solid 2px; background:#e7ecf2; padding:3px; width:562px;} /*position:absolute; left:21px; top:200px;*/
.couponUse img{vertical-align:text-bottom}
.couponUse .head{ height:25px; position:relative;}
.couponUse .head .tit{ left:4px; top:1px; position:absolute; font-weight:bold; padding:4px 0; color:#5a6a8e; background:none !important; border:none !important;}
.couponUse .head .btn{ right:3px; top:3px; position:absolute;  padding:0;}
.couponUse .ctn{ background:#FFFFFF; border:#d3dfee solid 1px; padding:5px; min-height:150px; _height:150px;}
.couponUse .couponList{ border:none; width:100%; margin:0}
.couponUse .couponList th,
.couponUse .couponList td{ border:none; padding:3px 3px; text-align:center; font-size:11px; color:#666; line-height:16px;}
.couponUse .couponList th{background:#f4f4f4}
.couponUse .couponList td{ border-bottom:#f1f1f1 solid 1px;}
.couponUse .couponList .bTit{ text-align:left; width:200px;}
.couponUse .couponList input,
.couponUse .couponList select{ border:#c6d3e3 solid 1px; padding:1px; font-size:11px;}
.prdLayerPop .couponUse { top:80px; left:144px;}
.payCoupon {position:relative}
.payCoupon .couponUse{left:0px; top:6px;}

/*배송지목록 팝업*/
.adsListPop{ display:block; border:#e7ecf2 solid 2px; background:#e7ecf2; padding:3px; width:562px;  }
.adsListPop img{vertical-align:text-bottom}
.adsListPop .head{ height:25px; position:relative;}
.adsListPop .head .tit{ left:4px; top:1px; position:absolute; font-weight:bold; padding:4px 0; color:#5a6a8e; background:none !important; border:none !important;}
.adsListPop .head .btn{ right:3px; top:3px; position:absolute;  padding:0;}
.adsListPop .ctn{ background:#FFFFFF; border:#d3dfee solid 1px; padding:5px; min-height:253px; _height:253px;}
.adsListPop .adsList{ border:none; width:100%; margin:0}
.adsListPop .adsList th,
.adsListPop .adsList td{ border:none; padding:3px 3px; text-align:center; font-size:11px; color:#666; line-height:16px;}
.adsListPop .adsList th{background:#f4f4f4}
.adsListPop .adsList td{ border-bottom:#f1f1f1 solid 1px;}
.adsListPop .adsList .bTit{ text-align:left;}
.adsListPop .adsList input,
.adsListPop .adsList select{ border:#c6d3e3 solid 1px; padding:1px; font-size:11px;}
/*새 배송지 팝업*/
.adsNewPop{ display:block; border:#e7ecf2 solid 2px; background:#e7ecf2; padding:3px; width:562px;  }
.adsNewPop img{vertical-align:middle;}
.adsNewPop .head{ height:25px; position:relative;}
.adsNewPop .head .tit{ left:4px; top:1px; position:absolute; font-weight:bold; padding:4px 0; color:#5a6a8e; background:none !important; border:none !important;}
.adsNewPop .head .btn{ right:3px; top:3px; position:absolute;  padding:0;}
.adsNewPop .ctn{ background:#FFFFFF; border:#d3dfee solid 1px; padding:5px; min-height:210px; _height:210px;}
.adsNewPop .adsnList{ border:none; width:100%; margin:0; border-top:#F1F1F1 solid 1px;}
.adsNewPop .adsnList p{ margin-bottom:3px;}
.adsNewPop .adsnList th,
.adsNewPop .adsnList td{ border:none; padding:5px 5px; text-align:center; font-size:11px; color:#666; line-height:16px; border-bottom:#F1F1F1 solid 1px;}
.adsNewPop .adsnList th{background:#F9F9F9}
.adsNewPop .adsnList td{ text-align:left;}
.adsNewPop .adsnList .bTit{ text-align:left;}
.adsNewPop .adsnList input,
.adsNewPop .adsnList select{ border:#c6d3e3 solid 1px; padding:1px; font-size:11px;}
/*우편번호 팝업*/
.zipcodePop{ display:block; border:#fff solid 2px; background:#fff; padding:3px; width:450px;  }
.zipcodePop img{vertical-align:text-bottom}
.zipcodePop .head{ height:28px; position:relative; border-bottom:#CCCCCC solid 1px;}
.zipcodePop .head .tit{ left:4px; top:1px; position:absolute; font-weight:bold; padding:4px 0; font-size:14px; color:#5a6a8e; background:none !important; border:none !important;}
.zipcodePop .head .btn{ right:3px; top:3px; position:absolute;  padding:0;}
.zipcodePop .ctn{ background:#FFFFFF; border:#fff solid 1px; padding:5px 8px; min-height:280px; _height:280px;}
.zipcodePop .zipList{ border:none; width:100%; margin:0; }
.zipcodePop .zipList th,
.zipcodePop .zipList td{ border:none; padding:3px 3px; text-align:center; font-size:11px; color:#666; line-height:16px;}
.zipcodePop .zipList th{background:#f4f4f4}
.zipcodePop .zipList td{ border-bottom:#f1f1f1 solid 1px;}
.zipcodePop .zipList .bTit{ text-align:left;}
.zipcodePop .btnSch{ border:none;}
.zipcodePop input,
.zipcodePop select{ border:#c6d3e3 solid 1px; padding:2px; font-size:11px;}
.zipcodePop .zipInfo{ padding:5px 0; margin-bottom:9px;}
.zipcodePop .zipInfo p{ margin-bottom:3px;}
.zipcodePop .zipInfo .t2{ color:#50ac19}
.zipcodePop .zipSch{ text-align:center; margin-bottom:10px;}
.zipcodePop .zipSch .keyword{ width:100px}
.zipcodePop .zipSch .btnSch{ vertical-align:middle;}
.zipSchResult .ads{ width:340px;}
.zipSchResult .t2{ margin-bottom:10px;}




.pointKbPopWrap{position:relative}
.pointKbPopWrap .pointKbPop{ background:#fff; width:400px;}
.pointKbPopWrap .pointKbPop .top{ height:10px; font-size:0; line-height:0; background:url(/work/citibank/images/main/pointPopTop.gif) no-repeat}
.pointKbPopWrap .pointKbPop .bg{ padding:0px 13px;background:url(/work/citibank/images/main/pointPopBg.gif) repeat-y}
.pointKbPopWrap .pointKbPop .bot{ height:10px; font-size:0; line-height:0; background:url(/work/citibank/images/main/pointPopBot.gif) no-repeat}
.pointKbPopWrap .pointKbPop img{ vertical-align:text-bottom;}
.pointKbPopWrap .pointKbPop .head{ height:25px; position:relative; border-bottom:#7f7f7f solid 1px; margin-bottom:6px;}
.pointKbPopWrap .pointKbPop .head .tit{ }
.pointKbPopWrap .pointKbPop .ctn{ background:#FFFFFF; border:#d3dfee solid 1px; padding:5px; min-height:100px; _height:100px;}
.pointKbPopWrap .pointKbPop .pointList{ border-bottom:#c0c0c0 solid 1px; width:100%; margin:0}
.pointKbPopWrap .pointKbPop .pointList th,
.pointKbPopWrap .pointKbPop .pointList td{ border:none; padding:7px 5px !important; text-align:left; font-size:11px; color:#666; line-height:16px;}
.pointKbPopWrap .pointKbPop .pointList th{}
.pointKbPopWrap .pointKbPop .pointList td{}
.pointKbPopWrap .pointKbPop .pointList .bTit{ text-align:left;}
.pointKbPopWrap .pointKbPop .pointList input,
.pointKbPopWrap .pointKbPop .pointList select{ border:#c6d3e3 solid 1px; padding:1px; font-size:11px;}




.orderMemo{ display:none; position:absolute; left:75px; top:-105px; z-index:100; border:#3399cc solid 1px; background:#fff; padding:0px; padding-bottom:10px; width:258px;}
.orderMemo img{ vertical-align:middle}
.orderMemo .head{ height:34px; position:relative; background:url(/work/citibank/images/main/orderMemoTitBg.gif) no-repeat;}
.orderMemo .head .tit{ left:14px; top:1px; position:absolute; padding:4px 0; color:#fff}
.orderMemo .head .btn{ right:14px; top:5px; position:absolute;  padding:0;}
.orderMemo .ctn{ padding:10px 10px 5px 10px ;}
.orderMemo .textMemo{ border:#f1f1f1 solid 1px; padding:2px; overflow:auto; width:232px; height:82px; margin-bottom:5px;}
.orderMemo .oderMemoInfo{ margin:2px 0; line-height:12px; font-size:11px;}
.orderMemo .btnList{ padding:0; margin:0;}



#viewPop{ padding:0px;}

#viewPop .viewPopWrap{ background:#ffffff; padding:5px; width:770px;}
.viewPopWrap .prdViewTab{ margin-bottom:0px}
.viewPopWrap .prdViewTab{ height:26px; overflow:hidden;background:url(/work/citibank/images/main/tabBg2.gif) repeat-x;}
.viewPopWrap .prdViewTab li.on a { height:20px;}
.viewPopWrap .prdViewTab li a { height:18px;}
.viewPopWrap .prdCtn{ border:#3399cc solid 2px; padding:5px; padding-top:15px; border-top:none; width:756px; height:650px; overflow:auto;}
.viewPopWrap .prdCtn .prdTit{ padding-top:9px; margin-bottom:10px;}
.viewPopWrap .prdCtn .prdTit img{ vertical-align:middle} 
.viewPopWrap .prdCtn .prdTit .name{ font-weight:bold; font-size:16px; padding:8px 8px;}
.viewPopWrap .prdCtn .prdTit .price{ color:#f96c14; font-size:16px;	}
.viewPopWrap .prdCtn .zoomView{ padding-left:10px;}
.viewPopWrap .prdCtn .prdViewGuide{ padding-left:20px;}
.viewPopWrap .prdViewTab {}
.popBigImg{ float:left; }
.popBigImg img{ border:#cecdcb solid 1px; margin-right:30px;}
.prdCtn .thumList{ float:left;}
.prdCtn .thumList { width:80px; overflow:hidden; }
.prdCtn .thumList  ul{ }
.prdCtn .thumList  ul li{ margin-right:7px; margin-bottom:10px;}
.prdCtn .thumList  ul li img{ border:#d7d7d7 solid 1px; vertical-align:middle; padding:10px; width:58px; height:58px;}
.prdPopBox {display:none;}
.prdPopBox .prdViewNotice{ margin-top:15px;}
#viewPop .viewPopWrapASS{ padding:10px; width:720px;}
#viewPop .viewPopWrapASS .bbsHead{ margin-top:10px; margin-bottom:10px;}



.preCalcPop{ width:457px;}
.preCalcPop .head{ background:url(/work/citibank/images/main/preCalcHeadTitBg.gif) repeat-x; height:60px; padding:0px 0px 0px 20px }
.preCalcPop .head .tit{ float:left}
.preCalcPop .head .right{ float:right}
.preCalcPop .ctnBox{ padding:12px;}
.preCalcList{ border:none; border-top:#bfceed solid 2px; width:100%;}
.preCalcList th,
.preCalcList td{ padding:4px 4px 4px 4px; text-align:center;}
.preCalcList th{ background:#f0f5fb}
.preCalcList th{ background:#f0f5fb}
.preCalcList .pImg { width:50px;}
.preCalcList .pImg img{ border:#e8e8e8 solid 1px;}
.preCalcList .bTit{ width:300px; text-align:left;}
.prePrice{ border:#dfe5e5 solid 2px; background:#fafafa; padding:8px; border-left:none; border-right:none; margin-bottom:20px; text-align:right;}

.preCalcOptList{ border:none; width:100%; border-top:#9b9b9b solid 2px; margin-bottom:20px;}
.preCalcOptList p{ padding:2px 0}
.preCalcOptList img{vertical-align:middle;}
.preCalcOptList label{ margin-right:20px;}
.preCalcOptList th,
.preCalcOptList td{ padding:10px 8px; border:none; border-bottom:#dedede solid 1px; text-align:left; font-size:11px;}
.preCalcOptList th{ background:#f7f7f7; padding-left:15px;}
.preCalcOptList input,
.preCalcOptList select{ border:#e4e4e4 solid 1px; padding:1px; font-size:11px; color:#666}
.preCalcOptList .payVal{ text-align:right; width:80px;}

.preTotalPay{ border:#becfed solid 2px; padding:10px 15px; margin-bottom:5px;}

.preTotalPay table{ border:none; width:100%; border-collapse:collapse}
.preTotalPay table th,
.preTotalPay table td{ border:none; padding:5px; padding-right:25px; line-height:18px; text-align:left; color:#333333}
.preTotalPay table th{width:100px;}
.preTotalPay .thVline{ border-left:#e4e4e4 solid 2px; padding-left:25px;}

.preCalcPop .btnList{ background:#c5e4f4; border-top:#ede3d8 solid 1px; padding:8px; width:457px;}


.dTable{ border:none; width:100%; border-top:#9b9b9b solid 2px; margin-bottom:20px;}
.dTable p{ padding:2px 0}
.dTable img{vertical-align:middle;}
.dTable label{ margin-right:20px;}
.dTable th,
.dTable td{ padding:10px 8px; border:none; border-bottom:#dedede solid 1px; text-align:left; font-size:11px; line-height:20px;}
.dTable th{ background:#f4f4f4; padding-left:15px; text-align:left;}
.dTable input{ border:#e4e4e4 solid 1px; padding:1px; font-size:11px; color:#666}

.ulist{}
.ulist li{ background:url(/work/citibank/images/main/bul1.gif) no-repeat 0 8px; line-height:16px; padding:1px 1px 1px 5px; font-size:11px; }
.ulist li img{vertical-align:middle}


.loginPop{ width:458px;}
.loginPop .head{ height:63px;}
.loginPop .head .tit{ float:left}
.loginPop .head .right{ float:right}
.loginPop .ctnBox{ padding:12px; height:380px;}
.loginPop .left{float:left}
.loginPop .right{float:left; width:340px;}
.loginPop .ulist{}
.loginPop .ulist li{ background:url(/work/citibank/images/main/bul1.gif) no-repeat 0 8px; line-height:16px; padding:1px 1px 1px 5px; font-size:11px; }
.loginPop .ulist li img{vertical-align:middle}
.loginPop .selMem{ margin-bottom:7px; font-size:11px; font-weight:bold;}
.loginPop .selMem label{ margin-right:20px;}
.loginPop input { padding:2px;}
.loginPop .btn{margin-bottom:10px;}

.idpwPop{ width:420px;}
.idpwPop .head{ height:63px;}
.idpwPop .head .tit{ float:left}
.idpwPop .head .right{ float:right}
.idpwPop .ctnBox{ padding:12px; height:280px;}
.idpwPop input { padding:2px;}

.idpwTemPop{ width:425px;}
.idpwTemPop .head{ height:63px;}
.idpwTemPop .head .tit{ float:left}
.idpwTemPop .head .right{ float:right}
.idpwTemPop .ctnBox{ padding:12px; }
.idpwTemPop input { padding:2px;}


/* 달력 */
.calendar{overflow:hidden; width:198px;font-family:'돋움',dotum;font-size:12px;line-height:12px;text-align:center; background:#FFFFFF}
.calendar a{text-decoration:none !important}
.calendar img{border:0}
.calendar a.btn_cal{display:inline-block;width:31px;padding-right:2px;background:url(/work/citibank/images/main/bgBtnCal.gif) no-repeat 100% 0;font-size:11px;color:#888;letter-spacing:-1px;line-height:19px;text-decoration:none}
.calendar a.btn_cal:hover{color:#000}
.calendar a.btn_cal span{display:block;padding:1px 0 0 2px;background:url(/work/citibank/images/main/bgBtnCal.gif) no-repeat}
.calendar .calendar_type{overflow:hidden;height:27px;background:#f2f2f2}
.calendar .calendar_type .note{float:left;padding:7px 0 0 5px;font-size:11px;line-height:13px;letter-spacing:-1px}
.calendar .calendar_type .note span{display:inline-block;overflow:hidden;width:65px;white-space:nowrap;text-overflow:ellipsis}
.calendar .calendar_type .note img{margin-top:1px;vertical-align:top}
.calendar .calendar_type .btns{float:right;padding:3px 5px 0 3px}
.calendar .calendar_type .btns a{margin-left:-3px}
.calendar .calendar_type .selected{color:#d00 !important}
.calendar .calendar_period{clear:both;margin:11px 0 10px}
.calendar .calendar_period a{display:inline-block;margin:-1px -1px 0;padding:1px;vertical-align:middle}
.calendar .calendar_period a img{vertical-align:top}
.calendar .calendar_period strong{display:inline-block;width:83px;font-family:verdana;font-size:13px;color:#333;line-height:15px;text-align:center}
.calendar table{ border:none;width:168px;margin:0 auto 11px ;border-top:1px solid #f4f4f4; border-left:1px solid #f4f4f4;}
.calendar table caption,.calendar table thead{ }
.calendar table th,
.calendar table td{padding:0;border:0;background:#fff;border:0;border-bottom:1px solid #f4f4f4; border-right:1px solid #f4f4f4; font-family:verdana,tahoma;font-size:10px;line-height:12px}
.calendar table th{ font-size:11px; padding:6px 0px 5px 0px ; font-weight:normal;}
.calendar table td.selectable a{background:#fffcb2}
.calendar table td.selected a{background:#e5f2ff}
.calendar table td.today a{background:#7f7f7f;color:#fff}
.calendar table td a{display:block;width:24px;height:13px; padding:4px 0;color:#000;text-align:center;letter-spacing:-1px}
.calendar table td.sun a{color:#f00}
.calendar table td.sat a{color:#00f}
.calendar .calendar_input_period{margin:0 5px 0;padding:4px 0;border-top:1px solid #e5e5e5;color:#666}
.calendar .calendar_input_period .tilde{margin:0 -3px;font-family:tahoma;font-size:11px;color:#aaa}
.calendar .calendar_input_period input.date{width:62px;height:14px;margin-top:1px;*margin:0 0 -1px;padding:2px 0 0 4px;border:1px solid #ccc;font-family:tahoma;font-size:11px;line-height:13px;vertical-align:top}
.calendar .calendar_input_period a.btn_cal{color:#454545}

.mainShopAreaPlanSale .mainPlanBanner{ margin-bottom:10px;}
.planSaleTop{ margin-bottom:20px;}
.planHead{ margin-bottom:20px; border-bottom:#3399cc solid 1px; padding-bottom:20px;}
.planTit{ font-size:11px; font-weight:bold; margin-bottom:10px;}
.planBanner{ margin-bottom:10px; border-bottom:#ededed solid 1px; padding-bottom:20px;}


.preview_buy_coupon_div{ background:#FFFFFF;border: 1px solid #D3DFEE; padding:5px; width:300px; position:absolute; left:70px; top:60px;}
.preview_buy_coupon_tbl{ border:none; width:100%; margin:0}
.preview_buy_coupon_tbl th,
.preview_buy_coupon_tbl td{ border:none; padding:3px 3px; text-align:center; font-size:11px; color:#666; line-height:16px;}
.preview_buy_coupon_tbl th{background:#f4f4f4}
.preview_buy_coupon_tbl td{ border-bottom:#f1f1f1 solid 1px;}
.preview_buy_coupon_tbl .bTit{ text-align:left; width:200px;}
.preview_buy_coupon_tbl input,
.preview_buy_coupon_tbl select{ border:#c6d3e3 solid 1px; padding:1px; font-size:11px;}


.privacyAgreeBox{ background:url(/work/citibank/images/main/privacyAgreeBoxBg.gif) no-repeat; padding:17px 15px 15px 15px ; height:160px;}
.privacyAgreeBox img{vertical-align:middle}
.privacyAgreeBox .tit{ font-size:12px; font-weight:bold; margin-bottom:15px; color:#333333}
.privacyAgreeBox .box{ border:#e5e5e5 solid 1px; border-left:none; border-right:none background:#FFFFFF; padding:10px 7px; margin-bottom:13px; height:70px; overflow:auto;
	scrollbar-face-color:#e9e9e9;
	scrollbar-shadow-color:#cccccc;
	scrollbar-highlight-color: #cccccc;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #777777;
}
.privacyAgreeBox .box li{ color:#999999}
.privacyAgreeBox .prvBoxBtn1{ margin-left:30px;}
