
/* 제품상세*/

.productHead{ position:relative; height:40px; border-bottom:#dddddd solid 1px; margin-bottom:10px; width:910px;}
.productHead .location{position:absolute; left:0px; top:12px; height:20px; width:500px;}
.productHead .btnHisBack{ position:absolute; right:0px; top:12px;}

.prdViewLeft{ width:740px;}

.shopHead{ margin-bottom:10px;}
.shopHead h3{ font-size:21px; font-family:Dotum; font-weight:bold; color:#000066}

.productName{ border-bottom:#e5e5e5 solid 1px; padding:0px 0px 5px 0px; line-height:22px;  font-size:14px; font-weight:bold;  margin-bottom:10px; }
.prdInfo{ background:#FFFFFF; margin-bottom:30px; min-height:406px; _height:406px}
.prdInfo .prdImgBox { width:308px; float:left;}
.prdInfo .prdImgBox .prdBig{ border:#ebebeb solid 1px; padding:3px; margin-bottom:10px;}
.prdInfo .prdImgBox .btnArea{ height:20px; margin-bottom:10px;}
.prdInfo .prdImgBox .btnArea .viewLarge{ float:left; padding-top:2px; width:185px; text-align:right}
.prdInfo .prdImgBox .btnArea .snsLink{ float:right}
.prdInfo .prdImgBox .btnArea .snsLink li{ float:left; margin-left:3px;}
.prdInfo .prdImgBox .thumList{ width:308px; overflow:hidden}
.prdInfo .prdImgBox .thumList ul{ width:316px;}
.prdInfo .prdImgBox .thumList ul li{ float:left; margin-right:7px; *margin-right:3px; margin-bottom:3px;}
.prdInfo .prdImgBox .thumList ul li img{ border:#d7d7d7 solid 1px; vertical-align:middle; width:54px; height:54px;}
.prdInfo .prdSpecBox{width:410px; float:right; position:relative;}	 
.prdInfo .prdSpecBox img{vertical-align:middle}
.prdInfo .prdSpecBox .priceOpt .sale{ padding:0px; font-size:11px; background:none;}
.prdInfo .prdSpecBox .priceOpt .sale strong{ color:#FF0033}

.prdInfo .prdSpecBox .priceOpt .pTit{ letter-spacing:6px; margin-right:1px;}
.prdInfo .prdSpecBox .priceOpt .pNum{ margin-bottom:0px;padding-top:0px; font-size:15px; margin-right:10px; font-weight:bold;}
.prdInfo .prdSpecBox .priceOpt{ margin-bottom:10px;}
.prdInfo .prdSpecBox .priceOpt li{ padding:5px 0 5px 8px; background:url(/work/citibank/images/main/bul1.gif) no-repeat 0 11px; line-height:14px; font-size:12px; }
.prdInfo .prdSpecBox .priceOpt .pTxt{ color:#008bcc; font-weight:bold; font-size:14px; margin-left:0px;}

.zzimBox{ width:560px; display:none; border:#657fb0 solid 2px; padding:4px; background:#dadee7; position:absolute; left:-1px; top:270px; z-index:100;}
.prdLayerPop .zzimBox{ left:-201px; top:175px;}
.zItemBox img{ vertical-align:middle;}
.zzimBox .ctn{ background:#FFFFFF; padding:10px; width:540px;}
.zzimBox .ctn .zLeft{ float:left; margin-bottom:0px;}
.zzimBox .ctn .zRight{ float:right}
.zzimBox .ctn .zbtn ul{margin-bottom:8px;}
.zzimBox .ctn .zbtn li{ margin-bottom:5px;}
.zzimBox .zItemBox{ width:80px; float:left; margin-right:9px;}
.zzimBox .zItemBox .pImg{ width:80px; position:relative; margin-bottom:4px;}
.zzimBox .zItemBox .pImg img{ border:#e3e3e3 solid 1px; width:78px;}
.zzimBox .zItemBox .pImg .zoom { position:absolute; left:2px; top:63px;}
.zzimBox .zItemBox .pImg .zoom img{width:15px; height:15px; border:none; vertical-align:text-bottom}
.zzimBox .zItemBox .pImg .check{ position:absolute; left:0px; top:0px;}
.zzimBox .zItemBox .zItemName{ font-size:11px; width:80px; height:40px; overflow:hidden; margin-bottom:3px; line-height:14px;}
.zzimBox .zItemBox .zOptSel{ border:#CCCCCC solid 1px; padding:1px; font-size:11px; width:80px; margin-bottom:3px;}
.zzimBox .zItemBox .commonPrice{ color:#008acb; text-align:center;}
.zzimBox .zItemBox .salePrice{ color:#f96c14; text-align:center;}
.zzimBox .btnClose{ text-align:right;}
.zzimBox .paginate{margin:0px;}

.quicktop { position:absolute; left:195px; top:300px; z-index:300; display:none;}
.prdLayerPop { border:#e4e4e4 solid 3px; background:#fff; padding:10px; width:734px;}/* position:fixed; _position:absolute;  left:50%; top:50%; margin-left:-360px; margin-top:-230px; z-index:300;*/
.prdLayerPop .head{ height:32px; overflow:hidden; line-height:32px; position:relative;}
.prdLayerPop .head .tit{ font-weight:bold; font-size:14px; float:left; padding-top:0px; width:688px;}
.prdLayerPop .head .btn{ position:absolute; right:5px; top:5px;}
.prdLayerPop .prdInfo{ width:734px; margin-bottom:0px; padding:0px;}
.prdLayerPop .productName{ display:none;}
.prdLayerPop .prdInfo .prdSpecBox .btn .prdBtn{ display:block}
.prdInfo .prdSpecBox .btn .prdBtn{ display:none}

.mainCsArea .quicktop{ left:-15px;}

.prdInfo .prdSpecBox .specOption .btnNumEa{ *margin-left:5px; _margin-left:0px}

.preViewItemList{ display:none;}
.prdLayer2Pop{ width:910px; position:relative;}
.prdLayer2Pop .prdInfo .prdSpecBox .btn .prdBtn{ display:block}
.prdLayer2Pop .prdInfo{ border-top:none; margin-bottom:0px; width:888px;}
.prdLayer2Pop .prdInfo .prdSpecBox{ float:left; position:relative;}
.prdLayer2Pop .prdInfo .prdImgBox{ margin-right:20px;}
.prdLayer2Pop .prdInfo .rightBox{ float:right; display:block; width:177px; position:absolute; left:722px; top:10px;}
.prdInfo .rightBox{display:none; position:absolute; left:-10000px; top:-10000px; width:177px;}
.prdLayer2Pop .couponPack{left:-30px; top:47px; }
.prdLayer2Pop .zzimBox { top:142px; left:-11px;}
.prdLayer2Pop .prdSpecBox .specOption  .btnNumEa{ display:inline}
.prdRbanner{ margin-bottom:10px;}
.prdAssBanner{ margin-bottom:10px;}
.prdAssBanner .head{ height:22px; border-bottom:dashed 1px #d6d6d6; margin-bottom:3px;}
.prdAssBanner .head .tit{ float:left; background:url(/work/citibank/images/main/previewBul1.gif) no-repeat 0px 4px; padding-left:10px;}
.prdAssBanner .head .btn{ float:right;}
.prdAssBanner .btnWrite{ text-align:right;}
.prdpreText1{ border:#f4f4f4 solid 1px; background:#f9f9f9; padding:8px; line-height:17px; font-size:11px;}

.rightEaList{ float:right;display:none; width:205px;}
.rightEaList .top{ background:url(/work/citibank/images/main/eaListTop.gif) no-repeat; height:10px; font-size:0; line-height:0;}
.rightEaList .ctnBg{ background:url(/work/citibank/images/main/eaListBg.gif) repeat-y; padding:4px 10px;}
.rightEaList .bot{ background:url(/work/citibank/images/main/eaListBot.gif) no-repeat; height:10px; font-size:0; line-height:0;}
.rightEaList .head{ padding-bottom:7px; height:18px;}
.rightEaList .head .tit{ font-size:14px; font-weight:bold; float:left}
.rightEaList .btn{ text-align:right;}
.rightEaList .ctn{}

.rightEaList .eaList{ border-top:#9b9b9b solid 2px; width:100%; margin-bottom:0px;}
.rightEaList .eaList th,
.rightEaList .eaList td{ border:none; padding:5px 5px; text-align:center; font-size:11px; color:#666; line-height:16px;}
.rightEaList .eaList th{background:#f4f4f4;}
.rightEaList .eaList .sp1{ text-align:left;}
.rightEaList .eaList .bg1{background:#f6fcff; border-bottom:#cbcbcb solid 1px;}
.rightEaList .eaList td{ border-bottom:#f1f1f1 solid 1px;}

.rightEaList .eaListCtn{ border-top:none; margin-bottom:1px;}
.rightEaList .eaListBot{ border-top:none;}
.rightEaList .scrollBox{   height:108px; width:184px; overflow-x:hidden;overflow-y:scroll;
	scrollbar-face-color:white;
	scrollbar-highlight-color:#cccccc; 
	scrollbar-3dlight-color:white;
	scrollbar-darkshadow-color:white; 
	scrollbar-shadow-color:#cccccc;
	scrollbar-track-color:white;
	scrollbar-arrow-color:#cccccc;
}
.rightEaList .totalEa{ border:#f4f4f4 solid 1px; background:#f9f9f9; padding:8px; line-height:17px; text-align:center; font-weight:bold;}

.prdInfo .rightEaList{ position:absolute; right:80px; top:246px; display:none;}
.prdLayerPop .prdInfo .rightEaList{ position:absolute; right:15px; top:120px; display:none;}
.prdLayer2Pop .prdInfo .rightEaList{  position:absolute; right:10px; top:10px;display:none;}





.prdInfo .prdSpecBox .specOption{ background:#f6f6f6; border:#e5e5e5 solid 1px; border-left:none; border-right:none; padding:5px 7px; margin-bottom:20px; min-height:60px; _height:60px;}
.prdInfo .prdSpecBox .specOption .list{ border:none;}
.prdInfo .prdSpecBox .specOption .list th{ font-weight:normal; text-align:left; width:70px;}
.prdInfo .prdSpecBox .specOption .list th,
.prdInfo .prdSpecBox .specOption .list td{ border:none; padding:5px;}
.prdInfo .prdSpecBox .specOption .list select{ font-size:11px;}
.prdInfo .prdSpecBox .specOption .list .optSel{ width:250px;}
.prdInfo .prdSpecBox .specOption .btnNum{ width:35px; display:inline-block; *display:inline; margin-right:5px; vertical-align:middle;}
.prdInfo .prdSpecBox .specOption .btnNum .inputPnum{ border:#CCCCCC solid 1px; padding:1px; width:20px; float:left; margin-right:1px; vertical-align:middle;}
.prdInfo .prdSpecBox .specOption .btnNum .btnArrow{ float:left; width:5px; vertical-align:middle}
.prdInfo .prdSpecBox .specOption .btnNum .btnArrow a{}
.prdInfo .prdSpecBox .specOption .btnNum .btnArrow img{ margin-bottom:1px; vertical-align:middle;}
.prdInfo .prdSpecBox .specOption .btnNum .btnArrow span{ line-height:0px; font-size:0px; display:block;}
.prdInfo .prdSpecBox .btn{ margin-bottom:10px; height:46px;}
.prdInfo .prdSpecBox .btn li{ float:left; margin-right:5px; *margin-right:2px;}
.prdInfo .prdSpecBox .btn li img{vertical-align:text-bottom}
.prdInfo .prdSpecBox .orderInfo{ padding:10px 15px 9px; font-size:11px; color:#fe6c00; background:#f7f7f7; border:#d8d8d8 solid 1px; margin-bottom:10px;}
.prdInfo .prdSpecBox .pInfoList{ width:100%; border:none;}
.prdInfo .prdSpecBox .pInfoList img{vertical-align:middle}
.prdInfo .prdSpecBox .pInfoList th,
.prdInfo .prdSpecBox .pInfoList td{ border:none; padding:4px 4px ; font-size:11px;}
.prdInfo .prdSpecBox .pInfoList th{ font-weight:normal; text-align:left; width:75px; background:url(/work/citibank/images/main/bul1.gif) no-repeat 0 11px; padding:1px 1px 1px 7px; line-height:24px;}




.prdViewTab{ height:26px; background:url(/work/citibank/images/main/tabBg.gif) repeat-x; margin-bottom:20px;}
.prdViewTab li{ float:left; background:url(/work/citibank/images/main/tabMenuBg.gif) no-repeat; margin-right:2px; padding-left:3px;}
.prdViewTab li a{height:20px; padding:6px 24px 0px 22px; width:110px; text-align:center; background:url(/work/citibank/images/main/tabMenuBg.gif) no-repeat right 0px; line-height:17px; display:inline-block; color:#aaaaaa ; font-weight:bold;}
.prdViewTab li.on{ background-image:url(/work/citibank/images/main/tabMenuBgOn.gif)}
.prdViewTab li.on a{ background-image:url(/work/citibank/images/main/tabMenuBgOn.gif); color:#3399cc; line-height:18px;}

.prdViewTab li a .tNum{ font-size:11px; color:#c32e31; margin-left:3px;}
.prdViewCtn{ min-height:200px; _height:200px; margin-bottom:20px;}




.prdAssMsg1{ margin-bottom:15px;}
.prdAssTit{ background:url(/work/citibank/images/main/prdViewBul2.gif) no-repeat 10px 13px #f6f6f6; line-height:18px; padding:10px 10px 10px 23px ; margin-bottom:20px;}
.prdViewCtn .csAssRe{ padding:0px; text-align:left !important; border-top:#efefef solid 1px;}
.prdViewCtn .csAssRe .head{ padding-top:8px; border-bottom:#efefef solid 1px; background:none;}
.prdViewCtn .csAssRe .assId{ width:60px; text-align:center; display:inline-block;}
.prdViewCtn .csAssRe .btnList{ text-align:right; margin:0; padding:10px 0 0;}
.prdViewCtn .csAssRe .ctn{ border-bottom:#efefef solid 1px; display:none;}
.prdAssNone img{ vertical-align:middle;}
.prdAssNone{ text-align:center; padding:30px; border-bottom:#DEDEDE solid 1px; margin-bottom:20px;}

.prdViewGuide{margin-bottom:20px; padding-top:15px;}
.prdViewGuide .hTit01{ background:url(/work/citibank/images/main/prdViewBul1.gif) no-repeat 0 5px; padding:1px 1px 1px 10px ; line-height:18px; font-weight:bold; margin-bottom:10px;}
.prdViewGuide .pCtn{ padding:0px 0px 0px 12px; margin-bottom:20px; line-height:18px; }
.prdViewGuide .csLink{ display:inline-block; margin-bottom:10px; padding:5px 10px; border:#CCCCCC dotted 1px; }

.prdQnaMsgS{ margin-bottom:10px; color:#FF6600}
.prdQnaMsg{ background:url(/work/citibank/images/main/prdQnaMsgBg.gif) no-repeat; height:65px; padding:15px 0 0 75px; margin-bottom:10px;}
.prdQnaMsg .msg1{ margin-bottom:4px;}
.prdQnaMsg .btn{}

.prdQnaList{ border:none; width:100%; border-bottom:#ececec solid 1px;}
.prdQnaList img{vertical-align:middle}
.prdQnaList th,
.prdQnaList td{ padding:7px 3px 6px 3px ; border:none; text-align:center;  line-height:18px;}
.prdQnaList .bTit{ text-align:left; background:url(/work/citibank/images/main/prdQnaIcoQ.gif) no-repeat 7px 8px; padding-left:29px; width:360px;}
.prdQnaList .bRe{ padding:0; text-align:left; }
.prdQnaList tr{}
.prdQnabRe { display:none;}
.prdQnabRe .memoQ{ padding:10px; background:#fdf6f4; min-height:30px; height:30px}
.prdQnabRe .memoA{ padding:10px; background:url(/work/citibank/images/main/prdQnaIcoA.gif) no-repeat 25px 10px #fdfaf4; border-bottom:#ececec solid 1px; padding-left:45px; min-height:30px; height:30px}
.prdQnabRe .memoA .msg{margin-bottom:5px;}
.prdQnabRe .memoA .date{ text-align:right;}

.prdAssFoodList{ border:none; width:100%; border-bottom:#ececec solid 1px;}
.prdAssFoodList th,
.prdAssFoodList td{ padding:7px 3px 6px 3px ; border:none; line-height:18px;}
.prdAssFoodList th{ text-align:left; width:100px; vertical-align:text-top; padding-top:8px; padding-left:10px; background:url(/work/citibank/images/main/prdAssBul1.gif) no-repeat 2px 11px; }
.prdAssFoodList .foodAss{}
.prdAssFoodList .foodAss dt{ float:left; width:80px; height:20px; background:url(/work/citibank/images/main/prdAssDtBg.gif) no-repeat 0 0; padding-left:20px; padding-top:2px; margin-bottom:5px; font-size:11px;}
.prdAssFoodList .foodAss dd{ height:20px; margin-bottom:5px; padding-top:2px;}

.prdAssFoodInfo{ text-align:center; color:#FF9966}

.prdViewRight .bannerCSINFO{ border:#d4d4d4 solid 1px; padding:7px;}
.prdViewRight .bannerCSINFO .tit{}
.prdViewRight .bannerCSINFO .msg{ background:#f3f3f3; color:#969696; font-size:11px; padding:5px; line-height:16px;}


.prdViewNotice{ margin-bottom:20px;}
.prdViewNotice .tit{ height:38px;}
.prdViewNotice .tit img{vertical-align:middle}
.prdViewNotice .ctn{ background:url(/work/citibank/images/main/prdViewNoticeBg.gif) repeat-y; padding:10px 20px;}
.prdViewNotice .prdViewNoticeList li{ background:url(/work/citibank/images/main/prdViewNoticeBul.gif) no-repeat 0 6px; padding:1px 1px 1px 7px; line-height:14px; }
.prdViewNotice .bot{ background:url(/work/citibank/images/main/prdViewNoticeBot.gif) no-repeat; height:21px;}



.sameItem{ border:#d4d4d4 solid 1px; min-height:426px; _height:426px; margin-bottom:12px;}
.sameItem .sItemBox{ border-top:#e9e9e9 solid 1px; padding:10px; height:61px; overflow:hidden;}
.sameItem .sItemBox .sLeft{ float:left}
.sameItem .sItemBox .sRight{float:right}
.sameItem .sItemBox .thumb{ margin-right:5px;}
.sameItem .sItemBox .thumb img{border:#cccccc solid 1px; vertical-align:middle}
.sameItem .sItemBox .itemName{ width:90px; height:41px; line-height:14px; margin-bottom:4px; overflow:hidden; font-size:11px;}
.sameItem .sItemBox .itemPrice{ width:90px; font-weight:bold;}


#comment_box{float:left;position:absolute;padding:8px;background-color:#fcfcfc;border:2px solid #3399cc;}
#comment_box p, #infoview01 p{font-size:11px;color:#767676;}

.elcBox{ width:720px; margin-bottom:20px; margin-top:20px;}
.elcBox .top{ background:url(/work/citibank/images/main/elcBoxTop.gif) no-repeat; height:10px; line-height:0px; font-size:0px;}
.elcBox .ctn{ background:url(/work/citibank/images/main/elcBoxBg.gif) repeat-y; padding:5px 15px;}
.elcBox .bot{ background:url(/work/citibank/images/main/elcBoxBot.gif) no-repeat; height:10px; line-height:0px; font-size:0px;}
.elcBox .tit{ background:url(/work/citibank/images/main/elcBoxDot.gif) repeat-x bottom; padding-bottom:1px; margin-bottom:10px;}
.elcBox .msg{}
.elcBox .msg li{ background:url(/work/citibank/images/main/elcBoxBul.gif) no-repeat 0 8px; line-height:18px; padding:1px 1px 1px 10px }


.prdGuideTit{ background:url(/work/citibank/images/main/prdViewBul2.gif) no-repeat 0px 4px; padding:1px 1px 1px 10px; line-height:18px; font-weight:bold; color:#000; margin-bottom:15px;}
.prdGuideInfo{ color:#339dcc; font-weight:bold; padding:1px 1px 1px 10px; margin-bottom:15px; }
.prdGuideUlist{ margin-bottom:10px; padding-left:11px;}
.prdGuideUlist li{ background:url(/work/citibank/images/main/prdViewBul3.gif) no-repeat 0px 10px; padding:1px 1px 1px 7px; color:#339dcc; line-height:22px; padding-bottom:10px; }
.prdGuideUlist li li{ background:url(/work/citibank/images/main/prdViewBul4.gif) no-repeat 0px 8px; padding:1px 1px 1px 5px; color:#666; line-height:18px; }









