/* CSS Document */


.discussTit{ height:38px;}
.discussTit .tit{ float:left}
.discussTit .btn{ float:right}
.discussBox{ margin-bottom:30px;}
.discussBox .top{ background:url(/work/lunaPlus/community/images/discussBestBoxTop.gif) no-repeat; height:5px; font-size:0; line-height:0;}
.discussBox .ctn{ background:url(/work/lunaPlus/community/images/discussBestBoxBg.gif) repeat-y; padding:10px 12px;}
.discussBox .bot{ background:url(/work/lunaPlus/community/images/discussBestBoxBot.gif) no-repeat; height:5px; font-size:0; line-height:0;}

.discussHot{ border:none; width:100%;}
.discussHot th,
.discussHot td{ border:none; border-bottom:#e4e4e4 solid 1px; padding:5px 3px 4px 3px ; text-align:center;}
.discussHot .bIco{ width:40px;}
.discussHot .bTit{ text-align:left;}
.discussHot .bTit a{ color:#3c7ebb}
.discussHot .bName{ width:100px;}
.discussHot .bDate{ font-size:10px; font-family:Tahoma; text-align:right; width:30px}



.bbsVote{ background:url(/work/lunaPlus/community/images/discussVote.gif) no-repeat; height:72px; position:relative; margin-bottom:20px;}
.bbsVote .btn{ position:absolute; top:16px; right:130px;}
.bbsVote .btn li{ margin-bottom:2px;}


.fansiteHead{ margin-bottom:20px;}

.fansiteBest{ border:#2b343c solid 1px; padding:19px 0 0 19px; height:117px; margin-bottom:20px;}
.fansiteBest .box{ width:189px; float:left; margin-right:4px;}
.fansiteBest .box .img{ padding:2px; border:#000000 solid 1px; background:#22282a}
.fansiteBest .box .tit{ text-align:center; padding:10px 0;}

.fansiteWrap { border-top:#2f373f solid 2px; margin-bottom:20px;}
.fansiteWrap .box{ background:url(/work/lunaPlus/community/images/fansiteListDot.gif) repeat-x bottom; padding:15px 0 0 0; margin:0}
.fansiteWrap .box .img{ padding:2px; border:#000000 solid 1px; background:#22282a; float:left; margin-bottom:20px;}
.fansiteWrap .box .info{ border:none; width:410px; float:right; margin-bottom:20px;}
.fansiteWrap .box .info th{ border:none; padding:3px 3px 3px 0px; width:100px;  background:url(/work/lunaPlus/community/images/fansiteListBul.gif) no-repeat 0 5px; vertical-align:top; color:#808181}
.fansiteWrap .box .info td{ border:none; padding:3px 3px 3px 0px; color:#808181}
.fansiteWrap .box .info .txt{ font-size:11px; color:#4a5865}
.fansiteWrap .box .info .txt *{ font-size:11px; color:#4a5865}




.userSSTit{ margin-bottom:5px;}
.userBest{ background:url(/work/lunaPlus/community/images/ssHotBg.gif) no-repeat;  padding:22px 0 0 34px; width:556px; overflow:hidden; height:167px; margin-bottom:20px; }
.userSSBox{ width:152px; float:left; margin-right:32px; margin-bottom:15px;}
.userSSBox .img{padding:6px; background:url(/work/lunaPlus/community/images/ssBg.gif) no-repeat;}
.userSSBox .img img{ vertical-align:text-bottom}
.userSSBox .tit{ padding:5px 0 3px 5px; color:#00447b; height:18px; overflow:hidden; line-height:20px; text-align:center;}
.userSSBox .tit *{ color:#00447b}
.userSSBox .info li{ padding:1px 0 1px 5px; color:#497daa; font-size:11px; text-align:center;}
.userSSBox .info li.date{ color:#7f7e7e}
.userSSWrap{padding:30px 0 10px 34px; border-top:#a6bde4 solid 1px;border-bottom:#a6bde4 solid 1px; margin-bottom:10px; overflow:hidden; width:556px;}

.userSSWrap .dotLine{ background:url(/work/lunaPlus/community/images/dotLine.gif) repeat-x center; height:20px; margin-left:-20px; margin-bottom:10px;}





.communityTab{ background:url(/work/lunaPlus/community/images/attackTabBg.gif) no-repeat; height:32px; margin-bottom:20px; padding-left:4px;}
.communityTab li{ float:left}
.communityTab li img{ vertical-align:text-bottom}

.rankTab{ background:url(/work/lunaPlus/community/images/rankTabBg.gif) no-repeat; height:32px; margin-bottom:20px; padding-left:4px;}
.rankTab li{ float:left}
.rankTab li img{ vertical-align:text-bottom}


.rankHead{ background:url(/work/lunaPlus/community/images/rankingHeadBg.gif) no-repeat; height:86px; position:relative; margin-bottom:20px; }
.rankHead *{color:#505a62; font-size:11px;}
.rankHead select{ border:#2c3946 solid 1px; padding:2px; background:#0b1218}
.rankHead input{ border:#2c3946 solid 1px; padding:3px; background:#0b1218}

.rankTab{background:url(/work/lunaPlus/community/images/rankTabBg.gif) no-repeat; height:37px; padding-left:100px; margin-bottom:20px;}
.rankTab li{ float:left}
.rankTab li img{ vertical-align:text-bottom}

.rankTab .depth2{ border-left:#CCCCCC solid 1px;  position:absolute; left:100px; top:42px;}
.rankTab .depth2 li{ font-size:11px; border-right:#CCCCCC solid 1px; padding:1px 10px 0;}
.rankTab .depth2 li.on a{ color:#5ba0e5}

.rankBul1{background:url(/work/lunaPlus/community/images/rankBul1.gif) no-repeat 0 10px; padding:5px 5px 15px 10px;}

.rankList{ border:none; width:100%; border-bottom:1px solid #a6bde4; font:12px Dotum; margin-bottom:15px;}
.rankList thead tr{ background:url(/work/lunaPlus/community/images/hImgBar.gif) no-repeat; height:32px;}

.rankList thead th{ border:none; padding:0 7px; height:30px; line-height:18px; background:url(/work/lunaPlus/images/board/hImgBar.gif) no-repeat -5px;}
.rankList thead th.left{ background:url(/work/lunaPlus/images/board/hImgBar.gif) no-repeat 0px;}
.rankList thead th.right{ background:url(/work/lunaPlus/images/board/hImgBar.gif) no-repeat right 0px;}
.rankList tbody tr{ background:url(/work/lunaPlus/images/board/dotLine.gif) repeat-x bottom;}
.rankList tbody tr.bgNone{ background:none}
.rankList tbody td{ border:none; padding:7px 3px 6px 3px; text-align:center; line-height:18px; border-bottom:#e4e4e4 solid 1px;}

.rankList .bNum{ font-size:11px; font-weight:bold; color:#000000; font-family:Tahoma; width:80px;}
.rankList .bTit{ text-align:left; text-align:center;}
.rankList .bTit strong{ color:#3c7ebb}
.rankList .bg1{ background:none}
.rankList .bg2{ background:#161d23}
.rankList .bName{ font-size:11px;  color:#505a62; }
.rankList .bDate{ font-size:11px; color:#505a62;}
.rankList .bHit{ font-size:11px; color:#505a62;}
.rankList .rNum{font-size:11px; font-weight:normal; color:#989898; font-family:Tahoma; display:inline-block; margin-left:10px;}
.rankList .rNum img{ margin-right:5px;}



.myblogTit{ height:38px; border-bottom:#a6c5e4 solid 2px;}
.myblogTit .tit{ float:left}
.myblogTit .btn{ float:right}
.myblogWrap{ margin-bottom:20px;}
.myblogBox{  padding:20px 0; width:590px; border-bottom:#e4e4e4 solid 1px;}
.myblogBox .img{ background:url(/work/lunaPlus/community/images/myblogSSBg.gif); padding:5px; float:left; margin-right:15px; }
.myblogBox .tit{ font-weight:bold; padding:3px 3px 3px 0px ; font-size:14px; float:left; margin-bottom:5px; line-height:18px;}
.myblogBox .tit a{}
.myblogBox .info{ float:left; width:310px; border:none; padding-left:1px;}















