/* CSS Document */

.eventTab{ background:url(/work/lunaPlus/news/images/eventTabBg.gif) no-repeat; height:32px; margin-bottom:20px; padding-left:4px;}
.eventTab li{ float:left}
.eventTab li img{ vertical-align:text-bottom}

.eventWrap{ margin-bottom:20px;}
.eventBox{  padding:20px 0; width:590px; border-bottom:#e4e4e4 solid 1px;}
.eventBox .img{ background:url(/work/lunaPlus/news/images/eventSSBg.gif); padding:5px; float:left; margin-right:15px; }
.eventBox .tit{ font-weight:bold; color:#3c7ebb; background:url(/work/lunaPlus/news/images/bul01.gif) no-repeat 0 7px; padding:3px 3px 3px 0px ; float:left; margin-bottom:5px; line-height:18px;}
.eventBox .tit a{color:#3c7ebb}
.eventBox .list{ float:left; width:310px; border:none;}
.eventBox .list th{ padding:4px 3px 3px 0px ; border:none; width:60px; line-height:18px; vertical-align:top}
.eventBox .list td{ padding:3px; border:none; line-height:18px; color:#989898; font-size:11px;}
.eventBox .list td.info{color:#7f7e7e}



.reschWrap{ margin-bottom:20px;}
.reschBox{  padding:20px 0; width:590px; border-bottom:#e4e4e4 solid 1px;}
.reschBox .img{ background:url(/work/lunaPlus/news/images/reschSSBg.gif); padding:5px; float:left; margin-right:15px; }
.reschBox .tit{ font-weight:bold; color:#3c7ebb; background:url(/work/lunaPlus/news/images/bul01.gif) no-repeat 0 7px; padding:3px 3px 3px 0px ; float:left; margin-bottom:5px; line-height:18px;}
.reschBox .tit a{color:#3c7ebb}
.reschBox .list{ float:left; width:310px; border:none;}
.reschBox .list th{ padding:4px 3px 3px 0px ; border:none; width:60px; line-height:18px; vertical-align:top}
.reschBox .list td{ padding:3px; border:none; line-height:18px; color:#989898; font-size:11px;}
.reschBox .list td.info{color:#7f7e7e}



.pollBox{ margin-bottom:20px;}
.pollBox .top{ background:url(/work/lunaPlus/news/images/pollBoxTop.gif) no-repeat; width:590px; height:118px; position:relative;}
.pollBox .top .tit{ font-size:16px; font-weight:bold; color:#666666; position:absolute; left:165px; top:23px;}
.pollBox .top .info{  position:absolute; left:165px; top:50px; font-size:11px; line-height:18px; letter-spacing:-1px;}
.pollBox .ctn{ background:url(/work/lunaPlus/news/images/pollBoxBg.gif) repeat-y; padding:20px 30px; }
.pollBox .bot{ background:url(/work/lunaPlus/news/images/pollBoxBot.gif) no-repeat; height:21px; }
.pollBox .pollSelList{ margin:auto; border:none;}
.pollBox .pollSelList th,
.pollBox .pollSelList td{ border:none; padding:8px 3px; background:url(/work/lunaPlus/news/images/pollDotLine.gif) repeat-x bottom;}
.pollBox .pollSelList th{ width:10px;}
.pollBtn{ text-align:center; margin-bottom:40px;}

.pollBox.pView { width:568px; margin:auto; margin-bottom:20px;}
.pollBox.pView .top{ background:url(/work/lunaPlus/news/images/pollBoxViewTop.gif) no-repeat; width:568px; height:118px; position:relative;}
.pollBox.pView .ctn{ background:url(/work/lunaPlus/news/images/pollBoxViewBg.gif) repeat-y; padding:20px 30px; }
.pollBox.pView .bot{ background:url(/work/lunaPlus/news/images/pollBoxViewBot.gif) no-repeat; height:21px; }

.pollBox.pView.pResult .bot{ background:url(/work/lunaPlus/news/images/pollBoxResultBot.gif) no-repeat; height:41px; position:relative; }
.pollBox.pView.pResult .bot .num{ position:absolute; right:30px; top:14px; font-weight:bold; font-weight:11px;}
.pollBox.pView.pResult .bot .num strong{ font-size:11px; color:#3680c8}


.pollRulList{ width:440px; margin:auto;}
.pollRulList dt{ margin-bottom:10px;}
.pollRulList dl{}
.pollRulList dd{ margin:0; padding:0; position:relative; height:10px; margin-bottom:20px;}
.pollRulList dd .pollBar{ position:absolute; left:0px; top:0; width:400px; background:url(/work/lunaPlus/news/images/pollBarBg.gif) repeat-x; height:10px; font-size:0px; line-height:0;}
.pollRulList dd .pollBar .bar{ background:url(/work/lunaPlus/news/images/pollBar.gif) repeat-x; height:10px; font-size:0px; line-height:0;}
.pollRulList dd .rNum{ position:absolute; right:0px; top:0px; line-height:12px; color:#fa4903; font-weight:bold;}













