/* CSS Document */
@import url(button.css);
/* 공통 스타일 */
*{margin:0; padding:0; font-size:12px; font-family: Dotum, Tahoma, Sans-serif; color:#666666}
html,body{}
caption{display:none}
img { border:0; vertical-align:middle; }
input,select {vertical-align:middle}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
ul, ol, li { list-style:none; }
h1, h2, h3, h4, h5, h6, h7 { font-size:100%; font-weight:normal; }
html:first-child select{padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */ 
a:link { color:#666666; text-decoration: none; }
a:visited { color:#666666; text-decoration: none; }
a:active { color:#666666; text-decoration: none; }
a:hover { color:#333333; text-decoration:none; }

.blind {visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
hr{display:none}
fieldset{ border:0; position:relative; clear:both;}
fieldset:after{ content:""; display:block; float:none; clear:both;}
legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}

.aLeft{ text-align:left !important}
.aCenter{ text-align:center !important}
.aRight{ text-align:right !important}
.nobor{ border:none !important}
.size11,
.size11 *{ font-size:11px; !important}
.size12{ font-size:12px; !important}
.size14{ font-size:14px; !important}
.bold{font-weight:bold !important}
.normal{font-weight:normal !important}
.under{ text-decoration:underline !important}

.tcOrange,
.tcOrange *,
.tcOrange a{color:#d2340f}
.tcBlue,
.tcBlue *,
.tcBlue a{color:#1568b6}
.tcBlack,
.tcBlack *,
.tcBlack a{color:#2d2d2d}



.popWarp{ line-height:18px;}
.popWarp p{ margin-bottom:5px;}
.popWarp .headTit{ background:url(images/popTitBg.gif) repeat-x; height: 41px;}
.popWarp .ctn{ padding:28px; background:url(images/popCtnBg.gif) repeat-x;}

.btnList{ text-align:center; padding-bottom:20px;}
.titCenter1{ background:url(images/bul05.gif) no-repeat 1px 11px; padding:4px 1px 4px 8px; line-height:18px; font-weight:bold}




.dTable1{ border:none; margin-bottom:20px; border-top:#e1e1e0 solid 2px;}
.dTable1 td{ border:none; padding:9px 9px 9px 9px; border-bottom:#ececec solid 1px; font-size:11px !important; line-height:18px;}
.dTable1 th{ border:none; padding:9px 9px 9px 9px; border-bottom:#ececec solid 1px; width:115px; text-align:left; background:#f9f9f9; font-size:12px;}
.dTable1 input{ border:#c2c2c2 solid 1px; padding:1px;}
.dTable1 textarea{ border:#c2c2c2 solid 1px; padding:2px; overflow:auto}

.dTable3 { border:none; margin-bottom:20px;  }
.dTable3 th { border:none; padding:5px;  text-align:left;}
.dTable3 strong{ width:90px; display:inline-block; font-size:12px;}
.dTable3 td { border:none; padding:5px }
.dTable3 input { border:#c2c2c2 solid 1px; padding:2px; }
.dTable3 textarea { border:#c2c2c2 solid 1px; padding:2px; overflow:auto }
.dTable3 .text1{ background:url(images/bul03.gif) no-repeat 0 3px; padding:0 0 0 7px; font-size:11px; color:#fa5200; margin-right:5px;}
.dTable3 label{ margin-right:10px;}


.policyBox{ border:#e4e4e4 solid 1px; padding:20px 0 20px 30px; min-height:200px; margin-bottom:20px;}
.policyBox ul{ float:left; margin:0 40px 0 0}
.policyBox ul li{ background:url(images/bul07.gif) no-repeat 0 7px; padding:1px 1px 1px 10px; line-height:18px;}



